@charset "UTF-8";
.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/**
 * 文本对齐方式，左中右两端
 */
.tl {
  text-align: left !important; }

.tc {
  text-align: center !important; }

.tr {
  text-align: right !important; }

/**
 * 文本强制不换行
 */
.text_nowrap {
  white-space: nowrap;
  word-wrap: normal; }

/**
 * 文本强制换行
 */
.text_break {
  white-space: normal;
  word-wrap: break-word; }

/**
 * 文字溢出显示省略号
 * 1. Opera 9-10.6
 * 2. Chrome 21+ bug https://bugs.webkit.org/show_bug.cgi?id=121902
 */
.text_ellipsis {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  /* 1 */
  text-overflow: ellipsis;
  text-align: left;
  /* 2 */ }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hide {
  display: none; }

.w {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto; }

.no_before:before {
  display: none !important; }

.no_after:after {
  display: none !important; }

.no_mt {
  margin-top: 0 !important; }

.no_mr {
  margin-right: 0 !important; }

.no_mb {
  margin-bottom: 0 !important; }

.no_ml {
  margin-left: 0 !important; }

.no_bt {
  border-top: 0 !important; }

.no_br {
  border-right: 0 !important; }

.no_bb {
  border-bottom: 0 !important; }

.no_bl {
  border-left: 0 !important; }

.no_pr {
  padding-right: 0 !important; }

/*版本号*/
.copy {
  padding-bottom: 10px;
  margin: 10px 0 0;
  font-size: 10px;
  line-height: 1.5;
  text-align: center; }
  .copy .feedback_btn {
    font-size: 14px;
    text-decoration: underline; }

.user_impression sup {
  font-size: 10px !important; }

a, abbr, acronym, div, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /*2*/
  -webkit-text-size-adjust: 100%;
  /*2*/
  text-size-adjust: 100%;
  /*2*/ }

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

i, b {
  font-style: normal; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

body, dl, dd,
ul, ol,
h1, h2, h3, h4, h5, h6, pre,
form, fieldset, legend, input, textarea, optgroup,
p, blockquote, figure, hr, menu, dir,
thead, tbody, tfoot, th, td {
  margin: 0;
  padding: 0;
  font-weight: normal; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  word-break: break-all; }

ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, input, button, textarea, p, table, th, td, form {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input {
  outline: none; }

input, select, button, textarea {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53; }

input, select, textarea {
  font-size: 100%; }

body {
  background-color: #f8f8f8;
  font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
  font-size: 62.5%;
  font-size: 10px;
  color: #333;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden; }

.fr {
  float: right;
  *display: inline; }

.fl {
  float: left;
  *display: inline; }

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
[class^="icon-"], [class*=" icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  line-height: 1;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-qiyewenhua:before {
  content: "\e62f"; }

.icon-remen:before {
  content: "\e61a"; }

.icon-shouye:before {
  content: "\e615"; }

.icon-dianhua1:before {
  content: "\e610"; }

.icon-luntan:before {
  content: "\e616"; }

.icon-cuowu1:before {
  content: "\e613"; }

.icon-guanyuwomen:before {
  content: "\e61d"; }

.icon-fenxiang:before {
  content: "\e636"; }

.icon-lishijilu:before {
  content: "\e604"; }

.icon-dizhi:before {
  content: "\e611"; }

.icon-cuowu:before {
  content: "\e614"; }

.icon-chanpinzhanshi:before {
  content: "\e630"; }

.icon-gengduo:before {
  content: "\e607"; }

.icon-shouji:before {
  content: "\e623"; }

.icon-chanpin:before {
  content: "\e637"; }

.icon-wodeziliao:before {
  content: "\e605"; }

.icon-zizhi:before {
  content: "\e631"; }

.icon-aboutus:before {
  content: "\e632"; }

.icon-join:before {
  content: "\e61b"; }

.icon-baocun:before {
  content: "\e638"; }

.icon-fenlei:before {
  content: "\e60c"; }

.icon-sousuo:before {
  content: "\e60d"; }

.icon-fanhuijian:before {
  content: "\e60e"; }

.icon-youjiantou:before {
  content: "\e60f"; }

.icon-checked:before {
  content: "\e627"; }

.icon-duihaoyuanquan:before {
  content: "\e624"; }

.icon-huodong:before {
  content: "\e617"; }

.icon-yan:before {
  content: "\e619"; }

.icon-fankui:before {
  content: "\e620"; }

.icon-info:before {
  content: "\e61c"; }

.icon-xinwen:before {
  content: "\e633"; }

.icon-bankuai:before {
  content: "\e618"; }

.icon-gsjianjie:before {
  content: "\e639"; }

.icon-falv:before {
  content: "\e61e"; }

.icon-svgupdate:before {
  content: "\e625"; }

.icon-lianxiwomen:before {
  content: "\e634"; }

.icon-fengcai:before {
  content: "\e61f"; }

.icon-time-copy:before {
  content: "\e612"; }

.icon-xiangshangjiantou:before {
  content: "\e622"; }

.icon-mianfeibaojia:before {
  content: "\e606"; }

.icon-erweima:before {
  content: "\e600"; }

.icon-dianhua:before {
  content: "\e601"; }

.icon-weixin:before {
  content: "\e602"; }

.icon-qq:before {
  content: "\e603"; }

.icon-shaixuan:before {
  content: "\e608"; }

.icon-huiyuan:before {
  content: "\e609"; }

.icon-xunjia:before {
  content: "\e60a"; }

.icon-xiala:before {
  content: "\e60b"; }

.icon-suo:before {
  content: "\e626"; }

.icon-xiangxiajiantou:before {
  content: "\e628"; }

.icon-jianjie:before {
  content: "\e635"; }

.icon-xunjia1:before {
  content: "\e629"; }

.icon-fenlei1:before {
  content: "\e62a"; }

.icon-bangzhuzhongxin:before {
  content: "\e62b"; }

.icon-gerenzhongxin:before {
  content: "\e62e"; }

.icon-neican:before {
  content: "\e62d"; }

.icon-zhinan:before {
  content: "\e63a"; }

.icon-caigou:before {
  content: "\e63b"; }

.icon-feature:before {
  content: "\e63c"; }

.icon-service:before {
  content: "\e63e"; }

.icon-jifen:before {
  content: "\e63f"; }

.icon-zhanghu:before {
  content: "\e640"; }

#totop {
  position: fixed;
  height: 0px;
  width: 100%;
  right: 5%;
  bottom: 100px;
  margin: 0 auto;
  z-index: 80; }
  #totop span {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px; }
  #totop a {
    right: 20px;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../../Images/icon/icon_totop.png?_nosprite") rgba(0, 153, 51, 0.4) no-repeat;
    -webkit-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    background-size: 50px 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }

#showImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  background: #fff;
  text-align: center;
  z-index: 999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #showImage h4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    text-align: center; }
  #showImage .icon-fanhuijian {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #666; }
  #showImage .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%; }
  #showImage .out_box {
    position: relative;
    height: 100%;
    width: 100%; }

.main {
  color: #093 !important; }

.add_color {
  color: #2e93d7 !important; }

.main_light {
  color: #63bf82 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_bg_light {
  background-color: #63bf82 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_border_light {
  border-color: #63bf82 !important; }

html {
  max-width: 640px;
  margin: 0 auto;
  overflow-x: hidden !important; }

body {
  position: relative;
  letter-spacing: 1px;
  background: #efeff4; }

a {
  color: #333; }

.header {
  position: relative;
  line-height: 45px;
  height: 45px;
  background: #fcfcfc;
  z-index: 19;
  overflow: hidden; }

.header_left, .header_right {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  text-align: center;
  line-height: 45px;
  z-index: 9;
  cursor: pointer; }
  .header_left span, .header_right span {
    color: #999;
    font-size: 2rem;
    line-height: 45px; }

.header_right {
  left: auto;
  right: 0; }
  .header_right span {
    line-height: 45px;
    font-size: 2rem; }

.header_title {
  padding: 0 70px;
  text-align: center;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 1.6rem;
  color: #333; }

.classify {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); }
  .classify ul li {
    width: 25%;
    float: left;
    padding: 15px 0 10px 0; }
    .classify ul li a {
      display: inline-block;
      width: 100%;
      font-size: 1.2rem;
      line-height: 1.2rem;
      color: #fff;
      text-align: center;
      border-right: 1px solid #fff; }
  .classify ul li:nth-child(4) a {
    border: 0; }
  .classify ul li:last-child a {
    border: 0; }

.show {
  display: block; }

.copyright {
  padding: 10px 15px;
  font-size: 1.2rem;
  color: #666;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
