@charset "UTF-8";
.moudle_top_title {
  margin: 20px auto;
  height: 47px;
  line-height: 47px;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  span{
    margin-top: 5px;
    margin-right: 10px;
    a{
      color: #333;
      font-size: 14px;
      &:hover{
        color: #f60;
      }
    }
  }
}

.moudle_top_title>a {
  font-size: 18px;
  color: #333;
  padding-left: 12px;
  font-weight: 600;
}

.moudle_top_title:before {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 0;
  display: inline-block;
  content: "";
  width: 2px;
  height: 18px;
  background-color: #093; }
