@charset "utf-8";
.routeInfo{
  color: #093;
  overflow: hidden;
}

.routeInfo a{
  color:#333;
  line-height: 46px;
}
.routeInfo a:hover{
  color:$activeColor;
}
.routeInfo .now_site span{
  color: #093;
}