@charset "UTF-8";
.fr {
  float: right;
  _display: inline; }

.fl {
  float: left;
  _display: inline; }

.main {
  color: #093 !important; }

.add_color {
  color: #2e93d7; }

.main_light {
  color: #63bf82 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_bg_light {
  background-color: #63bf82 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_border_light {
  border-color: #63bf82 !important; }

.main_hover:hover {
  color: #2e93d7 !important; }

.main_hover a:hover {
  color: #2e93d7 !important; }

.mainbg_hover:hover {
  background-color: #093 !important;
  color: #FFFFFF !important; }
  .mainbg_hover:hover a {
    color: #fff !important; }

.mainbg_hover_light:hover {
  background-color: #63bf82 !important;
  color: #FFFFFF !important; }
  .mainbg_hover_light:hover a {
    color: #fff !important; }

.mainbd_hover:hover {
  border-color: #093 !important; }

.main_focus:focus {
  border-color: #093 !important; }

.page_list {
  padding: 20px 0;
  text-align: center;
  height: 32px;
  line-height: 33px;
  font-size: 14px; }
  .page_list a {
    display: inline-block;
    margin-right: 3px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0px 11px;
    background-color: #fff;
    color: #888;
    border: 1px solid #e4e4e4; }
  .page_list span {
    display: inline-block; }
  .page_list input {
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    border: 1px solid #e4e4e4;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .page_list b {
    margin-right: 10px; }

.page_submit {
  margin-left: 10px;
  width: 45px;
  height: 27px;
  text-align: center;
  line-height: 25px;
  background: #fff;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page_list .no_all_b {
  border: 0 !important;
  padding: 0 !important;
  background-color: transparent; }

/*
<div class="page_list ">
<p>
<a class="prev_page" href="#">上一页</a>
<a class="main_bg_light main_border_light" href="#">1</a>
<a  href="#">2</a>
<a  href="#">3</a>
<a  href="#">4</a>
<a class="next_page no_marginR" href="#">下一页</a>
<span>&nbsp;共2页&nbsp;到第</span>
<input type="text" onkeyup="value=value.replace(/[^\d/g]/,'')">
<span>页</span>
<span class="page_submit mainbg_hover">确认</span>
</p>
</div>*/
a {
  color: #333; }

.collect_ele {
  padding: 25px 0;
  border-bottom: 1px solid #e4e4e4; }

.collect_ele_img {
  float: left;
  position: relative;
  width: 165px;
  height: 165px;
  margin-right: 25px; }
  .collect_ele_img img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 165px;
    max-height: 165px; }

.collect_container {
  float: left;
  width: 645px; }
  .collect_container > h4 {
    font-size: 18px;
    margin-top: 20px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 1.5em; }
  .collect_container .collect_price {
    margin: 10px 0 10px;
    font-size: 15px; }
    .collect_container .collect_price span {
      float: left;
      width: 100px; }
    .collect_container .collect_price i {
      color: #666; }
  .collect_container p {
    font-size: 15px; }
  .collect_container .collect_intro {
    float: left;
    line-height: 25px;
    width: 100px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical; }
  .collect_container .collect_detail {
    float: left;
    width: 545px; }

.collect_operation {
  float: right;
  width: 170px; }
  .collect_operation p {
    margin-top: 35px; }
    .collect_operation p span {
      display: block;
      width: 37px;
      height: 37px;
      font-size: 25px;
      color: #999;
      text-align: center;
      line-height: 37px;
      margin-left: 20px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -moz-transition: all 0.2s ease;
      /* Firefox 4 */
      -webkit-transition: all 0.2s ease;
      /* Safari 和 Chrome */
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .collect_operation p span:hover {
        color: #666; }

.phone_btn {
  -moz-transition: all 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: all 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .phone_btn:hover {
    filter: alpha(opacity=85);
    /* IE */
    -moz-opacity: 0.85;
    /* 老版Mozilla */
    -khtml-opacity: 0.85;
    /* 老版Safari */
    opacity: 0.85;
    /* 支持opacity的浏览器*/ }

.xunjia_btn {
  background: #F8F8F8;
  -moz-transition: all 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: all 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .xunjia_btn:hover {
    background-color: #e4e4e4; }

.page_list {
  margin-top: 40px; }

.collect_operation .icon-yishixiao {
  display: block;
  width: 100%;
  font-size: 60px;
  color: #e00a2d;
  text-indent: 65px; }

.online .submit_btn {
  font-family: '\5fae\8f6f\96c5\9ed1'; }
