@charset "UTF-8";
@import "../../lib/lib";

@import "../../module/usercenter_style";
@import "../../module/recommend";
@import "../../module/pagelist";
@import "../../module/empty";


.evaluate_content{
  border-bottom:1px solid #e4e4e4;
}
.evaluate_nav{
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  height: 60px;
  line-height: 40px ;
  background: #ffe0eb;
  -webkit-box-shadow: 0 10px 20px #f8f8f8;
  -moz-box-shadow: 0 10px 20px #f8f8f8;
  box-shadow: 0 10px 20px #f8f8f8;
  span{
    display: inline-block;
    padding-top: 10px;
    margin-right: 40px;
    border-bottom:1px solid transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.evaluate_title{
  padding:10px 0 20px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  li{
    float: left;
  }
}
.evaluate_score{
  width: 240px;
}
.evaluate_detail{
  width: 500px;
}
.evaluate_pro{
  width: 460px;
}
.evaluate_operate{
  width: 180px;
  text-align: center;
}
.evaluate_ele{
  padding:20px 0;
  li{
    float: left;
    display: table;
    text-align: center;
    height: 100px;
    >div{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .evaluate_score{
    font-size: 14px;
    span{
      display: inline-block;
      margin-right: 3px;
      line-height: 25px;
      color: #aaa;
    }
  }
  .evaluate_detail{
    padding:0 50px;
    font-size: 13px;
    line-height: 20px;
    color: #888888;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    >div{
      max-height: 100px;
      overflow: hidden;
    }
  }
  .evaluate_pro{
    padding:0 50px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   img{
     float: left;
     width: 100px!important;
     height: 100px!important;
   }
    .evaluate_pro_info{
      float: left;
      width: 220px;
      padding: 0 15px 0 25px;
    }
    .evaluate_pro_intro{
      font-size: 14px;
      line-height: 23px;
      color: #666;
      max-height: 46px;
      @include ell(2);
    }
    .evaluate_pro_spec{
      font-size: 12px;
      line-height:18px;
      max-height: 54px;
      @include ell(3);
      color: #888;
      span{
        margin-right: 15px;
      }
    }
  }
  .evaluate_operate{
    font-size: 14px;
    line-height: 30px;
      a{
        display: block;
        width: 120px;
        height: 30px;
        margin:0 auto;
    }
  }
}
.to_evaluate{
  .evaluate_operate{
    float: right;
  }
}
.empty{
  border-bottom:1px solid #e4e4e4;
}
.empty > div i{
  font-size: 60px;
}

//评论详情
.evaluate_container{
  position: relative;
  overflow: hidden;
  margin:20px 40px 0;
  background: #ffeff5;
}
.detail_intro{
  float: left;
  width: 105px;
  height: 30px;
  text-align: right;
  font-size: 15px;

}
.to_score{
  padding:20px 0;
  line-height: 30px;
  .score_star{
    color: #ccc;
    i{
      margin-right: 3px;
      font-size:16px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .score_result{
      margin-right: 3px;
      color: #666;
      font-size: 14px;
    }
  }
}
.evaluate_detail_info{
  position: relative;
  textarea{
    width: 950px;
    height: 182px;
    resize: none;
    border: 1px solid #e4e4e4;
    font-size: 13px;
    line-height: 25px;
    padding: 5px 10px;
    outline-style:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .evaluate_tip{
    position: absolute;
    bottom: 10px;;
    right: 75px;
    font-size: 14px;
    color: #888;
  }
}
.submit_evaluate{
  margin: 30px 0;
  span{
    float: left;
  }
  .submit_evaluate_btn{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}