.route {
  line-height: 40px;
  font-size: 14px; }
  .route span {
    margin: 0 0.2em;
    font-family: sans-serif; }

.personal_center .left_side {
  width: 210px;
  min-height: 840px;
  padding: 30px 10px;
  background-color: #fff; }
  .personal_center .left_side h1 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #333; }
  .personal_center .left_side ul {
    padding: 10px 0; }
    .personal_center .left_side ul li {
      height: 32px;
      line-height: 32px;
      text-align: center; }
      .personal_center .left_side ul li a {
        font-size: 14px; }

.right_side {
  width: 800px;
  min-height: 870px;
  padding: 0 30px 30px;
  background-color: #fff; }
  .right_side .item_title {
    height: 70px;
    line-height: 70px;
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e4e4e4; }

.drop_menu {
  float: left;
  margin-right: 5px;
  font-size: 14px;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e4e4e4;
  position: relative;
  text-align: center;
  cursor: pointer;
  position: relative; }
  .drop_menu .drop_show {
    width: 93px;
    height: 40px;
    line-height: 40px;
    word-break: break-all;
    overflow: hidden;
    padding-left: 7px; }
  .drop_menu .active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .drop_menu .drop_arrow, .drop_menu .drop_arrow:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    border: 8px solid transparent;
    border-top: 8px solid #ccc;
    webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -ms-transform-origin: 50% 20%;
    -o-transform-origin: 50% 20%;
       transform-origin: 50% 20%; }
  .drop_menu .drop_arrow:after {
    margin-top: -10px;
    right: -8px;
    border-top-color: #fff; }
  .drop_menu .drop_list {
    position: absolute;
    top: 42px;
    left: -1px;
    z-index: 9999;
    width: 132px;
    height: 200px;
    overflow-y: auto;
    display: none;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4; }
    .drop_menu .drop_list li {
      padding-left: 2px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid #e4e4e4;
      border-top: 0;
      word-break: break-all;
      overflow: hidden; }
      .drop_menu .drop_list li:hover {
        background-color: #f8f8f8; }

/*c_gotop*/
#totop {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 1000; }

.pro_name {
  width: 271px; }

.pro_code {
  width: 234px; }

.pro_time {
  width: 235px; }

.pro_title {
  padding: 0 20px; }
  .pro_title li {
    float: left;
    font-size: 16px;
    color: #666;
    height: 50px;
    line-height: 50px;
    text-align: center; }
  .pro_title .pro_name {
    text-align: left !important;
    text-indent: 30px; }

.pro_info {
  margin-top: 20px; }

.pro_wrap {
  display: table;
  padding: 20px; }

.pro_name,
.pro_code,
.pro_time {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.pro_name .pro_img {
  display: inline-block;
  width: 92px;
  height: 92px;
  overflow: hidden; }
  .pro_name .pro_img img {
    width: 92px;
    height: 92px; }

.pro_name .pro_text {
  padding: 10px 10px 0;
  text-align: left;
  width: 150px; }
  .pro_name .pro_text a {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: #333; }
  .pro_name .pro_text p {
    font-size: 12px;
    width: 150px;
    max-height: 36px;
    overflow: hidden;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }

.apply_type {
  margin-top: 50px; }
  .apply_type label {
    float: left;
    font-size: 16px;
    color: #333;
    width: 80px;
    height: 40px;
    line-height: 40px; }
  .apply_type .drop_list {
    height: 82px;
    border-bottom: 0; }

.apply_reason {
  margin-top: 20px; }
  .apply_reason label {
    font-size: 16px;
    color: #333;
    width: 80px;
    display: inline-block; }
  .apply_reason textarea {
    display: inline-block;
    font-size: 14px;
    width: 490px;
    padding: 5px;
    height: 140px;
    border: 1px solid #e4e4e4;
    resize: none;
    vertical-align: top; }
  .apply_reason .btn {
    float: left;
    margin-left: 80px;
    margin-top: 20px; }
