@charset "UTF-8";
@import "../../lib/_mixin";
@import "../../module/routenav";
@import "../../module/usercenter";
@import "../../module/totop";
.change_password{
  width: 400px;
  margin: 40px auto 0;
  .title{
    padding-bottom: 20px;
    color: #333;
    font-size: 16px;
  }
  .ipt{
    span{
      display: inline-block;
      width: 85px;
      font-size: 14px;
      color: #666;
      text-align: right;
      padding-right: 15px;
    }
  }
  input{
    width: 288px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #e4e4e4;
    padding: 3px 5px;
    font-size: 14px;
    @include transition(border,0.2s,ease);
  }
  .btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
  }
  .tips{
    width: 400px;
    height: 20px;
    line-height: 20px;
    visibility: hidden;
    padding: 5px 0 5px 100px;
  }
  .submit{
    margin-top:20px;
  }
}