.route {
  line-height: 40px;
  font-size: 14px; }
  .route span {
    margin: 0 0.2em;
    font-family: sans-serif; }

.personal_center .left_side {
  width: 210px;
  min-height: 840px;
  padding: 30px 10px;
  background-color: #fff; }
  .personal_center .left_side h1 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #333; }
  .personal_center .left_side ul {
    padding: 10px 0; }
    .personal_center .left_side ul li {
      height: 32px;
      line-height: 32px;
      text-align: center; }
      .personal_center .left_side ul li a {
        font-size: 14px; }

.right_side {
  width: 800px;
  min-height: 870px;
  padding: 0 30px 30px;
  background-color: #fff; }
  .right_side .item_title {
    height: 70px;
    line-height: 70px;
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e4e4e4; }

.page {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 30px\9;
  margin: 30px auto 0; }

.page a, .c_page_text, .c_page_btn {
  display: inline-block;
  font-size: 12px;
  padding: 0 12px;
  line-height: 30px;
  border: 1px solid #e0e0e0;
  color: #999;
  margin-right: 5px;
  cursor: pointer;
  font-family: "SimSun"; }

.page a.now_page:hover {
  cursor: default;
  color: #999; }

.page a:hover {
  color: #ff6700;
  background-color: #fff;
  border-color: #ff6700; }

.page a.active {
  background: #fff;
  color: #e1e1e1; }

.page a.current {
  background: #ff6700;
  color: #fff;
  border-color: #ff6700;
  cursor: default; }

.page span {
  padding-left: 25px; }

.c_page_text {
  width: 16px;
  background: #fff; }

.c_page_btn {
  font-family: "Microsoft YaHei", serif; }

.no_have {
  height: 300px;
  line-height: 300px;
  text-align: center;
  font-size: 14px; }
  .no_have a:hover {
    text-decoration: underline; }

/*c_gotop*/
#totop {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 1000; }

.evaluate_items span {
  color: #333;
  cursor: pointer; }

.evaluate_items .line {
  width: 1px;
  height: 18px;
  margin: 0 10px;
  display: inline-block;
  background-color: #e4e4e4;
  vertical-align: middle;
  cursor: none; }

.eval_name {
  width: 275px; }

.eval_cont {
  width: 252px; }

.eval_score {
  width: 153px; }

.eval_operate {
  width: 80px; }

.evaluate_title {
  padding: 10px 20px; }
  .evaluate_title li {
    height: 50px;
    font-size: 16px;
    color: #666;
    line-height: 50px;
    text-align: center; }
  .evaluate_title .eval_name {
    text-align: left;
    text-indent: 20px; }

.evaluate_wrap {
  display: table;
  padding: 20px;
  width: 760px;
  border-bottom: 1px dotted #e4e4e4; }

.eval_name,
.eval_cont,
.eval_score,
.eval_operate {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.evaluate_wrap .eval_name .pro_img {
  display: inline-block;
  width: 92px;
  height: 92px;
  overflow: hidden; }
  .evaluate_wrap .eval_name .pro_img img {
    width: 92px;
    height: 92px; }

.evaluate_wrap .eval_name .pro_text {
  padding: 10px 10px 0;
  text-align: left;
  width: 150px; }
  .evaluate_wrap .eval_name .pro_text a {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: #333; }
  .evaluate_wrap .eval_name .pro_text p {
    font-size: 12px;
    width: 150px;
    max-height: 36px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }

.evaluate_wrap .eval_cont {
  font-size: 14px;
  padding: 0 30px;
  width: 212px; }

.evaluate_wrap .eval_score {
  text-align: center; }
  .evaluate_wrap .eval_score i {
    font-size: 16px;
    vertical-align: middle;
    color: #e4e4e4; }
  .evaluate_wrap .eval_score em {
    font-size: 12px;
    padding-left: 10px;
    vertical-align: middle; }

.wait_evaluate .wait_evaluate_name {
  float: left; }

.wait_evaluate .wait_evaluate_operate p {
  padding-bottom: 5px; }
