@charset "UTF-8";
@import "../../module/routenav";
@import "../../module/usercenter";
@import "../../module/page";
@import "../../module/nohave";
@import "../../module/totop";
.evaluate_items{
  span{
    color: #333;
    cursor: pointer;
  }
  .line{
    width: 1px;
    height: 18px;
    margin: 0 10px;
    display: inline-block;
    background-color: #e4e4e4;
    vertical-align: middle;
    cursor: none;
  }
}
.eval_name{
  width: 275px;
}
.eval_cont{
  width: 252px;
}
.eval_score{
  width: 153px;
}

.eval_operate{
  width: 80px;
}



//已经评论
.evaluate_title{
  padding: 10px 20px;
  li{
    height: 50px;
    font-size: 16px;
    color: #666;
    line-height: 50px;
    text-align: center;
  }
  .eval_name{
    text-align: left;
    text-indent: 20px;
  }
}

.evaluate_wrap{
  display: table;
  padding: 20px;
  width: 760px;
  border-bottom: 1px dotted #e4e4e4;
}

.eval_name,
.eval_cont,
.eval_score,
.eval_operate{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.evaluate_wrap .eval_name{
  .pro_img{
    display: inline-block;
    width: 92px;
    height: 92px;
    overflow: hidden;
    img{
      width: 92px;
      height: 92px;
    }
  }
  .pro_text{
   padding: 10px 10px 0;
    text-align: left;
    width: 150px;
      a{
        display: inline-block;
        width: 150px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        color: #333;
      }
    p{
      font-size: 12px;
      width: 150px;
      max-height: 36px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
.evaluate_wrap .eval_cont{
  font-size: 14px;
  padding: 0 30px;
  width: 212px;
}
.evaluate_wrap .eval_score{
  text-align: center;
  i{
    font-size: 16px;
    vertical-align: middle;
    color: #e4e4e4;
  }

  em{
    font-size: 12px;
    padding-left: 10px;
    vertical-align: middle;
  }
}

//待评价

.wait_evaluate .wait_evaluate_name{
  float: left;
}
.wait_evaluate .wait_evaluate_operate{

  p{
    padding-bottom: 5px;
  }
}