@charset "UTF-8";
.route {
  line-height: 40px;
  font-size: 14px; }
  .route span {
    margin: 0 0.2em;
    font-family: sans-serif; }

.personal_center .left_side {
  width: 210px;
  min-height: 500px;
  padding: 30px 10px;
  background-color: #fff; }
  .personal_center .left_side h1 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #333; }
  .personal_center .left_side ul {
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4; }
    .personal_center .left_side ul li {
      height: 32px;
      line-height: 32px;
      text-align: center; }
      .personal_center .left_side ul li a {
        font-size: 14px; }

.right_side {
  width: 800px;
  padding: 0 30px 20px;
  background-color: #fff; }
  .right_side .item_title {
    height: 70px;
    line-height: 70px;
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e4e4e4; }

.page {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 30px\9;
  margin: 30px auto 0; }

.page a, .c_page_text, .c_page_btn {
  display: inline-block;
  font-size: 12px;
  padding: 0 12px;
  line-height: 30px;
  border: 1px solid #e0e0e0;
  color: #999;
  margin-right: 5px;
  cursor: pointer;
  font-family: "SimSun";
  -moz-transition: all 0.1s ease-out;
  /* Firefox 4 */
  -webkit-transition: all 0.1s ease-out;
  /* Safari 和 Chrome */
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

.page a.now_page:hover {
  cursor: default;
  color: #999; }

.page a:hover {
  color: #ff6700;
  background-color: #fff;
  border-color: #ff6700; }

.page a.active {
  background: #fff;
  color: #e1e1e1; }

.page a.current {
  background: #ff6700;
  color: #fff;
  border-color: #ff6700;
  cursor: default; }

.page span {
  padding-left: 25px; }

.c_page_text {
  width: 16px;
  background: #fff; }

.c_page_btn {
  font-family: "Microsoft YaHei", serif; }

.evaluate_title {
  padding-left: 0 !important; }
  .evaluate_title a {
    padding: 0 25px;
    border-right: 1px solid #e4e4e4;
    color: #333; }

.eval_name {
  width: 235px; }

.eval_cont {
  width: 200px; }

.eval_score {
  width: 245px; }

.eval_score {
  width: 120px; }

.evaluate_title {
  border-bottom: 1px dotted #e4e4e4; }
  .evaluate_title li {
    float: left;
    height: 50px;
    font-size: 14px;
    color: #333;
    line-height: 50px;
    text-align: center; }

.collect_box {
  display: table;
  padding: 20px;
  border-bottom: 1px dotted #e4e4e4; }

.collect_inner {
  display: table-row; }

.eval_name,
.eval_cont,
.eval_score,
.eval_score {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.pro_name .pro_img {
  display: inline-block;
  width: 92px;
  height: 92px;
  overflow: hidden; }
  .pro_name .pro_img img {
    width: 92px;
    height: 92px; }
.pro_name .pro_text {
  padding-left: 20px;
  text-align: left; }
  .pro_name .pro_text a {
    display: inline-block;
    width: 150px;
    height: 92px;
    line-height: 92px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

.pro_operate .cancel {
  margin-top: 15px;
  border: 1px solid #e4e4e4; }

/*# sourceMappingURL=my_evaluate.css.map */
