.route {
  line-height: 40px;
  font-size: 14px; }
  .route span {
    margin: 0 0.2em;
    font-family: sans-serif; }

.personal_center .left_side {
  width: 210px;
  min-height: 840px;
  padding: 30px 10px;
  background-color: #fff; }
  .personal_center .left_side h1 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #333; }
  .personal_center .left_side ul {
    padding: 10px 0; }
    .personal_center .left_side ul li {
      height: 32px;
      line-height: 32px;
      text-align: center; }
      .personal_center .left_side ul li a {
        font-size: 14px; }

.right_side {
  width: 800px;
  min-height: 870px;
  padding: 0 30px 30px;
  background-color: #fff; }
  .right_side .item_title {
    height: 70px;
    line-height: 70px;
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e4e4e4; }

/*c_gotop*/
#totop {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 1000; }

.evaluate_title span {
  color: #333;
  cursor: pointer; }

.evaluate_title .line {
  width: 1px;
  height: 18px;
  margin: 0 10px;
  display: inline-block;
  background-color: #e4e4e4;
  vertical-align: middle;
  cursor: none; }

.evaluate_area {
  margin-top: 50px;
  padding: 0 20px; }
  .evaluate_area .pro_info {
    width: 180px;
    border-right: 1px solid #e4e4e4; }
    .evaluate_area .pro_info .pro_img {
      width: 92px;
      height: 92px;
      display: block; }
      .evaluate_area .pro_info .pro_img img {
        width: 92px;
        height: 92px;
        display: block; }
    .evaluate_area .pro_info .pro_name {
      display: inline-block;
      width: 150px;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      color: #333;
      line-height: 24px; }
    .evaluate_area .pro_info p {
      font-size: 12px;
      width: 150px;
      max-height: 36px;
      overflow: hidden;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }

.evaluate_fill {
  width: 550px; }
  .evaluate_fill label {
    font-size: 14px;
    padding-right: 5px; }
  .evaluate_fill .score {
    padding-bottom: 15px; }
    .evaluate_fill .score i {
      width: 16px;
      height: 16px;
      display: inline-block;
      cursor: pointer;
      font-size: 16px;
      color: #e4e4e4; }
    .evaluate_fill .score em {
      font-size: 12px;
      padding-left: 10px;
      vertical-align: 2px; }
  .evaluate_fill .comment label {
    float: left; }
  .evaluate_fill .comment textarea {
    float: left;
    font-size: 14px;
    width: 490px;
    padding: 5px;
    height: 140px;
    border: 1px solid #e4e4e4;
    resize: none;
    vertical-align: top; }
  .evaluate_fill .comment p {
    text-align: right; }
    .evaluate_fill .comment p b {
      display: none; }
  .evaluate_fill .btn {
    float: right;
    margin-top: 30px; }
