.drop_menu {
  float: left;
  margin-right: 5px;
  font-size: 14px;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e4e4e4;
  position: relative;
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .drop_menu .drop_show {
    padding-right: 30px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .drop_menu .active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .drop_menu .drop_arrow, .drop_menu .drop_arrow:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    border: 8px solid transparent;
    border-top-color: #ccc;
    webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -ms-transform-origin: 50% 20%;
    transform-origin: 50% 20%; }
  .drop_menu .drop_arrow:after {
    margin-top: -10px;
    right: -8px;
    border-top-color: #fff; }
  .drop_menu .drop_list {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 9999;
    width: inherit;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4; }
    .drop_menu .drop_list li {
      padding-left: 2px;
      height: inherit;
      line-height: inherit;
      text-align: center;
      border: 1px solid #e4e4e4;
      border-bottom: 0;
      word-break: break-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

.l_main {
  margin-top: 40px; }

.left_content {
  width: 240px;
  margin-right: 15px;
  min-height: 800px;
  overflow: hidden;
  background-color: #fff; }

.user_head {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
  .user_head .user_head_img {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: #f8f8f8;
    overflow: hidden; }
    .user_head .user_head_img img {
      display: block;
      width: 100%;
      height: 120px;
      border-radius: 120px; }
  .user_head .user_name {
    max-width: 60%;
    margin: 5px auto 0;
    font-size: 14px;
    text-align: center; }

.user_nav dt {
  padding-left: 47px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  color: #333;
  background-color: #f7f7f7; }
  .user_nav dt:before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #999;
    vertical-align: middle; }
.user_nav dd a {
  display: block;
  margin-bottom: 1px;
  padding-left: 70px;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  border-left: 2px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.right_content {
  width: 945px;
  min-height: 800px; }

.right_title {
  padding: 25px 35px 0;
  background-color: #fff; }
  .right_title h3 {
    padding-bottom: 8px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e4e4e4; }

.empty_box {
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  text-align: center;
  background-color: #fff; }
  .empty_box span {
    width: 100%;
    text-align: center;
    -webkit-align-self: center;
    align-self: center;
    -ms-flex-item-align: center;
    font-size: 18px;
    color: #333; }

.select_nav {
  padding: 25px 70px;
  background-color: #fff;
  height: 35px; }
  .select_nav .drop_menu {
    width: 180px; }

.select_items {
  background-color: #fff;
  padding: 0 70px; }
  .select_items .page_list {
    text-align: right; }

.col {
  display: table-cell;
  *display: inline-block;
  vertical-align: middle; }

.refund_content {
  padding: 45px 85px;
  background-color: #fff; }
  .refund_content h3 {
    font-size: 14px;
    color: #333; }

.refund_status_box {
  width: 630px;
  margin: 35px auto; }
  .refund_status_box li {
    float: left;
    color: #666;
    font-size: 14px;
    width: 210px;
    border-top: 3px solid #e4e4e4;
    text-align: center; }
    .refund_status_box li span {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      margin: 0 auto;
      position: relative;
      top: -15px;
      color: #666;
      background-color: #e4e4e4;
      border: 3px solid #e4e4e4; }
  .refund_status_box li.current {
    border-color: #093; }
    .refund_status_box li.current span {
      background-color: #fff;
      border-color: #093;
      color: #093; }

.refund_title {
  height: 50px;
  line-height: 50px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333; }
  .refund_title .refund_good {
    text-indent: 35px; }

.refund_good {
  width: 303px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .refund_good .good_img {
    width: 55px;
    height: 55px;
    overflow: hidden; }
    .refund_good .good_img > img {
      width: 55px;
      height: 55px; }
  .refund_good .good_test {
    padding-left: 10px;
    font-size: 14px;
    color: #333; }
    .refund_good .good_test p {
      width: 180px; }

.refund_style {
  width: 122px;
  text-align: center; }

.refund_status {
  width: 155px;
  text-align: center; }

.refund_detail {
  width: 195px;
  text-align: center; }

.refund_items {
  padding: 25px 0;
  font-size: 14px;
  background-color: #f8f8f8; }
  .refund_items .refund_good {
    padding-left: 20px; }

/*# sourceMappingURL=refund_detail.css.map */
