@charset "UTF-8";
@import "../mobile_moudle/lib";
@import "../mobile_moudle/moudle/_strategy_top";
@import "../mobile_moudle/moudle/usercenter_collectnav";
/*案例列表*/
.case_ele{
  width: 100%;
  padding: 10px 3%;
  margin: 10px 0;
  background: #FFFFFF;
  @include box-sizing();
  img{
    display: block;
    width: 100%!important;
  }
  p{
    font-size: 0.8rem;
    color: #888;
    span{
      display: inline-block;
      height: 14px;
      padding:0 5px;
      border-right: 1px solid #888;
    }
    i{
      display: block;
      margin-top: -2px;
    }
  }
}
.case_title{
  position: relative;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #333333;
  line-height: 30px;
  h4{
    width: 80%;
    @include ell(1);
  }
  span{
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: #093;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 0.7rem;
    text-align: center;
  }
}   
