@charset "UTF-8";
@import "../../Css/mobile_moudle/lib";
@import "../mobile_moudle/moudle/_strategy_top";

.main_con{
  margin-top: 10px;
}

//绑定流程
.bind_flow{
  margin-bottom: 10px;
  background: white;
  height: 113px;
  padding-top: 15px;
  position: relative;
  .dashed{
    height: 2px;
    background: url("../../../Images/mobile/usercenter/sprite_registerandtel.png") 0 -125px;
    -webkit-background-size: 35px;
    background-size: 35px;
    width: 65%;
    position: absolute;
    top: 33px;
    left: 15%;
  }
  ul{
    li{
      float: left;
      width: 33%;
      text-align: center;
      i{
        margin: 0 auto;
        display: block;
        width: 40px;
        height: 40px;
        background: url("../../../Images/mobile/usercenter/sprite_registerandtel.png") 0 -104px;
        -webkit-background-size: 40px;
        background-size: 40px;
        margin-bottom:14px ;
        position: relative;
        z-index: 3;
      }
      p{
        font-size: 14px ;
        color:black ;
        line-height:25px;
      }
    }
  }
}
.bind_flow .current_flow{
  i{
    background: url("../../../Images/mobile/usercenter/sprite_registerandtel.png") 0 -56px;
    -webkit-background-size: 40px;
    background-size: 40px;
  }
  p{
    color: #093;
  }
}
.bind_flow .flow_done{
  @extend .current_flow;
}