@charset "UTF-8";
@import "../../Css/mobile_moudle/lib";
@import "../mobile_moudle/moudle/_strategy_top";

.main_con{
  margin-top: 10px;
}

//绑定流程
.bind_flow{
  margin-bottom: 10px;
  background: white;
  height: 113px;
  padding-top: 15px;
  position: relative;
  .dashed{
    height: 2px;
    background: url("../../../Images/mobile/usercenter/sprite_registerandtel.png") 0 -125px;
    -webkit-background-size: 35px;
    background-size: 35px;
    width: 65%;
    position: absolute;
    top: 33px;
    left: 15%;
  }
  ul{
    li{
      float: left;
      width: 33%;
      text-align: center;
      i{
        margin: 0 auto;
        display: block;
        width: 40px;
        height: 40px;
        background: url("../../../Images/mobile/usercenter/sprite_registerandtel.png") 0 -104px;
        -webkit-background-size: 40px;
        background-size: 40px;
        margin-bottom:14px ;
        position: relative;
        z-index: 3;
      }
      p{
        font-size: 14px ;
        color:black ;
        line-height:25px;
      }
    }
  }
}
.bind_flow .current_flow{
  i{
    background: url("../../../Images/mobile/usercenter/sprite_registerandtel.png") 0 -56px;
    -webkit-background-size: 40px;
    background-size: 40px;
  }
  p{
    color: #093;
  }
}

//当前绑定手机和验证码
.current_tel{
  height: 108px;
  background: white;
  p{
    text-indent: 2em;
    border-bottom: 1px solid #e4e4e4;
    span{
      font-size: 14px ;
      color:black ;
      height: 50px;
      line-height:50px;
      margin-right: 8px;
    }
    em{
      font-size: 12px ;
      color:#ccc;
    }
  }
}
.yanzhengma{
  height: 60px;
  text-indent: 2em;
  span{
    float: left;
    font-size: 14px ;
    color:black ;
    height: 60px;
    line-height:60px;
    margin-right: 8px;
  }
  input{
    float: left;
    margin-top: 10px;
    font-size: 12px ;
    color:#888 ;
    height: 40px;
    line-height:40px;
  }
  .yanma1{
    width: 35%;
    background: #f8f8f8;
    border: none;
    padding: 5px 5px;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    margin-right: 5%;

  }
  .yanma2{
    border: 1px solid #e4e4e4;
    width: 30%;
    background: white;
    font-size: 14px;
  }
}
.next_btn{
  width: 200px;
  height: 40px;
  background: #093;
  margin: 10px auto;
  a{
    width: 200px;
    height: 40px;
    display: inline-block;
    font-size: 16px ;
    color:white ;
    line-height:40px;
    text-align: center;
  }
}