@charset "UTF-8";
.fr {
  float: right;
  _display: inline; }

.fl {
  float: left;
  _display: inline; }

.main {
  color: #093 !important; }

.add_color {
  color: #2e93d7; }

.main_light {
  color: #63bf82 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_bg_light {
  background-color: #63bf82 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_border_light {
  border-color: #63bf82 !important; }

.main_hover:hover {
  color: #2e93d7 !important; }

.main_hover a:hover {
  color: #2e93d7 !important; }

.mainbg_hover:hover {
  background-color: #093 !important;
  color: #FFFFFF !important; }
  .mainbg_hover:hover a {
    color: #fff !important; }

.mainbg_hover_light:hover {
  background-color: #63bf82 !important;
  color: #FFFFFF !important; }
  .mainbg_hover_light:hover a {
    color: #fff !important; }

.mainbd_hover:hover {
  border-color: #093 !important; }

.main_focus:focus {
  border-color: #093 !important; }

.page_list {
  padding: 20px 0;
  text-align: center;
  height: 32px;
  line-height: 33px;
  font-size: 14px; }
  .page_list a {
    display: inline-block;
    margin-right: 3px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0px 11px;
    background-color: #fff;
    color: #888;
    border: 1px solid #e4e4e4; }
  .page_list span {
    display: inline-block; }
  .page_list input {
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    border: 1px solid #e4e4e4;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .page_list b {
    margin-right: 10px; }

.page_submit {
  margin-left: 10px;
  width: 45px;
  height: 27px;
  text-align: center;
  line-height: 25px;
  background: #fff;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page_list .no_all_b {
  border: 0 !important;
  padding: 0 !important;
  background-color: transparent; }

/*
<div class="page_list ">
<p>
<a class="prev_page" href="#">上一页</a>
<a class="main_bg_light main_border_light" href="#">1</a>
<a  href="#">2</a>
<a  href="#">3</a>
<a  href="#">4</a>
<a class="next_page no_marginR" href="#">下一页</a>
<span>&nbsp;共2页&nbsp;到第</span>
<input type="text" onkeyup="value=value.replace(/[^\d/g]/,'')">
<span>页</span>
<span class="page_submit mainbg_hover">确认</span>
</p>
</div>*/
.recruit {
  padding: 50px 0; }

.recruit_table {
  width: 950px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  font-size: 16px; }
  .recruit_table a {
    color: #999; }
    .recruit_table a > div {
      display: block;
      overflow: hidden;
      text-align: left;
      height: 50px;
      line-height: 50px; }
  .recruit_table .rec_name {
    width: 371px;
    text-indent: 47px; }
  .recruit_table .rec_department {
    width: 170px;
    text-align: center; }
  .recruit_table .rec_num {
    width: 243px;
    text-align: center; }
  .recruit_table .rec_time {
    width: 166px;
    text-align: center; }

.recruit_title {
  margin-top: 20px;
  color: #333;
  background-color: #F8F8F8; }

.recruit_list {
  padding-bottom: 30px; }
  .recruit_list .recruit_table {
    border-bottom: 1px dashed #e4e4e4; }
    .recruit_list .recruit_table:hover a {
      color: #63bf82; }
    .recruit_list .recruit_table .rec_name {
      text-indent: 60px; }
