@charset "UTF-8";
.hot_pro {
  margin-top: 20px; }
  .hot_pro h3 {
    position: relative;
    font-size: 20px;
    color: #333;
    line-height: 60px;
    padding: 0 10px 0 40px;
    background: #FFFFFF; }
    .hot_pro h3 i {
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 22px; }

.hot_pro .pro_ele {
  float: left;
  width: 255px;
  margin-right: 20px; }
  .hot_pro .pro_ele img {
    display: block;
    width: 255px;
    height: 255px;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .hot_pro .pro_ele img:hover {
      filter: alpha(opacity=90);
      /* IE */
      -moz-opacity: 0.9;
      /* 老版Mozilla */
      -khtml-opacity: 0.9;
      /* 老版Safari */
      opacity: 0.9;
      /* 支持opacity的浏览器*/ }

.hot_pro .pro_title {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.hot_pro .pro_describe {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  height: 20px;
  text-align: center;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.hot_pro .pro_price {
  text-align: center;
  font-size: 23px; }
  .hot_pro .pro_price i {
    font-size: 15px; }

.hot_pro .add_cart {
  margin: 5px auto 0;
  font-size: 12px;
  width: 120px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  cursor: pointer; }

.site {
  height: 40px;
  line-height: 40px; }
  .site li {
    float: left;
    color: #666; }
  .site .arrow {
    font-family: \5b8b\4f53;
    margin: 0 5px; }

.head_center .logo {
  margin-right: 30px; }

.head {
  border-bottom: 1px solid transparent; }

.head .contact {
  margin-top: 30px; }
  .head .contact p {
    font-size: 14px;
    line-height: 24px;
    color: #666; }

.head .cart_step {
  float: right;
  padding-top: 50px; }
  .head .cart_step li {
    position: relative;
    float: left;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    height: 32px;
    line-height: 32px;
    background-color: #e4e4e4; }
  .head .cart_step i {
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-top: 16px solid transparent !important;
    border-bottom: 16px solid transparent !important; }
  .head .cart_step .left_arrow {
    left: 0;
    border-left: 12px solid #fff; }
  .head .cart_step .right_arrow {
    right: -12px;
    border-left: 12px solid #e4e4e4; }
  .head .cart_step .step1 {
    width: 160px; }
  .head .cart_step .step2, .head .cart_step .step3 {
    width: 150px;
    background-color: #e4e4e4; }

.hot_pro .pro_ele {
  width: 244px; }
  .hot_pro .pro_ele img {
    width: 244px;
    height: 244px; }

.cart {
  background-color: #fff;
  padding: 0 20px; }

.cart_title {
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  padding-left: 42px;
  border-bottom: 1px solid #e4e4e4;
  position: relative; }
  .cart_title i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    color: #888;
    display: inline-block; }

.cart_empty {
  color: #888;
  padding: 80px 0;
  width: 530px;
  margin: 0 auto; }
  .cart_empty .icon_empty {
    font-size: 90px;
    color: #ccc;
    margin-top: -40px; }
  .cart_empty p {
    font-size: 18px;
    padding-left: 120px; }
    .cart_empty p em {
      color: #333; }
    .cart_empty p a {
      padding-left: 5px; }
      .cart_empty p a:hover {
        text-decoration: underline; }
      .cart_empty p a b {
        padding-left: 5px;
        font-weight: 600;
        font-family: \5b8b\4f53; }

/*# sourceMappingURL=cart_empty.css.map */
