@charset "UTF-8";
.hot_pro {
  margin-top: 20px; }
  .hot_pro h3 {
    position: relative;
    font-size: 20px;
    color: #333;
    line-height: 60px;
    padding: 0 10px 0 40px;
    background: #FFFFFF; }
    .hot_pro h3 i {
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 22px; }

.hot_pro .pro_ele {
  float: left;
  width: 255px;
  margin-right: 20px; }
  .hot_pro .pro_ele img {
    display: block;
    width: 255px;
    height: 255px;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .hot_pro .pro_ele img:hover {
      filter: alpha(opacity=90);
      /* IE */
      -moz-opacity: 0.9;
      /* 老版Mozilla */
      -khtml-opacity: 0.9;
      /* 老版Safari */
      opacity: 0.9;
      /* 支持opacity的浏览器*/ }

.hot_pro .pro_title {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.hot_pro .pro_describe {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  height: 20px;
  text-align: center;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.hot_pro .pro_price {
  text-align: center;
  font-size: 23px; }
  .hot_pro .pro_price i {
    font-size: 15px; }

.hot_pro .add_cart {
  margin: 5px auto 0;
  font-size: 12px;
  width: 120px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  cursor: pointer; }

.site {
  height: 40px;
  line-height: 40px; }
  .site li {
    float: left;
    color: #666; }
  .site .arrow {
    font-family: \5b8b\4f53;
    margin: 0 5px; }

.head_center .logo {
  margin-right: 30px; }

.head {
  border-bottom: 1px solid transparent; }

.head .contact {
  margin-top: 30px; }
  .head .contact p {
    font-size: 14px;
    line-height: 24px;
    color: #666; }

.head .cart_step {
  float: right;
  padding-top: 50px; }
  .head .cart_step li {
    position: relative;
    float: left;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    height: 32px;
    line-height: 32px;
    background-color: #e4e4e4; }
  .head .cart_step i {
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-top: 16px solid transparent !important;
    border-bottom: 16px solid transparent !important; }
  .head .cart_step .left_arrow {
    left: 0;
    border-left: 12px solid #fff; }
  .head .cart_step .right_arrow {
    right: -12px;
    border-left: 12px solid #e4e4e4; }
  .head .cart_step .step1 {
    width: 160px; }
  .head .cart_step .step2, .head .cart_step .step3 {
    width: 150px;
    background-color: #e4e4e4; }

.hot_pro .pro_ele {
  width: 244px; }
  .hot_pro .pro_ele img {
    width: 244px;
    height: 244px; }

.cart {
  background-color: #fff;
  padding: 0 20px; }

.cart_title {
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  padding-left: 42px;
  border-bottom: 1px solid #e4e4e4;
  position: relative; }
  .cart_title i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    color: #888;
    display: inline-block; }

.cart_goods_list {
  font-size: 14px;
  border-bottom: 1px solid #e4e4e4; }

.cart_goods_list .list_head {
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #333; }

.list_check {
  width: 80px; }
  .list_check .icon_checkbox {
    margin-right: 15px;
    display: inline-block;
    width: 13px;
    height: 13px;
    line-height: 13px;
    border: 1px solid #e4e4e4;
    color: #fff;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer; }
    .list_check .icon_checkbox input {
      position: absolute;
      width: 13px;
      height: 13px;
      top: 0;
      left: 0;
      z-index: 99; }
  .list_check .current {
    background-color: #666;
    border: 1px solid transparent; }
  .list_check .checked:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 10px;
    vertical-align: 2px;
    background: url("../../../Images/sprite/sprite_icon_checked.png") no-repeat; }

.list_name {
  width: 340px;
  text-align: center;
  color: #333; }

.list_sale,
.list_promotion,
.list_discount,
.list_num,
.list_total,
.list_action {
  width: 140px;
  font-size: 14px;
  text-align: center; }

.list_items .list_sale,
.list_items .list_promotion,
.list_items .list_discount,
.list_items .list_num,
.list_items .list_total,
.list_items .list_action {
  color: #666; }

.list_content .list_items {
  padding: 15px  0;
  height: 80px;
  line-height: 80px; }
  .list_content .list_items .list_name .list_good_img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    _zoom: 1; }
    .list_content .list_items .list_name .list_good_img img {
      display: block;
      width: 100%;
      height: 100%; }
  .list_content .list_items .list_name .list_good_text {
    width: 240px;
    padding-left: 10px;
    line-height: normal; }
    .list_content .list_items .list_name .list_good_text .title {
      display: inline-block;
      width: 240px;
      font-size: 14px;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .list_content .list_items .list_name .list_good_text p {
      font-size: 12px;
      color: #9b9b9b;
      line-height: 20px;
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
  .list_content .list_items .list_num {
    position: relative;
    top: 50%;
    margin-top: -16px; }
    .list_content .list_items .list_num a {
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: block;
      border: 1px solid #e4e4e4;
      font-size: 15px;
      vertical-align: 1px; }
    .list_content .list_items .list_num .text {
      width: 70px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #e4e4e4;
      border-right: 0;
      border-left: 0;
      text-align: center;
      font-size: 15px; }
  .list_content .list_items .list_action a {
    font-size: 14px; }
  .list_content .list_items .list_action i {
    color: #999;
    padding: 0 10px; }

.total_money {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #fff; }
  .total_money .delete {
    margin-top: 10px;
    margin-left: 18px;
    display: inline-block; }
    .total_money .delete i {
      padding-right: 10px;
      display: inline-block; }

.account_list .list {
  line-height: 32px;
  color: #666;
  font-size: 14px;
  margin-right: 20px; }
  .account_list .list label {
    width: 150px;
    text-align: right;
    display: inline-block; }
  .account_list .list .total {
    font-size: 20px; }
  .account_list .list a {
    font-size: 15px;
    color: #fff;
    width: 130px;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    background-color: #666; }
    .account_list .list a i {
      font-family: \5b8b\4f53;
      font-weight: 600; }
    .account_list .list a:hover {
      opacity: 0.8;
      filter: alpha(opacify=80); }

/*# sourceMappingURL=mycart.css.map */
