@charset "UTF-8";
body {
  background: #f8f8f8; }

.m_content_left {
  float: left;
  padding: 0 10px 20px;
  width: 200px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .m_content_left > h2 {
    position: relative;
    padding-left: 55px;
    font-size: 16px;
    color: #333333;
    line-height: 48px;
    border-bottom: 2px solid transparent; }
    .m_content_left > h2 i {
      position: absolute;
      top: 0;
      left: 20px;
      font-size: 20px;
      line-height: 48px; }

.left_title {
  position: relative;
  padding: 10px 0 5px 40px;
  line-height: 30px;
  color: #333; }
  .left_title h3 {
    font-size: 14px; }
  .left_title span {
    position: absolute;
    top: 22px;
    left: 18px;
    width: 5px;
    height: 5px; }

.left_list li {
  position: relative;
  line-height: 35px;
  font-size: 13px; }
  .left_list li a {
    padding-left: 40px;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .left_list li .main_bg:hover {
    color: #FFFFFF !important; }

.m_content_right {
  float: right;
  width: 1080px;
  min-height: 520px;
  background: #ffffff; }

.gap {
  height: 20px;
  background: #F8F8F8; }

.site {
  height: 40px;
  line-height: 40px; }
  .site li {
    float: left;
    color: #666; }
  .site .arrow {
    font-family: \5b8b\4f53;
    margin: 0 5px; }

.page_list {
  /* padding: 30px 0 20px 0; */
  padding-right: 80px;
  margin-top: 10px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #333; }
  .page_list a {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0px 11px;
    background-color: #fff;
    color: #888;
    border: 1px solid #e4e4e4; }
  .page_list .current {
    border: 1px solid transparent; }
  .page_list span {
    display: inline-block; }
  .page_list input {
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    border: 1px solid #e4e4e4;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .page_list b {
    margin-right: 10px; }

.page_submit {
  margin-left: 10px;
  width: 45px;
  height: 27px;
  line-height: 25px;
  background: #e4e4e4;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hot_pro {
  margin-top: 20px; }
  .hot_pro h3 {
    position: relative;
    font-size: 20px;
    color: #333;
    line-height: 60px;
    padding: 0 10px 0 40px;
    background: #FFFFFF; }
    .hot_pro h3 i {
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 22px; }

.hot_pro .pro_ele {
  float: left;
  width: 255px;
  margin-right: 20px; }
  .hot_pro .pro_ele img {
    display: block;
    width: 255px;
    height: 255px;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .hot_pro .pro_ele img:hover {
      filter: alpha(opacity=90);
      /* IE */
      -moz-opacity: 0.9;
      /* 老版Mozilla */
      -khtml-opacity: 0.9;
      /* 老版Safari */
      opacity: 0.9;
      /* 支持opacity的浏览器*/ }

.hot_pro .pro_title {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.hot_pro .pro_describe {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  height: 20px;
  text-align: center;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.hot_pro .pro_price {
  text-align: center;
  font-size: 23px; }
  .hot_pro .pro_price i {
    font-size: 15px; }

.hot_pro .add_cart {
  margin: 5px auto 0;
  font-size: 12px;
  width: 120px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  cursor: pointer; }

.fr {
  float: right !important; }

.m_evaluation {
  position: relative;
  padding: 0 20px;
  background: #FFFFFF;
  overflow: hidden; }

.evaluation_top {
  font-size: 18px;
  height: 49px;
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4; }
  .evaluation_top span {
    float: left;
    height: 20px;
    margin: 17px 0 16px;
    padding: 0 20px;
    line-height: 16px;
    border-right: 1px solid #e4e4e4;
    cursor: pointer;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.evaluation_score {
  width: 150px; }

.evaluation_content {
  width: 430px; }

.evaluation_pro {
  width: 340px; }

.evaluation_handle {
  width: 120px; }

.evaluation_title > span {
  float: left;
  text-align: center;
  font-size: 16px;
  line-height: 45px;
  color: #666; }

.detail_middle {
  display: table-cell;
  vertical-align: middle; }

.c_pro_evaluation {
  padding: 20px 0;
  height: 100px; }
  .c_pro_evaluation > div {
    float: left;
    height: 100%;
    display: table; }
  .c_pro_evaluation .evaluation_score {
    text-align: center; }
    .c_pro_evaluation .evaluation_score i {
      font-size: 15px;
      color: #cccccc; }
    .c_pro_evaluation .evaluation_score span {
      font-size: 13px; }
  .c_pro_evaluation .evaluation_content {
    padding: 0 60px;
    font-size: 13px;
    color: #888;
    line-height: 25px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .c_pro_evaluation .evaluation_pro img {
    float: left;
    display: block;
    width: 100px;
    height: 100px; }
  .c_pro_evaluation .evaluation_pro .evaluation_pro_detail {
    float: left;
    margin: 18px 0 18px 20px;
    width: 200px; }
    .c_pro_evaluation .evaluation_pro .evaluation_pro_detail h4 {
      font-size: 14px;
      line-height: 24px;
      height: 24px;
      overflow: hidden;
      color: #666;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .c_pro_evaluation .evaluation_pro .evaluation_pro_detail p {
      font-size: 12px;
      height: 40px;
      color: #888;
      overflow: hidden;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
      .c_pro_evaluation .evaluation_pro .evaluation_pro_detail p span {
        margin-right: 20px; }
  .c_pro_evaluation .evaluation_handle {
    text-align: center; }
    .c_pro_evaluation .evaluation_handle a {
      display: block;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 5px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }

.not_evaluation_btn {
  margin: 0 10px; }

.no_order {
  position: relative;
  height: 310px;
  background: #ffffff; }

.no_order_content {
  position: absolute;
  top: 50%;
  left: 320px;
  margin-top: -60px;
  height: 120px;
  font-size: 24px;
  color: #333;
  line-height: 120px;
  padding-left: 125px; }
  .no_order_content i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    line-height: 120px;
    color: #ccc; }

/*
<!--暂无已评价商品-->
<div class="no_order">
<div class="no_order_content"><i class="iconfont">&#xe61f;</i>您目前还没有评论的商品!
</div>
</div>
*/
.already_evaluation, .not_evaluation, .no_order {
  min-height: 470px; }

/*# sourceMappingURL=evaluation_list.css.map */
