@charset "UTF-8";
body {
  background: #f8f8f8; }

.m_content_left {
  float: left;
  padding: 0 10px 20px;
  width: 200px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .m_content_left > h2 {
    position: relative;
    padding-left: 55px;
    font-size: 16px;
    color: #333333;
    line-height: 48px;
    border-bottom: 2px solid transparent; }
    .m_content_left > h2 i {
      position: absolute;
      top: 0;
      left: 20px;
      font-size: 20px;
      line-height: 48px; }

.left_title {
  position: relative;
  padding: 10px 0 5px 40px;
  line-height: 30px;
  color: #333; }
  .left_title h3 {
    font-size: 14px; }
  .left_title span {
    position: absolute;
    top: 22px;
    left: 18px;
    width: 5px;
    height: 5px; }

.left_list li {
  position: relative;
  line-height: 35px;
  font-size: 13px; }
  .left_list li a {
    padding-left: 40px;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .left_list li .main_bg:hover {
    color: #FFFFFF !important; }

.m_content_right {
  float: right;
  width: 1080px;
  min-height: 520px;
  background: #ffffff; }

.gap {
  height: 20px;
  background: #F8F8F8; }

.site {
  height: 40px;
  line-height: 40px; }
  .site li {
    float: left;
    color: #666; }
  .site .arrow {
    font-family: \5b8b\4f53;
    margin: 0 5px; }

.c_order {
  padding: 30px 20px; }
  .c_order > div {
    float: left;
    position: relative;
    height: 88px;
    display: table; }

.middle {
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  color: #333;
  text-align: center; }

.order_detail {
  width: 230px;
  font-size: 13px;
  color: #888888;
  line-height: 22px; }

.order_price {
  width: 260px; }

.pro_count {
  width: 150px; }

.order_state {
  width: 225px; }

.order_handle {
  width: 145px; }

.order_handle p {
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.no_order {
  position: relative;
  height: 310px;
  background: #ffffff; }

.no_order_content {
  position: absolute;
  top: 50%;
  left: 320px;
  margin-top: -60px;
  height: 120px;
  font-size: 24px;
  color: #333;
  line-height: 120px;
  padding-left: 125px; }
  .no_order_content i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    line-height: 120px;
    color: #ccc; }

/*
<!--暂无已评价商品-->
<div class="no_order">
<div class="no_order_content"><i class="iconfont">&#xe61f;</i>您目前还没有评论的商品!
</div>
</div>
*/
.user_infor {
  padding-top: 20px;
  padding-bottom: 30px;
  background: #FFFFFF; }

.user_head {
  margin: 0 20px;
  width: 198px;
  height: 198px;
  border-radius: 99px;
  border: 2px solid #e4e4e4;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden; }
  .user_head a {
    display: block;
    width: 198px;
    height: 198px;
    border-radius: 99px; }
    .user_head a img {
      width: 198px;
      height: 198px;
      border-radius: 99px; }

.update_head {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: #000 \9; }

.update_head a {
  color: #fff;
  font-size: 14px; }

.user_right {
  width: 720px;
  height: 198px;
  border-left: 1px solid #e4e4e4;
  padding-left: 40px;
  overflow: hidden;
  color: #333;
  font-size: 14px; }

.user_right_zuo {
  padding-top: 20px;
  padding-right: 160px; }

.user_name {
  font-size: 30px;
  color: #333;
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden; }

.user_num em {
  font-size: 12px; }

.user_line {
  margin: 0 10px;
  display: inline-block;
  width: 88px;
  height: 15px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  position: relative;
  vertical-align: -3px; }

.user_line i {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 15px; }

.user_change {
  margin-top: 10px; }

.user_change a {
  font-size: 14px; }

.user_right_you p {
  margin-bottom: 10px; }

.user_right_you p span {
  float: left;
  width: 115px; }

.user_right_you p i {
  font-size: 16px;
  color: #333; }

.user_right_you ul li {
  float: left;
  width: 115px; }

.user_right_you ul li a {
  font-size: 16px; }

.latest_order {
  background: #FFFFFF; }
  .latest_order > h2 {
    text-indent: 10px;
    line-height: 70px;
    font-size: 24px;
    color: #333;
    margin: 0 20px;
    border-bottom: 1px solid #e4e4e4; }

.hot_pro {
  margin-top: 20px; }
  .hot_pro h3 {
    position: relative;
    font-size: 20px;
    line-height: 60px;
    padding: 0 10px 0 40px;
    background: #FFFFFF; }
    .hot_pro h3 i {
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 22px; }

.pro_ele {
  float: left;
  width: 255px;
  margin-right: 20px; }
  .pro_ele img {
    display: block;
    width: 255px;
    height: 255px;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .pro_ele img:hover {
      filter: alpha(opacity=90);
      /* IE */
      -moz-opacity: 0.9;
      /* 老版Mozilla */
      -khtml-opacity: 0.9;
      /* 老版Safari */
      opacity: 0.9;
      /* 支持opacity的浏览器*/ }

.pro_title {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.pro_describe {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  height: 20px;
  text-align: center;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.pro_price {
  text-align: center;
  font-size: 23px; }
  .pro_price i {
    font-size: 15px; }

.add_cart {
  margin: 5px auto 0;
  font-size: 12px;
  width: 120px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  cursor: pointer; }

/*# sourceMappingURL=index.css.map */
