@charset "UTF-8";
.site {
  height: 40px;
  line-height: 40px; }
  .site li {
    float: left;
    color: #666; }
  .site .arrow {
    font-family: \5b8b\4f53;
    margin: 0 5px; }

.page_list {
  /* padding: 30px 0 20px 0; */
  padding-right: 80px;
  margin-top: 10px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #333; }
  .page_list a {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0px 11px;
    background-color: #fff;
    color: #888;
    border: 1px solid #e4e4e4; }
  .page_list .current {
    border: 1px solid transparent; }
  .page_list span {
    display: inline-block; }
  .page_list input {
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    border: 1px solid #e4e4e4;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .page_list b {
    margin-right: 10px; }

.page_submit {
  margin-left: 10px;
  width: 45px;
  height: 27px;
  line-height: 25px;
  background: #e4e4e4;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  background: #f8f8f8; }

.m_content_left {
  float: left;
  padding: 0 10px 20px;
  width: 200px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .m_content_left > h2 {
    position: relative;
    padding-left: 55px;
    font-size: 16px;
    color: #333333;
    line-height: 48px;
    border-bottom: 2px solid transparent; }
    .m_content_left > h2 i {
      position: absolute;
      top: 0;
      left: 20px;
      font-size: 20px;
      line-height: 48px; }

.left_title {
  position: relative;
  padding: 10px 0 5px 40px;
  line-height: 30px;
  color: #333; }
  .left_title h3 {
    font-size: 14px; }
  .left_title span {
    position: absolute;
    top: 22px;
    left: 18px;
    width: 5px;
    height: 5px; }

.left_list li {
  position: relative;
  line-height: 35px;
  font-size: 13px; }
  .left_list li a {
    padding-left: 40px;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .left_list li .main_bg:hover {
    color: #FFFFFF !important; }

.m_content_right {
  float: right;
  width: 1080px;
  min-height: 520px;
  background: #ffffff; }

.gap {
  height: 20px;
  background: #F8F8F8; }

.c_order {
  padding: 30px 20px; }
  .c_order > div {
    float: left;
    position: relative;
    height: 88px;
    display: table; }

.middle {
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  color: #333;
  text-align: center; }

.order_detail {
  width: 230px;
  font-size: 13px;
  color: #888888;
  line-height: 22px; }

.order_price {
  width: 260px; }

.pro_count {
  width: 150px; }

.order_state {
  width: 225px; }

.order_handle {
  width: 145px; }

.order_handle p {
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.no_order {
  position: relative;
  height: 310px;
  background: #ffffff; }

.no_order_content {
  position: absolute;
  top: 50%;
  left: 320px;
  margin-top: -60px;
  height: 120px;
  font-size: 24px;
  color: #333;
  line-height: 120px;
  padding-left: 125px; }
  .no_order_content i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    line-height: 120px;
    color: #ccc; }

/*
<!--暂无已评价商品-->
<div class="no_order">
<div class="no_order_content"><i class="iconfont">&#xe61f;</i>您目前还没有评论的商品!
</div>
</div>
*/
.page_list {
  /* padding: 30px 0 20px 0; */
  padding-right: 80px;
  margin-top: 10px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #333; }
  .page_list a {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0px 11px;
    background-color: #fff;
    color: #888;
    border: 1px solid #e4e4e4; }
  .page_list .current {
    border: 1px solid transparent; }
  .page_list span {
    display: inline-block; }
  .page_list input {
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    border: 1px solid #e4e4e4;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .page_list b {
    margin-right: 10px; }

.page_submit {
  margin-left: 10px;
  width: 45px;
  height: 27px;
  line-height: 25px;
  background: #e4e4e4;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.order_top {
  padding: 0 20px;
  background: #FFFFFF; }
  .order_top h2 {
    font-size: 24px;
    color: #333;
    line-height: 70px;
    border-bottom: 1px solid #e4e4e4; }

.warn {
  position: relative;
  line-height: 25px;
  padding: 10px 0 10px 20px;
  color: #333; }
  .warn i {
    position: absolute;
    display: block;
    top: 14px;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

.m_order {
  background: #FFFFFF; }

.order_nav {
  padding: 20px 0 10px;
  margin: 0 20px;
  border-bottom: 1px solid #e4e4e4; }
  .order_nav li {
    float: left;
    font-size: 16px;
    color: #333;
    padding: 0 20px;
    height: 15px;
    line-height: 12px;
    border-right: 1px solid #e4e4e4;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.order_list {
  min-height: 313px; }

.no_order {
  height: 313px; }

.page_list {
  margin-top: 30px; }

/*# sourceMappingURL=order_list.css.map */
