/*m_search*/
.m_search{
    margin-top:12px;
    width:559px;
    height: 45px;
    line-height: 44px;
    line-height: 44px \9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #093;
    background:#fff;
}
.c_search_title{
    position: relative;
    width:85px;
    /* height: auto; */
    text-indent: 20px;
    cursor: pointer;
    border-right: 1px solid #093;
}
.c_search_title .c_sj{
    position: absolute;
    top:20px;
    right:12px;
    border: 7px solid;
    border-color: #093 transparent transparent;
}
.c_subnav{
    position: relative;
    /* top:44px; */
    left:-1px;
    width:87px;
    z-index: 1300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.6);
    background-color: #000\9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.c_subnav li{
    border:1px solid #093;
    border-top:0;
    text-align: center;
    text-indent: 0;
}

.c_search_text{
    width:60%;
    line-height: 24px;
    text-indent: 18px;
    font-size: 14px;
    font-family: "Microsoft YaHei", serif;
}
.c_search_btn{
    position: relative;
    width:16%;
    height: 44px;
    line-height: 44px\9;
    background:#093;
    cursor: pointer;
}
.c_search_btn:after {
    position: absolute;
    top:10px;
    left: 35px;
    z-index: 10;
    display: block;
    content: "";
    width:26px;
    height: 26px;
    background: url(../Images/bg.png);
    background-size: 350px;
    background-position: 0 -401px;
}

/*l_nav*/
.l_nav{
    height: 67px;
    border-bottom: 1px solid #093;
}
.m_nav{
    padding-top:20px;
}
.m_nav>li{
    position: relative;
    float: left;
    width:260px;
    padding-top:14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.m_nav>li>a{
    display: inline-block;
    width:100%;
    height: 33px;
    font-size: 18px;
    text-align: center;
}
.m_nav li>a{
    color:#333;
}
.m_nav li>span{
    position: absolute;
    top:23px;
    left:170px;
    border: 7px solid;
    border-color: #333 transparent transparent;
}
.m_nav li:hover,.m_nav li.current{
    border:1px solid #093;
    border-bottom: none;
    background: #fff;
}
.m_nav li:hover a,.m_nav li.current a{
    color:#093;
}
.m_nav li:hover span,.m_nav li.current span{
    border: 7px solid;
    border-color: #093 transparent transparent;
}


/*l_R_main*/
.l_R_main{
    padding-top:31px;
}

/*m_R_title*/
.m_R_title{
    margin-bottom: 50px;
    height: 19px;
    line-height: 19px;
    font-size:16px;
    color:#000;
}
.m_R_title a{
    position: relative;
    color:#888;
    margin-right:18px;
}
.m_R_title a:hover{
    color:#f60;
    text-decoration: underline;
}
.m_R_title a:after{
    position: absolute;
    top:2px;
    content: '';
    display: inline-block;
    width:5px;
    height:16px;
    margin: 0 9px;
    background: url(../Images/icon_bg.png) no-repeat;
}


/*m_R_content*/



/*m_R_left*/
.m_R_left{
    width:260px;
    border:1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 30px;
    background: #fff;
}
.m_R_nav h3 a{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color:#000;
    background: #fafafa;
}
.m_R_nav h3 span{
    position: absolute;
    right: 30px;
    top:22px;
    display: inline-block;
    border: 7px solid;
    border-color: #888 transparent transparent;
}
.m_R_nav h3 a:hover span{
    border: 7px solid;
    border-color: #093 transparent transparent;
}

.nav_name a{
    display: block;
    height: 50px;
    line-height: 50px;
    background: #fff;
    color:#888;
    font-size: 14px;
}
.nav_name a:hover,.nav_name a.current{
    text-indent:25px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #093;
    border-left:5px solid #093;
}


/*m_R_rigth*/
.m_R_rigth{
    width:990px;
    min-height: 800px;
}
.m_R_rtitle a{
    position: relative;
    display: inline-block;
    width:192px;
    height: 50px;
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #e6e6e6;
    border-right: none;
    text-indent: 32px;
    color:#666;
    font-size: 14px;
}
.m_R_rtitle a:last-child{
    border-right: 1px solid #e6e6e6;
}
.m_R_rtitle a:after{
    position: absolute;
    top:20px;
    right: 22px;
    display: inline-block;
    content: '';
    width:8px;
    height: 12px;
    background: url(../Images/icon_bg.png) no-repeat;
    background-position: 0 -30px;
}
.m_R_rtitle a:hover,.m_R_rtitle a.current{
    background: #fafafa;
}
.m_R_rtitle a:hover:after,.m_R_rtitle a.current:after{
    background-position: 0 -17px;

}

/*m_R_listBox*/

/*m_R_list*/
.m_R_list{
    padding:50px 0;
    border-bottom: 1px dashed #c9c9c9;
}
.m_R_list:last-child{
    border:none;
}
.m_R_list_img{
    width:200px;
    height: 200px;
}

.m_R_list_title{
    width:770px;
}
.m_R_list_title a:hover{
    color:#f60;
}
.m_R_list_title h3 a{
    display: block;
    padding-bottom: 40px;
    font-size: 20px;
    color:#333;
}
.m_R_list_p{
    min-height: 124px;
    font-size: 14px;
    color:#666;
    line-height: 25px;
}
.m_R_list_p span a{
    color:#bdbdbd;
}
.m_R_list_p span:hover{
    text-decoration: underline;
}
.m_R_list_user{
    color:#888;
}
.m_R_list_user span{
    margin-right: 40px;
    cursor:pointer;
}
.m_R_list_user span:hover{
    color: #f60;
}
.m_R_list_user i{
    float: right;
    font-style: normal;
}