@charset "UTF-8";
@import "../lib/lib";


.l_right{
  p{
    font-size: 13px;
    color: #444;
    line-height: 35px;
    text-indent: 25px;
  }
  h3{
    margin-top: 35px;
    font-size: 18px;
    color: #333;
    line-height: 40px;
  }
}