/*
Errno::ENOENT: No such file or directory @ rb_sysopen - join.scss

Backtrace:
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:482:in `read'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin.rb:82:in `update_stylesheets'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:364:in `watch_or_update'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:51:in `process_result'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
D:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.15/bin/scss:13:in `<top (required)>'
D:/Software/Ruby22/bin/scss:23:in `load'
D:/Software/Ruby22/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - join.scss"; }
