.m_content {
  top: 25px;
  height: 550px; }
  .m_content h3 {
    line-height: 70px; }

.register_sort {
  position: absolute;
  top: 70px;
  left: 25px;
  width: 400px; }
  .register_sort li {
    float: left;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 1px;
    text-align: center;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.register_sort .register_current {
  padding: 0;
  border-top: 2px solid #093; }

.arrow_down {
  position: absolute;
  top: 0;
  left: 45px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 6px;
  cursor: pointer;
  border-style: solid dashed dashed dashed;
  border-color: #009933 transparent transparent transparent;
  border-bottom: none; }

.register_com {
  margin-top: 60px; }

.send_message {
  position: relative;
  float: right; }
  .send_message > span {
    display: block;
    width: 120px;
    padding: 0 3px;
    text-align: center;
    margin-left: 12px;
    line-height: 35px;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    background: #f8f8f8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.confirm2 {
  position: absolute;
  top: -120px;
  left: -50px;
  background: #e5f5ea;
  padding: 15px;
  width: 170px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  .confirm2 span {
    float: left;
    font-size: 12px;
    margin-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.m_content .confirm_top img {
  float: left;
  margin: 0;
  width: 100px !important;
  height: 37px !important; }

.m_content .confirm_top span {
  color: #093;
  line-height: 37px; }

.m_content .confirm_content {
  padding-top: 10px; }
  .m_content .confirm_content input {
    float: left;
    margin: 0;
    width: 100px;
    height: 27px;
    border: 1px solid #e4e4e4;
    background: #FFFFFF; }
  .m_content .confirm_content span {
    height: 25px;
    width: 50px;
    line-height: 25px;
    font-size: 12px;
    color: #FFFFFF;
    background: #093;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.confirm_bottom {
  position: absolute;
  left: 95px;
  bottom: -10px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 10px;
  cursor: pointer;
  border-style: solid dashed dashed dashed;
  border-color: #e5f5ea transparent transparent transparent;
  border-bottom: none; }

.login span {
  float: right; }

.login a {
  float: right;
  color: #093; }
  .login a:hover {
    color: #f60; }

.m_content .tip {
  display: block;
  height: 30px;
  line-height: 30px;
  color: red;
  padding-left: 5px; }
