@charset "UTF-8";
@import "../../lib/lib";
@import "../../module/drop";
@import "../../module/site";
@import "../../module/recommend";
@import "../../module/usercenter_style";


//基本信息
.basic_wrap{
  width: 540px;
  margin: 60px auto 30px;
}
.basic_list{
  margin-bottom: 15px;
  .basic_item{
    width: 110px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #666;
    float: left;
    padding-right: 20px;
  }
  input{
    width: 390px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border: 1px solid #e4e4e4;
    @include box-sizing();

  }
}
.select_item{
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #666;
  margin-right: 20px;
  cursor: pointer;
  input{
    width:auto!important;
    height:auto!important;
    line-height:0!important;
    padding-left: 0px!important;
    border: 0!important;
    margin-right: 5px;
    cursor: pointer;
  }
  label{
    cursor: pointer;
  }
}
.drop_menu{
  margin-right: 15px;
  width: 120px;
}
.error_tips{
  padding-left: 130px;
  margin: -10px 0 5px 0;
  font-size: 14px;
  color: red;
  visibility: hidden;
}
.basic_submit{
  padding-left: 130px;
  input{
    width: 140px;
    padding-left: 0;
    font-size: 14px;
    border: 0;
    cursor: pointer;
  }
}