@charset "UTF-8";
.site {
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 14px; }
  .site a {
    font-size: 14px;
    color: #666; }
  .site span {
    font-family: sans-serif,'Microsoft YaHei';
    margin: 0 2px; }

/*
<!--站点指示-->
<div class="site">
<a href="#">首页</a>
<span>&gt;</span>
<a>个人中心</a>
</div>
*/
.empty_tips {
  height: 495px;
  line-height: 495px;
  font-size: 24px;
  color: #333;
  text-align: center; }
  .empty_tips i {
    font-size: 130px;
    color: #ccc;
    vertical-align: middle;
    margin-right: 50px; }
  .empty_tips a:hover {
    text-decoration: underline; }

/*
<div class="empty_tips hide">
<i class="icon-xiaoxingxingkong"></i>您还没有收藏，<a class="main" href="../mall/index.html">去逛逛吧~</a>
</div>*/
.hot_recently {
  margin-top: 30px; }

.hot_recently .hr_title {
  font-size: 0; }
  .hot_recently .hr_title a {
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color: #e4e4e4;
    vertical-align: middle; }

.hr_content {
  border: 1px solid transparent; }

.hr_wrap {
  width: 640px;
  height: 290px;
  padding: 0 60px;
  margin: 30px 0;
  overflow: hidden;
  position: relative; }

.hr_box {
  margin: 0 -10px; }

.hr_list {
  width: 200px;
  height: 290px;
  float: left;
  margin: 0 10px; }
  .hr_list p {
    font-size: 14px;
    color: #333;
    text-align: center; }

.hr_img {
  display: block;
  width: 200px;
  height: 200px; }
  .hr_img img {
    width: 100%;
    height: 100%; }

.hr_name {
  display: block;
  width: 152px;
  margin: 10px auto;
  line-height: 24px;
  max-height: 48px;
  text-align: center;
  font-size: 12px;
  color: #888;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.next_btn, .prev_btn {
  position: absolute;
  top: 120px;
  color: #ccc; }
  .next_btn i, .prev_btn i {
    font-size: 32px; }

.next_btn {
  left: 20px; }

.prev_btn {
  right: 20px; }

.page_list {
  padding: 20px 0;
  margin-right: -10px;
  text-align: right;
  height: 32px;
  line-height: 33px;
  font-size: 14px; }
  .page_list a {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0px 11px;
    background-color: #fff;
    color: #888;
    border: 1px solid #e4e4e4; }
  .page_list span {
    display: inline-block; }
  .page_list input {
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    border: 1px solid #e4e4e4;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .page_list b {
    margin-right: 10px; }

.page_submit {
  margin-left: 10px;
  width: 45px;
  height: 27px;
  line-height: 25px;
  background: #fff;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page_list .no_all_b {
  border: 0 !important;
  padding: 0 !important;
  background-color: transparent; }

/*
<!--分页-->
<div class="page_list">
<p>
<a class="prev_page" href="#">上一页</a>
<a class="main_bg main_border" href="#">1</a>
<a href="#">2</a>
<a href="#">3</a>
<a href="#">4</a>
<a href="#">5</a>
<a class="no_all_b" href="#">......</a>
<a href="#">100</a>
<a class="next_page no_marginR" href="#">下一页</a>
</p>
</div>*/
.site {
  height: 50px;
  line-height: 50px; }

.content {
  margin-bottom: 30px; }

.content_left {
  width: 190px;
  padding: 0 30px;
  background-color: #fff;
  border-top: 2px solid transparent;
  text-align: center; }
  .content_left h1 {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px dashed #e4e4e4; }
  .content_left p {
    font-size: 16px;
    color: #333;
    padding-top: 17px; }
  .content_left ul {
    padding-left: 60px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e4e4e4; }
    .content_left ul li {
      height: 40px;
      line-height: 40px;
      text-align: left; }
      .content_left ul li i {
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: #888;
        margin-right: 15px;
        vertical-align: middle; }
      .content_left ul li a {
        font-size: 14px;
        color: #888; }
  .content_left ul:last-child {
    border-bottom: 0; }

.content_right {
  width: 760px;
  padding: 30px;
  background-color: #fff; }

.item_wrap .item_title {
  font-size: 0; }
  .item_wrap .item_title a {
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color: #e4e4e4;
    vertical-align: middle; }

.item_content {
  border: 1px solid transparent; }

.order_wrap {
  padding: 0 25px; }

.order_head {
  height: 45px;
  display: table;
  border-bottom: 2px solid #e4e4e4; }

.order_head .pro_info {
  width: 180px;
  padding-left: 40px; }

.pro_info {
  width: 220px;
  display: table-cell;
  vertical-align: middle; }

.pro_price, .pro_num, .pro_status, .pro_operate {
  width: 122px;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.order_list {
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
  display: table; }
  .order_list .pro_info p {
    line-height: 24px;
    text-align: left;
    font-size: 12px;
    color: #888; }
  .order_list .pro_price, .order_list .pro_num, .order_list .pro_status, .order_list .pro_operate {
    height: 96px; }
  .order_list .pro_num a, .order_list .pro_status a, .order_list .pro_operate a {
    display: block;
    line-height: normal;
    font-size: 12px;
    color: #666;
    line-height: 20px; }

/*# sourceMappingURL=order_list.css.map */
