@charset "UTF-8";
@import "../../lib/lib";

@import "../../module/usercenter_style";
@import "../../module/recommend";
@import "../../module/refund_pro";

//订单详情
.detail_box {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
}

.detail_content{
  >p{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 14px;
  }
}

.liucheng{
  margin:50px auto 100px;
  width: 442px;
}
.liucheng_ele{
  float: left;
  position: relative;
  width: 200px;
  height: 6px;
  background: #e4e4e4;
  margin-left: 14px;
  span{
    position: absolute;
    display: block;
    top: -5px;
    left: -47px;
    width: 80px;
    color: #666;
    line-height: 20px;
    text-align: center;
    i{
      position: relative;
      display: block;
      margin:0 auto 10px;
      width: 14px;
      height: 14px;
      background: #e4e4e4;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
      &:before{
        position: absolute;
        top: 4px;
        left: 4px;
        content: '';
        width: 6px;
        height: 6px;
        background: #ffffff;
      }
    }
  }
}
.liucheng_last{
  width: 0px;
}
.success{
  background: -webkit-linear-gradient(left,#3c619e , #e4e4e4); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left,#3c619e , #e4e4e4); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left,#3c619e, #e4e4e4); /* Firefox 3.6 - 15 */
  background: linear-gradient(left,#3c619e, #e4e4e4); /* 标准的语法 */
}

//申请
.apply_progress{
  margin-top: 20px;
  border:1px solid #e4e4e4;
  h3{
    font-size: 14px;
    line-height: 55px;
    text-indent: 20px;
    background: #ffffff;
    border-bottom:1px solid #e4e4e4;
  }
}
.handle_time{
  float: left;
  width: 220px;
}
.apply_info{
  float: left;
  width: 540px;
}
.apply_time{
  float: left;
  width: 194px;
}
.apply_title{
  font-size:14px;
  line-height: 45px;
  text-align: center;
  background: #fcfcfc;
  border-bottom:1px solid #e4e4e4;
}
.apply_box{
  background: #ffffff;
  >div{
    padding:15px 0;
    height: 69px;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
  }
  .handle_time{
    color: #666;
  }
  .apply_info{
    @include ell(3);
  }
}
//换货商品
.refund_pro_box{
  h3{
    font-size: 14px;
    line-height: 55px;
    text-indent: 20px;
    background: #ffffff;
    border-bottom:1px solid #e4e4e4;
  }
}