@charset "UTF-8";

.usercenter_top{
  h2 {
    padding-top: 90px;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
  }
}
.top_center{
  position: relative;
  height: 350px;
  background: url("../../../Images/test/test_usercenter_top.jpg?_nosprite") no-repeat;
  -webkit-background-size:cover;
  background-size:cover;
  >div{
    position: relative;
  }
}
.top_info{
  position: absolute;
  top: 220px;
  left: 450px;
  width: 300px;
  border:2px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 150px 150px 0 0;
  -moz-border-radius: 150px 150px 0 0;
  border-radius: 150px 150px 0 0;
  >h4{
    font-size: 24px;
    height: 45px;
    margin:0 20px;
    line-height: 45px;
    @include ell(1);
    text-align: center;
  }
}
.user_img{
  position: relative;
  width: 280px;
  height: 280px;
  margin-top: 8px;
  margin-left: 8px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  overflow: hidden;
  img{
    display: block;
    width:100%;
    height:100%;
  }
  span{
    position: absolute;
    bottom:0;
    left:0;
    height: 45px;
    width:100%;
    font-size: 16px;
    line-height: 45px;
    display: block;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.account_safety{
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  span{
    display: inline-block;
    height: 10px;
    width: 100px;
    vertical-align: -1px;
    border:1px solid transparent;
  }
  i{
    display: block;
    height: 10px;
    width:60%;
  }
}
.user_grade{
  margin: 5px 0 5px 40px;
  font-size: 14px;
}
.top_detail{
  margin-left: 30px;
  li{
    float: left;
    width:50%;
    height: 24px;
    font-size: 14px;
    color: #666;
    text-indent: 10px;
    @include ell(1);
    a{
      color: #666666;
    }
  }
}
.m_top_list{
  height: 340px;
}
.top_list{
  margin-top: 125px;
  margin-left: 25px;
  margin-right: 100px;
  >h3{
    position: relative;
    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    border-left:1px solid #FFFFFF!important;
    border-right:1px solid #FFFFFF!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul{
    margin-top: 15px;
  }
  li{
    text-align: center;
    font-size: 14px;
    line-height:35px;
    a{
      color: #666;
    }
  }
}
.top_list.fr{
  margin-right: 25px;
  margin-left: 100px;
}
.top_list_left{
  position: absolute;
  top: -1px;
  left: -25px;
  height:0;
  width:0;
  border-bottom:20px solid transparent!important;
  border-top:20px solid transparent!important;
  border-right:25px solid transparent;
  i{
    position: absolute;
    top: -20px;
    left: 2px;
    height:0;
    width:0;
    border-bottom:20px solid transparent!important;
    border-top:20px solid transparent!important;
    border-right:25px solid #FFFFFF;
  }
}
.top_list_right{
  position: absolute;
  top: -1px;
  right: -25px;
  height:0;
  width:0;
  border-bottom:20px solid transparent!important;
  border-top:20px solid transparent!important;
  border-left:25px solid transparent;
  i{
    position: absolute;
    top: -20px;
    right: 2px;
    height:0;
    width:0;
    border-bottom:20px solid transparent!important;
    border-top:20px solid transparent!important;
    border-left:25px solid #FFFFFF;
  }
}

.usercenter_title{
  text-align: center;
  padding:30px 0;
  border-bottom:1px solid #e4e4e4;
  h2{
    font-size: 30px;
    color: #333333;
  }
  p{
    font-size: 13px;
    color: #888;
  }
}

//修改头像弹窗
.change_img{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
}
.change_img_content{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width: 800px;
  height: 620px;
  background: #FFFFFF;
  >h2{
    position: relative;
    margin:5px;
    font-size: 20px;
    line-height: 50px;
    text-indent: 20px;
    i{
      position: absolute;
      right: 20px;
      top:0;
      line-height: 50px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
.change_detail{
  margin-top: 40px;
  color: #666;

}
.change_detail_left{
  position: relative;
  overflow: hidden;
  float: left;
  width: 400px;
  padding-left: 25px;
  border-right:1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.upload_img{
  margin-bottom: 5px;
  width: 100px;
  height: 30px;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  border:1px solid #e4e4e4;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.big_img{
  margin: 20px 0;
  width: 300px;
  height: 300px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  overflow: hidden;
  border:1px solid #e4e4e4;
  img{
    display: block;
    width:100%;
    height:100%;
  }
}
.upload_info{
  line-height: 25px;
}
.change_detail_right{
  float: left;
  width: 400px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  h4{
    font-size: 14px;
    line-height: 35px;
  }
  p{
    font-size: 12px;
    line-height: 25px;
  }
}
.middle_container{
  position: relative;
  p{
    position: absolute;
    top:50%;
    right: 100px;
    margin-top: -12px;
    font-size: 14px;
    line-height: 24px;
  }
}
.container_left{
  display: inline-block;
  width: 170px;
}
.middle_img{
  width: 150px;
  height: 150px;
  margin: 20px 20px 20px 0;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  overflow: hidden;
  border:1px solid #e4e4e4;
}
.small_container{
  position: relative;
  p{
    position: absolute;
    top:50%;
    right: 100px;
    margin-top: -12px;
    font-size: 14px;
    line-height: 24px;
  }
}
.small_img{
  @extend .middle_img;
  width: 100px;
  height: 100px;
  margin:20px 0 20px 25px;
}
.change_btn{
  margin-top: 30px;
  text-align: center;
  span{
    display: inline-block;
    text-align: center;
    width: 130px;
    height: 40px;
    line-height: 38px;
    font-size: 18px;
    margin-right: 80px;
    text-align: center;
    border:1px solid #e4e4e4;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}