@charset "UTF-8";
.module_nav {
  background: #009933; }

.module_nav > ul > li {
  float: left;
  position: relative;
  margin-right: 1px; }
  .module_nav > ul > li:hover .icon_arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .module_nav > ul > li:hover > a {
    background-color: #018a2e; }
  .module_nav > ul > li:hover .subnav {
    display: block; }
  .module_nav > ul > li > a {
    display: block;
    padding: 0 24px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.module_nav > ul .current {
  background-color: #018a2e; }

.icon_arrow {
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: 3px;
  margin-left: 10px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  cursor: pointer;
  border-top: 4px solid #fff;
  -moz-transition: 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }

.module_nav > ul > li .subnav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #093;
  font-size: 13px;
  text-align: center;
  z-index: 9999; }
  .module_nav > ul > li .subnav li {
    margin: 10px 0; }
  .module_nav > ul > li .subnav li > a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .module_nav > ul > li .subnav li > a:hover {
      background-color: #018a2e; }

.index_header {
  height: 114px;
  background-color: #fff; }
  .index_header > .con_width {
    height: 114px; }

.index_header_logo {
  margin-top: 15px;
  margin-bottom: 15px; }

.icon_slogan {
  width: 200px;
  height: 16px;
  margin-top: 42px;
  margin-left: 10px;
  background: url(../../Images/sprite_index_slogan.png) no-repeat; }

.index_header_right {
  margin-top: 40px; }

.mall_header_right {
  margin-top: 15px; }

.m_searchWrap {
  position: relative;
  width: 422px;
  height: 35px;
  top: 0;
  margin-left: 100px;
  float: left;
  background: #ffffff;
  z-index: 2; }

.c_searchInput {
  position: relative;
  float: left;
  width: 250px;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  font-size: 14px; }
  .c_searchInput:before {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    content: "";
    display: block;
    border: 1px solid rgba(0, 153, 51, 0);
    width: 100%;
    height: 100%;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
  .c_searchInput:hover:before {
    border: 1px solid #009933; }

.c_searchItem {
  float: left;
  font-size: 14px;
  height: 35px;
  width: 70px; }

.c_search_button {
  position: relative;
  width: 90px;
  float: left;
  height: 35px;
  line-height: 35px;
  border: 1px solid #e4e4e4;
  background: #fff;
  background-image: none;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .c_search_button span {
    display: block;
    color: #666;
    font-size: 16px;
    line-height: 35px; }

.c_search_button:hover {
  background: #fff;
  border-color: #093;
  border-bottom: 1px solid #093;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc; }
  .c_search_button:hover span {
    color: #093; }

#search.search_input {
  position: relative;
  z-index: 3;
  width: 79%; }

#searchItems {
  width: 70px;
  height: 35px;
  font-size: 14px;
  overflow: hidden;
  background: #ffffff; }

#searchItems span {
  float: left;
  display: block;
  text-indent: 13px;
  line-height: 35px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  width: 70px;
  height: 35px;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }
  #searchItems span:hover {
    border-color: #093; }

.c_notCurrent:hover, .c_login a:hover {
  color: #ffffff;
  background: #009933; }

#currentItem {
  border-top: 1px solid #e4e4e4; }

.c_searchArrow {
  position: absolute;
  display: block;
  left: 49px;
  top: 17px;
  height: 0;
  width: 0;
  border-width: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
  border-top: 5px solid #888;
  transition: -webkit-transform 0.1s;
  -moz-transition: transform 0.1s, -moz-transform 0.1s;
  -o-transition: transform 0.1s, -o-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s, -moz-transform 0.1s, -o-transform 0.1s;
  -moz-transition: -moz-transform 0.1s;
  -webkit-transition: -webkit-transform 0.1s;
  -o-transition: -o-transform 0.1s; }

.arrowNow {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg); }

#searchSuggest {
  display: none;
  position: absolute;
  top: 35px;
  width: 250px;
  background: white;
  left: 70px;
  font-size: 15px;
  line-height: 30px;
  border-top: none;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 99999; }
  #searchSuggest .current_item {
    background: #eee; }

#searchSuggest li {
  cursor: pointer;
  padding-left: 10px;
  color: #888; }

#searchSuggest li:hover {
  background: #eee; }

.module_user_input {
  position: relative;
  margin-top: 20px; }

.module_user_input:after {
  content: "";
  display: block;
  clear: both;
  zoom: 1; }

.module_user_input em {
  float: left;
  width: 100px;
  padding-right: 10px;
  line-height: 35px;
  text-align: right;
  font-size: 14px;
  color: #666; }

.module_user_input input[type="text"], .module_user_input input[type="password"] {
  float: left;
  width: 388px;
  height: 23px;
  line-height: 28px;
  padding: 5px 10px;
  font-size: 13px;
  border: 1px solid #e4e4e4;
  font-family: "SimSun","Microsoft YaHei", \9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", STHeiti, MingLiu; }

.module_user_input input[type="password"] {
  font-family: "Microsoft YaHei", 微软雅黑; }

.module_user_input input:focus, .module_user_input textarea:focus {
  border: 1px solid #009933; }

.module_user_input .tip_messages {
  float: left;
  width: 480px;
  padding-left: 9px;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  color: #888;
  overflow: hidden; }

.module_error input[type="text"], .module_error input[type="password"] {
  border: 1px solid red; }

.module_error .tip_messages {
  color: red; }

.module_button {
  padding-top: 50px;
  padding-left: 120px;
  padding-bottom: 200px; }

.module_button a {
  width: 80px;
  height: 40px;
  line-height: 40px;
  background-color: #093;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  margin: 0 18px;
  -moz-transition: 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }

.module_button a:hover {
  color: #fff;
  background: #048b31;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc; }

.module_user_input div {
  width: 410px; }

.module_user_input select {
  float: left;
  padding: 3px 0 3px 10px;
  height: 30px;
  background: white;
  margin-right: 20px;
  outline: none;
  border: 1px solid #e4e4e4;
  font-size: 14px;
  font-family: 'SimSun','Microsoft YaHei',\5FAE\8F6F\96C5\9ED1; }

.module_user_input select:focus {
  border: 1px solid #009933; }

.module_user_input .address {
  display: block;
  float: none;
  margin-top: 20px; }

.module_user_input .yzm {
  width: 173px;
  padding: 0 10px;
  height: 33px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #e4e4e4;
  border-color: #093;
  color: #093;
  font-size: 14px; }

/*单选框 复选框*/
.module_user_input .select_down {
  width: 800px; }

.module_user_input .radio {
  width: 60px;
  margin-right: 15px;
  margin-top: 6px; }

.i-checks {
  padding-left: 20px;
  cursor: pointer;
  color: #666;
  font-size: 16px; }

.i-checks input {
  position: absolute;
  margin-left: -20px;
  opacity: 0;
  width: auto !important; }

.i-checks input:checked + i {
  border-color: #093; }

.i-checks input:checked + i:before {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #093; }

.i-checks input:checked + span .active {
  display: inherit; }

.i-checks input[type="radio"] + i,
.i-checks input[type="radio"] + i:before {
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.i-checks input[disabled] + i,
fieldset[disabled] .i-checks input + i {
  border-color: #dee5e7; }

.i-checks input[disabled] + i:before,
fieldset[disabled] .i-checks input + i:before {
  background-color: #dee5e7; }

.i-checks > i {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-right: 4px;
  margin-left: -20px;
  line-height: 1;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #cfdadd; }

.i-checks > i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  content: "";
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

textarea {
  border: 1px solid #e8e8e8;
  width: 450px;
  height: 150px;
  padding-top: 8px;
  padding-left: 9px;
  font-size: 12px;
  line-height: 1.6;
  outline: none;
  resize: none; }

.main {
  position: relative;
  height: 643px;
  min-width: 1300px;
  background: url(../../../Images/pc/icon_joinbg.png?_nosprite) no-repeat #7dcaf6 top center; }

.module_user_input > i {
  display: inline-block;
  padding-left: 10px;
  color: red;
  vertical-align: -2px; }

.join_content {
  margin-top: 50px;
  width: 390px;
  height: 470px;
  padding: 0 8px;
  background: #FFFFFF;
  border: 1px solid #e4e4e4; }

.join_content h3 {
  line-height: 79px;
  text-align: center;
  font-size: 30px;
  color: #093;
  font-weight: normal;
  border-bottom: 1px solid #e4e4e4; }

.join_input {
  padding-left: 0;
  padding-top: 10px; }

.module_user_input em {
  font-size: 17px; }

.module_user_input input[type="text"] {
  width: 200px; }

.module_user_input .select_down {
  width: 243px; }

.module_user_input select {
  float: none;
  width: 42%;
  height: 35px;
  padding: 7px 0 7px 10px;
  margin-right: 0;
  margin-bottom: 20px; }

.module_user_input .select_down i {
  display: inline-block;
  padding-left: 10px;
  color: red;
  vertical-align: -2px; }

.module_user_input input.address {
  float: right;
  margin-right: 20px;
  width: 81px;
  margin-top: 0; }

.module_button {
  padding-top: 0;
  padding-left: 92px;
  padding-bottom: 0; }
  .module_button > a {
    width: 222px; }
