@charset "UTF-8";
@import "../fh/style";
@import "../fh/moudle/usercenter/findpassword";
.m_content{
  min-height: 717px;
}
.m_input{
  width: 350px;
  margin: 0 auto;
  padding-bottom: 120px;
  input{
    font-size: 12px;
    padding: 0 15px;
    @include box-sizing();
    height: 35px;
    border: 1px solid #e4e4e4;
    margin-bottom: 20px;
    //letter-spacing: 2px;
    font-family: "SimSun","Microsoft YaHei", \9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", STHeiti, MingLiu;
    &:focus{
      border:1px solid #093;
      outline: none;
    }
  }
}
//第一步
.first_input{
  width: 350px;
}
.confirm{
  position: relative;
  input{
    float:left;
    width: 190px;
  }
  img{
    margin-left: 12px;
    width: 104px;
    height: 35px;
  }
}
.confirm_refresh{
  display: block;
  position: absolute;
  right: 0;
  top: 13px;
  width: 24px;
  height: 24px;
  background: url("../../usercenter/Images/sprite_register_refresh.png");
}
.m_content .button{
  width: 110px;
  height: 35px;
  font-size: 14px;
  border: 1px solid $normalColor;
  color: $normalColor;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include transition();
  &:hover{
    background: #093;
    color: #fff;
  }
}
//第二步
.message{
  input{
    float: left;
    width: 190px;
  }
  .time{
    line-height: 35px;
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #666;
    span{
      color: $normalColor;
      font-size: 14px;
    }
  }
}
//第三步
.step3_ele{
  input{
    width: 350px;
    font-family: 'Microsoft YaHei';
  }
}
//第四步
.step4_ele{
  margin-top: 100px;
  font-size: 24px;
  color: #093;
  text-align: center;
  a{
    margin: 0 3px;
    font-size: 30px;
    color: #093;
    &:hover{
      color: #f60;
    }
  }
}
.tip {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: red;
  padding-left: 5px; }
//.m_input{
//  display: none;
//}
//.step2_ele{
//  display: block;
//}