@charset "UTF-8";
@import "../fh/base";
@import "../fh/lib";

.m_content_right input, textarea {
  outline: none;
  &:focus {
    border: 1px solid $normalColor;
  }
}

#m_addcase{
  padding:15px 0;
  margin-left:30px;
}
.m_addcase input{
  border: 1px solid #e4e4e4;
}

.m_content_right {
  padding-bottom: 50px;
}

.case_ele {
  margin-top: 20px;
}

.title {
  margin-top: 20px;
  span {
    line-height: 35px;
  }
}

.case_ele_head {
  float: left;
  width: 100px;
  padding-right: 10px;
  line-height: 35px;
  text-align: right;
  font-size: 14px;
  color: #666;
}

.title_content {
  padding: 0 10px;
  width: 280px;
  height:33px;
}

.case_sort {
  width: 918px;
  li {
    position: relative;
    float: left;
    margin-bottom: 10px;
    width: 140px;
    line-height: 25px;
    font-size: 13px;
    color: #666;
    input {
      position: absolute;
      top: 7px;
    }
    span {
      margin-left: 15px;
    }
  }
}

.date {
  margin-top: 20px;
  span {
    line-height: 30px;
  }
  input {
    width: 133px;
  }
}

.upload_head {
  line-height: 40px;
}

.upload_img {
  display: none;
}

.upload_button {
  float: left;
  width: 133px;
  height:35px;
  font-size: 14px;
  @include box-sizing();
  border: 1px solid $normalColor;
  color: $normalColor;
  text-align: center;
  line-height:35px;
  cursor: pointer;
  &:hover {
    background: #093;
    color: #FFFFFF;
    @include transition;
  }
}

.upload_descri {
  float: left;
  font: $littleFont;
  line-height: 40px;
  color: #888;
  margin-left: 10px;
}

.upload_detail {
  padding-left:110px;
  margin-top: 20px;
}

.upload_ele {
  width: 320px;
  padding: 20px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #f8f8f8;
  @include box-sizing();
  img {
    width: 280px !important;
    height: 175px !important;
  }
}
.upload_ele.upload_huxingtu{
  width: 440px;
  height: 290px;
  padding-top:30px;
  position: relative;
  img{
    width: 400px !important;
    height: 250px !important;
  }
  .del_case{
    top: 9px;
    right: 9px;
    width: 14px;
    height: 13px;
    background: url("../../usercenter/Images/sprite_delete.png") no-repeat;
  }
}

.location {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 35px;
  height: 37px;
}

.location_list {
  position: absolute;
  display: block;
  border-bottom: 0;
  top: 0;
  left: 40px;
  height: 37px;
  width: 103px;
  overflow: hidden;
  ul {
    border-top: 1px solid #e4e4e4;
    width: 82px;
  }

  li {
    width: 80px;
    position: relative;
    display: block;
    height: 35px;
    background: #FFFFFF;
    text-align: center;
    border-top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
}

.arrow_container {
  position: absolute;
  top: 0px;
  left: 122px;
  height: 35px;
  width: 20px;
  border-left: 0;
  background: #FFFFFF;
}

.arrowdown {
  display: block;
  margin-top: 15px;
  margin-left: 2px;
  @include arrow(bottom, 7px, #093);
  @include transition;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrowup {
  @include arrow(top, 7px, #093)
}

.del_case {
  position: absolute;
  top: 3px;
  right: 0;
  width: 20px;
  height: 22px;
  background: url("../../usercenter/Images/sprite_usercenter_addcase1.png");
  cursor: pointer;
}

.intro {
  margin: 20px 0 0 10px;
  font-size: 14px;
  line-height: 35px;
  span {
    margin-right: 12px;
  }
}

.intro_text {
  width: 220px;
  font-size: 14px;
  line-height: 25px;
  height: 37px;
  resize: none;
  outline-color: #093;
  padding: 5px 10px;
  @include box-sizing();
}

.upload_ele .edit {
  width: 80px;
  height: 40px;
  font-size: 14px;
  margin: 20px 0 0 50px;
  text-align: center;
  line-height: 40px;
  background: #093;
  color: #FFFFFF;
  font-family: "Microsoft YaHei " !important;
  cursor: pointer;
  border:1px solid #093;
  @include transition();
  &:hover{
    background: #048b31;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
  }
}

.submit {
  width: 80px;
  margin: 50px auto 0;
  .submit_button {
    width: 80px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    background: #093;
    color: #FFFFFF;
    font-family: "Microsoft YaHei " !important;
    cursor: pointer;
    border-color: #093;
    @include transition();
    &:hover{
      background: #048b31;
      -webkit-box-shadow: 1px 1px 1px #ccc;
      -moz-box-shadow: 1px 1px 1px #ccc;
      box-shadow: 1px 1px 1px #ccc;
    }
  }
}

.content_datetime {
  padding:5px 10px;
  height: 23px;
  width: 200px;
  line-height: 23px;
  font-size: 14px;
}

.upload_ele select, .case_ele select {
  float: left;
  padding:7px 0 7px 10px;
  height: 35px;
  background: #fff;
  margin-right: 20px;
  outline: 0;
  border: 1px solid #e4e4e4;
  font-size: 14px;
  font-family: SimSun, 'Microsoft YaHei', \5FAE\8F6F\96C5\9ED1;
}

.upload_ele select:focus, .case_ele select:focus {
  border: 1px solid #093;
}

.select_down {
  width: 900px;
}

.address {
  margin-top: 10px;
  height: 33px;
  line-height: 33px;
  padding: 0 10px;
  width: 480px;
  margin-left: 110px;
}
