html {
  width: 100%;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font: 12px "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  -webkit-tap-highlight-color: transparent; }

body {
  min-width: 1300px;
  height: 100%;
  margin: 0;
  background-color: #fff;
  -webkit-overflow-scrolling: touch; }

* {
  word-break: break-all; }

pre, html, body, div, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, input, button, textarea, p, span, table, th, td, form, img, div {
  margin: 0;
  padding: 0;
  word-break: break-all; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

.fontsong {
  font-size: 12px;
  font-family: "SimSun",serif; }

img, a, input, button {
  border: none;
  outline: none;
  background: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #333; }

a:hover {
  color: #BC1015; }

h1, h2, h3, h4, h5, h6, b {
  font-weight: normal;
  cursor: hand; }

em, i, b {
  font-style: normal; }

ul, ol {
  list-style: none; }

/*
input{
    -webkit-transition: 0.2s ;
    -moz-transition: 0.2s ;
    -ms-transition: 0.2s ;
    -o-transition: 0.2s ;
    transition: 0.2s ;
}input:-ms-clear{display:none;}
*/
input {
  font-family: "Microsoft YaHei"; }

.fr {
  float: right; }

.fl {
  float: left; }

.ar {
  text-align: right; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.hide {
  display: none; }

.conWidth {
  width: 1200px;
  margin: 0 auto; }

.con_width {
  width: 1200px;
  margin: 0 auto; }

.no_before:before {
  display: none !important; }

.no_after:after {
  display: none !important; }

.no_marginR {
  margin-right: 0 !important; }

.no_marginB {
  margin-bottom: 0 !important; }

.no_marginL {
  margin-left: 0 !important; }

.no_borderB {
  border-bottom: 0 !important; }

.no_borderT {
  border-top: 0 !important; }

.no_borderL {
  border-left: 0 !important; }

.no_borderR {
  border-right: 0 !important; }

.top {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #EDEDED;
  background-color: #FAFAFA; }
  .top .top_center {
    width: 1200px;
    margin: 0 auto; }
    .top .top_center ul li {
      float: left;
      height: 30px;
      line-height: 30px;
      background: url("../../index/Images/sprite_shu.png") 0 9px no-repeat;
      padding: 0 10px; }
      .top .top_center ul li a {
        color: #8c8c8c; }
        .top .top_center ul li a:hover {
          color: #BC1015; }
    .top .top_center ul .l1, .top .top_center ul .r1 {
      background: none; }
    .top .top_center ul .r1 a {
      color: #333; }
    .top .top_center ul .r1 .drop_down .hd {
      min-width: 80px;
      text-align: right;
      white-space: nowrap; }
      .top .top_center ul .r1 .drop_down .hd em {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-top: -3px;
        background: url("../../index/Images/test_level.png") no-repeat; }
      .top .top_center ul .r1 .drop_down .hd .level_1 {
        background-position: -26px 0; }
    .top .top_center ul .r1 .drop_down .bd {
      text-align: right; }
      .top .top_center ul .r1 .drop_down .bd span {
        padding: 0 5px; }
    .top .top_center ul .r1:hover .drop_down, .top .top_center ul .l3:hover .drop_down, .top .top_center ul .r5:hover .drop_down {
      border: 1px solid #ededed;
      border-top: none;
      z-index: 88;
      background-color: #fff;
      margin: 0 -11px; }
      .top .top_center ul .r1:hover .drop_down .hd i, .top .top_center ul .l3:hover .drop_down .hd i, .top .top_center ul .r5:hover .drop_down .hd i {
        background: url("../../index/Images/sprite_arrow_up.png") no-repeat; }
      .top .top_center ul .r1:hover .drop_down .bd, .top .top_center ul .l3:hover .drop_down .bd, .top .top_center ul .r5:hover .drop_down .bd {
        display: block; }
    .top .top_center ul .r1 .drop_down, .top .top_center ul .l3 .drop_down, .top .top_center ul .r5 .drop_down {
      margin: 0 -10px;
      position: relative;
      display: block;
      z-index: 888; }
      .top .top_center ul .r1 .drop_down .hd, .top .top_center ul .l3 .drop_down .hd, .top .top_center ul .r5 .drop_down .hd {
        position: relative;
        padding: 0 27px 0 10px; }
        .top .top_center ul .r1 .drop_down .hd i, .top .top_center ul .l3 .drop_down .hd i, .top .top_center ul .r5 .drop_down .hd i {
          display: inline-block;
          width: 7px;
          height: 4px;
          position: absolute;
          right: 8px;
          top: 50%;
          background: url("../../index/Images/sprite_arrow_down.png") no-repeat; }
      .top .top_center ul .r1 .drop_down .bd, .top .top_center ul .l3 .drop_down .bd, .top .top_center ul .r5 .drop_down .bd {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 29px;
        padding: 0 10px;
        background-color: #fff;
        border: 1px solid #ededed;
        border-top-color: #fff;
        margin: 0 -1px; }

.top_banner {
  width: 1200px;
  margin: 10px auto 0;
  position: relative; }
  .top_banner i {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 9px;
    height: 9px;
    display: block;
    cursor: pointer;
    background: url("../../index/Images/sprite_close.png") no-repeat; }

.head {
  height: 118px;
  background-color: #fff; }
  .head .head_center {
    width: 1200px;
    margin: 0 auto; }
    .head .head_center .logo {
      padding-top: 43px;
      width: 345px; }
      .head .head_center .logo a {
        display: inline-block; }
    .head .head_center .search_bar {
      padding: 43px 7px 0 0; }
      .head .head_center .search_bar .search_form {
        line-height: 1;
        border: 2px solid #ca141d;
        height: 28px;
        overflow: hidden; }
        .head .head_center .search_bar .search_form form {
          width: 428px;
          height: 28px;
          line-height: 28px;
          position: relative; }
          .head .head_center .search_bar .search_form form input[type=text] {
            width: 344px;
            padding: 5px 10px; }
            .head .head_center .search_bar .search_form form input[type=text]:focus .holder {
              display: none; }
          .head .head_center .search_bar .search_form form input[type=button] {
            position: absolute;
            right: 0;
            top: 0px;
            width: 60px;
            height: 28px;
            cursor: pointer;
            border: 0 none;
            background-color: #ca141d;
            color: #fff;
            font-size: 14px; }
      .head .head_center .search_bar .search_hot {
        width: 365px;
        height: 20px;
        line-height: 20px;
        margin-top: 5px;
        color: #999; }
        .head .head_center .search_bar .search_hot a {
          padding: 0 5px;
          color: inherit; }
    .head .head_center .tool_bar {
      float: left;
      height: 31px;
      border: 1px solid #e5e5e5;
      border-bottom: 0;
      background-color: #FFF;
      margin-top: 43px; }
      .head .head_center .tool_bar .com .hd {
        width: 99px;
        height: 18px;
        text-align: center;
        padding: 6px 0;
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        background-color: #FFF; }
        .head .head_center .tool_bar .com .hd i {
          width: 8px;
          height: 4px;
          display: block;
          position: absolute;
          right: 8px;
          top: 12px;
          background: url("../../index/Images/sprite_mymall_down.png") no-repeat; }
        .head .head_center .tool_bar .com .hd s {
          position: absolute;
          width: 1px;
          height: 12px;
          top: 9px;
          right: 0px;
          background-color: #e5e5e5; }
      .head .head_center .tool_bar .mymall {
        position: relative; }
        .head .head_center .tool_bar .mymall:hover .hd {
          height: 19px;
          border-bottom: 0; }
          .head .head_center .tool_bar .mymall:hover .hd i {
            background: url("../../index/Images/sprite_mymall_up.png") no-repeat; }
          .head .head_center .tool_bar .mymall:hover .hd s {
            height: 31px;
            top: 0px; }
        .head .head_center .tool_bar .mymall:hover .bd {
          z-index: 8888;
          display: block; }
        .head .head_center .tool_bar .mymall .bd {
          position: absolute;
          width: 198px;
          top: 31px;
          left: -1px;
          overflow: hidden;
          display: none;
          border: 1px solid #e5e5e5;
          border-top: 0;
          background-color: #FFF; }
          .head .head_center .tool_bar .mymall .bd .unlogin_ifo {
            padding: 11px 10px;
            color: #666;
            text-align: center; }
            .head .head_center .tool_bar .mymall .bd .unlogin_ifo p {
              font-size: 12px; }
              .head .head_center .tool_bar .mymall .bd .unlogin_ifo p a {
                padding: 0 8px; }
          .head .head_center .tool_bar .mymall .bd .login_info {
            border-top: 1px solid #e5e5e5;
            width: 210px;
            padding-top: 29px;
            overflow: hidden; }
            .head .head_center .tool_bar .mymall .bd .login_info ul li {
              float: left;
              width: 99px;
              line-height: 14px;
              border-right: 1px solid #e5e5e5;
              margin-bottom: 26px;
              overflow: hidden;
              text-align: center; }
              .head .head_center .tool_bar .mymall .bd .login_info ul li span {
                color: #e01d20;
                margin-left: 4px; }
          .head .head_center .tool_bar .mymall .bd .activity {
            text-align: center;
            padding: 0 10px 10px; }
      .head .head_center .tool_bar .mycart {
        position: relative; }
        .head .head_center .tool_bar .mycart:hover .mymall .hd {
          border-bottom: 0;
          z-index: 8888; }
        .head .head_center .tool_bar .mycart:hover .hd {
          height: 20px;
          border-bottom: 0;
          border-left: 1px solid #e5e5e5;
          margin-left: -1px;
          z-index: 9999; }
          .head .head_center .tool_bar .mycart:hover .hd i {
            background: url("../../index/Images/sprite_mymall_up.png") no-repeat; }
        .head .head_center .tool_bar .mycart:hover .bd {
          display: block;
          z-index: 8888; }
        .head .head_center .tool_bar .mycart .hd {
          position: relative; }
          .head .head_center .tool_bar .mycart .hd span {
            position: absolute;
            height: 15px;
            line-height: 15px;
            padding: 0 2px;
            background-color: #ca141d;
            right: 6px;
            top: -16px;
            color: #FFF; }
            .head .head_center .tool_bar .mycart .hd span b {
              position: absolute;
              right: 5px;
              top: 15px;
              width: 6px;
              height: 3px;
              display: block;
              background: url("../../index/Images/sprite_mycart_dow.png") no-repeat; }
        .head .head_center .tool_bar .mycart .bd {
          position: absolute;
          width: 466px;
          right: -1px;
          top: 31px;
          overflow: hidden;
          display: none;
          border: 1px solid #e5e5e5;
          background-color: #FFF;
          margin-top: -1px; }
          .head .head_center .tool_bar .mycart .bd .cart_empty {
            text-align: center;
            color: #999;
            padding: 41px 0;
            line-height: 1.5;
            display: none; }
            .head .head_center .tool_bar .mycart .bd .cart_empty p {
              display: inline-block;
              padding: 5px 0 5px 48px;
              background: url("../../index/Images/sprite_emptycart.png") no-repeat; }
          .head .head_center .tool_bar .mycart .bd .cart_list ul li {
            border-bottom: 1px solid #eaeaea;
            padding: 0 23px 15px 15px;
            margin-top: 15px;
            vertical-align: top; }
            .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .pro_img {
              float: left;
              width: 80px; }
              .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .pro_img img {
                vertical-align: top;
                width: 80px;
                height: 80px; }
            .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .pro_name {
              float: left;
              width: 283px;
              padding: 4px 0 0 15px;
              margin-bottom: 18px; }
              .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .pro_name a {
                display: block;
                height: 36px;
                line-height: 18px;
                overflow: hidden; }
            .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .pro_price {
              float: left;
              width: 283px;
              padding-left: 15px; }
              .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .pro_price b {
                color: #e01d20;
                font-weight: 400; }
              .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .pro_price em {
                color: #888;
                margin: 0 7px; }
              .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .pro_price span {
                color: #888; }
            .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .close {
              margin-top: -25px;
              float: right;
              cursor: pointer; }
              .head .head_center .tool_bar .mycart .bd .cart_list ul li .pro_info .close i {
                display: inline-block;
                width: 13px;
                height: 13px;
                font-size: 1px;
                line-height: 1px;
                background: url("../../index/Images/sprite_pro_close.png") no-repeat;
                overflow: hidden; }
          .head .head_center .tool_bar .mycart .bd .to_account {
            background-color: #fafafa;
            padding: 22px 24px;
            height: 37px;
            margin-top: -1px; }
            .head .head_center .tool_bar .mycart .bd .to_account p {
              position: relative;
              height: 37px;
              line-height: 37px; }
              .head .head_center .tool_bar .mycart .bd .to_account p em {
                color: #e01d20;
                font-size: 18px;
                margin: 0 4px;
                position: relative;
                top: 1px; }
              .head .head_center .tool_bar .mycart .bd .to_account p b {
                font-weight: 400;
                font-size: 18px;
                color: #e01d20;
                margin-left: 4px;
                position: relative;
                top: 1px; }
              .head .head_center .tool_bar .mycart .bd .to_account p a {
                border: 1px solid #e01d20;
                background-color: #e01d20;
                color: #FFF;
                font-size: 16px;
                width: 130px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                display: inline-block;
                position: absolute;
                right: 0;
                top: 0; }
    .head .head_center .erweima {
      padding-top: 15px;
      float: right; }
      .head .head_center .erweima .erweima_box {
        width: 91px;
        height: 96px;
        position: relative; }
        .head .head_center .erweima .erweima_box .erweima_img a {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 10px;
          display: block; }
          .head .head_center .erweima .erweima_box .erweima_img a:hover {
            color: #333; }
          .head .head_center .erweima .erweima_box .erweima_img a img {
            width: 76px;
            height: 76px; }
          .head .head_center .erweima .erweima_box .erweima_img a p {
            width: 100px;
            margin-top: -3px; }
        .head .head_center .erweima .erweima_box .erweima_img .img2 {
          display: none; }
        .head .head_center .erweima .erweima_box ul {
          position: absolute;
          top: 0;
          right: 0; }
          .head .head_center .erweima .erweima_box ul li {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #e5e5e5;
            margin: 3px 0;
            opacity: 1; }
          .head .head_center .erweima .erweima_box ul .current {
            background-color: #f79f2e; }

.nav {
  height: 40px;
  background-color: #ca141d; }
  .nav .nav_box {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
    .nav .nav_box .category {
      position: absolute;
      left: 0;
      top: 0;
      width: 220px;
      height: 40px;
      z-index: 8888; }
      .nav .nav_box .category:hover .hd_arrow {
        background: url("../../index/Images/sprite_category_up.png"); }
      .nav .nav_box .category:hover .bd {
        display: block !important; }
      .nav .nav_box .category .hd {
        height: 39px;
        border: 1px solid #f86675;
        border-bottom: 0 none;
        background-color: #e63547; }
        .nav .nav_box .category .hd h2 {
          line-height: 37px;
          height: 38px;
          font-size: 16px;
          color: #FFF;
          padding-left: 15px;
          border-bottom: 1px solid #da3243; }
        .nav .nav_box .category .hd i {
          width: 8px;
          height: 4px;
          display: block;
          position: absolute;
          right: 13px;
          top: 18px;
          background: url("../../index/Images/sprite_category_down.png"); }
      .nav .nav_box .category .bd {
        display: none; }
        .nav .nav_box .category .bd .category-list {
          background-color: #e63547;
          border: 1px solid #f86675;
          border-top: 0 none;
          padding-bottom: 7px;
          outline: none; }
          .nav .nav_box .category .bd .category-list .category-item {
            position: relative;
            z-index: 7777; }
            .nav .nav_box .category .bd .category-list .category-item:hover .category-info {
              background-color: #fcf7f7;
              background-color: #fcf7f7; }
              .nav .nav_box .category .bd .category-list .category-item:hover .category-info h3 a {
                color: #e63547; }
              .nav .nav_box .category .bd .category-list .category-item:hover .category-info a:hover {
                color: #d59698; }
            .nav .nav_box .category .bd .category-list .category-item:hover .category_content {
              display: block; }
              .nav .nav_box .category .bd .category-list .category-item:hover .category_content .sub_list li a:hover {
                color: #e63547;
                background-color: #efeaea; }
              .nav .nav_box .category .bd .category-list .category-item:hover .category_content .sub_activity dd a:hover {
                color: #333; }
            .nav .nav_box .category .bd .category-list .category-item .category-info {
              padding: 8px 0 8px 4px;
              _padding: 6px 0 8px 6px;
              margin-left: 4px;
              height: 40px; }
              .nav .nav_box .category .bd .category-list .category-item .category-info h3 {
                margin-bottom: 2px; }
                .nav .nav_box .category .bd .category-list .category-item .category-info h3 a {
                  font-size: 16px;
                  color: #FFF; }
              .nav .nav_box .category .bd .category-list .category-item .category-info a {
                color: #ffb7ba;
                margin-left: 8px;
                font-size: 13px; }
            .nav .nav_box .category .bd .category-list .category-item .category_content {
              display: none;
              position: absolute;
              left: 218px;
              width: 179px;
              border: 1px solid #efeaea;
              border-left: 0 none;
              background-color: #fcf7f7;
              top: 0;
              padding: 10px 0;
              z-index: 7878; }
              .nav .nav_box .category .bd .category-list .category-item .category_content .sub_list .sub_item a {
                display: block;
                padding-left: 30px;
                line-height: 37px;
                font-size: 14px;
                color: #666; }
              .nav .nav_box .category .bd .category-list .category-item .category_content .sub_activity {
                margin: 10px 30px 8px; }
                .nav .nav_box .category .bd .category-list .category-item .category_content .sub_activity dt {
                  height: 22px;
                  line-height: 22px;
                  text-align: center;
                  font-size: 13px;
                  color: #FFF;
                  background-color: #e63547;
                  margin-bottom: 11px; }
                .nav .nav_box .category .bd .category-list .category-item .category_content .sub_activity dd {
                  overflow: hidden;
                  white-space: nowrap;
                  display: block;
                  width: 100%; }
                  .nav .nav_box .category .bd .category-list .category-item .category_content .sub_activity dd a {
                    color: #666;
                    font-size: 13px;
                    line-height: 22px; }
            .nav .nav_box .category .bd .category-list .category-item .category_arrow {
              position: absolute;
              right: 12px;
              top: 50%;
              margin-top: -6px;
              width: 7px;
              height: 13px;
              background: url("../../index/Images/sprite_category_arrow.png") no-repeat; }
        .nav .nav_box .category .bd .itme3 .category_content {
          top: -25px !important; }
        .nav .nav_box .category .bd .itme4 .category_content {
          top: -130px !important; }
        .nav .nav_box .category .bd .itme5 .category_content {
          top: -188px !important; }
        .nav .nav_box .category .bd .itme6 .category_content {
          top: -188px !important; }
        .nav .nav_box .category .bd .itme7 .category_content {
          top: -188px !important; }
    .nav .nav_box .nav_main {
      padding-left: 219px; }
      .nav .nav_box .nav_main ul {
        border-left: 1px solid #da5b61; }
        .nav .nav_box .nav_main ul li {
          float: left;
          position: relative; }
          .nav .nav_box .nav_main ul li a {
            padding: 0 30px;
            display: inline-block;
            height: 40px;
            line-height: 39px;
            font-size: 16px;
            color: #FFF;
            white-space: nowrap;
            text-align: center; }
            .nav .nav_box .nav_main ul li a:hover {
              background-color: #d9141e; }
            .nav .nav_box .nav_main ul li a img {
              position: absolute;
              right: 12px;
              top: -5px;
              line-height: 1.2; }
        .nav .nav_box .nav_main ul .current {
          background-color: #ba181f; }
        .nav .nav_box .nav_main ul .more {
          position: relative; }
          .nav .nav_box .nav_main ul .more:hover i.more_arrow {
            background: url("../../index/Images/sprite_category_up.png"); }
          .nav .nav_box .nav_main ul .more:hover ol {
            display: block;
            z-index: 3333; }
          .nav .nav_box .nav_main ul .more .more_arrow {
            display: inline-block;
            width: 8px;
            height: 4px;
            vertical-align: 4px;
            margin-left: 5px;
            background: url("../../index/Images/sprite_category_down.png"); }
          .nav .nav_box .nav_main ul .more ol {
            position: absolute;
            border: 1px solid #e8e8e8;
            border-top: 0 none;
            left: -1px;
            top: 40px;
            background-color: #FFF;
            display: none; }
            .nav .nav_box .nav_main ul .more ol li {
              float: none; }
              .nav .nav_box .nav_main ul .more ol li a {
                color: #636363;
                height: 34px;
                line-height: 34px;
                background-color: #fff;
                text-align: left;
                font-size: 14px;
                min-width: 80px; }
                .nav .nav_box .nav_main ul .more ol li a:hover {
                  background-color: #fbfaf9; }

.quality {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 23px 0 22px;
  width: 1200px;
  margin: 0 auto; }
  .quality ul li {
    float: left;
    width: 25%;
    line-height: 44px;
    font-size: 16px;
    height: 44px; }
    .quality ul li i {
      width: 44px;
      height: 44px;
      overflow: hidden;
      margin-right: 12px;
      float: left;
      display: block;
      background: url("../../index/Images/test_quality.png") no-repeat; }
  .quality ul .q1 i {
    background-position: 0 0; }
  .quality ul .q2 i {
    background-position: -54px 0; }
  .quality ul .q3 i {
    background-position: -108px 0; }
  .quality ul .q4 i {
    background-position: -162px 0; }

.service {
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  padding: 30px 8px 20px 8px;
  overflow: hidden; }
  .service dl {
    float: left;
    width: 20%; }
    .service dl dt {
      font-size: 16px;
      padding-bottom: 15px;
      padding-left: 38px; }
    .service dl dd {
      padding-left: 62px;
      line-height: 24px; }
      .service dl dd a:hover {
        text-decoration: underline; }
    .service dl i {
      float: left;
      width: 16px;
      height: 14px;
      margin: 3px 8px 0 0;
      background: url("../../index/Images/test_quality.png") no-repeat; }
  .service .s1 i {
    background-position: 0 -54px; }
  .service .s2 i {
    background-position: -26px -54px; }
  .service .s3 i {
    background-position: -52px -54px; }
  .service .s4 i {
    background-position: -78px -54px; }
  .service .s5 i {
    background-position: 0 -78px; }

.foot {
  width: 1200px;
  margin: 0 auto;
  padding: 29px 0 30px; }
  .foot p {
    text-align: center;
    line-height: 18px; }
  .foot .foot_img {
    padding-top: 25px;
    margin-right: 3px; }
    .foot .foot_img a {
      display: inline-block; }

.totop {
  position: fixed;
  right: 100px;
  bottom: 200px;
  z-index: 500;
  border-radius: 3px;
  display: none;
  background-color: #999;
  filter: alpha(opacity=50);
  /* IE */
  opacity: 0.5; }
  .totop:hover {
    filter: alpha(opacity=100);
    /* IE */
    opacity: 1; }
  .totop a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    display: block;
    text-align: center; }
    .totop a img {
      width: 26px;
      height: 14px; }

.site_nav {
  color: #BBB;
  line-height: 18px;
  margin: 10px 0;
  font-family: \5b8b\4f53; }
  .site_nav a {
    color: #666; }
    .site_nav a:hover {
      text-decoration: underline; }
  .site_nav span {
    color: #333; }

.mian {
  margin: 10px 0 80px 0; }

.mf {
  width: 240px;
  background-color: #fafafa; }
  .mf h2 {
    font-size: 18px;
    padding: 28px 0 22px 30px; }
  .mf .bd {
    padding-bottom: 20px; }
    .mf .bd ul li h3 {
      font-size: 14px;
      text-align: center;
      margin: 30px 30px 15px;
      color: #888;
      height: 1px;
      position: relative;
      background-color: #ededed; }
      .mf .bd ul li h3 em {
        position: absolute;
        top: -12px;
        left: 50%;
        padding: 2px;
        margin-left: -30px;
        background-color: #fafafa; }
    .mf .bd ul li ol li {
      padding: 10px 0;
      font-size: 14px; }
      .mf .bd ul li ol li a {
        padding-left: 30px; }
        .mf .bd ul li ol li a em {
          display: inline-block;
          width: 15px;
          height: 15px;
          line-height: 15px;
          border-radius: 50%;
          color: #fff;
          background-color: #ca151e;
          text-align: center;
          margin-left: 5px; }
    .mf .bd ul li ol .current a {
      border-left: 2px solid #ca151e;
      color: #ca151e; }

.recommend_shps {
  margin: 35px 0 80px 0; }
  .recommend_shps h2 {
    border-bottom: 1px solid #dedede;
    font-size: 16px;
    line-height: 33px;
    font-weight: normal; }
    .recommend_shps h2 em {
      border-bottom: 1px solid #333;
      line-height: inherit;
      padding: 6px 15px; }
  .recommend_shps ul {
    margin: 20px 70px; }
    .recommend_shps ul li {
      float: left;
      margin-left: 35px; }
      .recommend_shps ul li p {
        width: 230px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .recommend_shps ul li .p_img {
        width: 230px;
        height: 230px;
        margin-bottom: 16px; }
        .recommend_shps ul li .p_img img {
          display: inline-block;
          width: 230px;
          height: 230px; }
      .recommend_shps ul li .p_name {
        padding-bottom: 5px; }

.mr {
  width: 940px;
  overflow: hidden; }
  .mr .title {
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #dedede; }
    .mr .title h1 {
      font-size: 24px; }
  .mr .collected {
    margin-top: 20px;
    padding: 0 10px; }
    .mr .collected ul li {
      float: left;
      width: 220px;
      margin: 0 10px 15px 0; }
      .mr .collected ul li .pro_wrap {
        border: 1px solid #dfdfdf;
        margin-right: -1px;
        margin-bottom: -1px; }
        .mr .collected ul li .pro_wrap:hover .pro_info {
          border-color: #efcacc; }
        .mr .collected ul li .pro_wrap .pro_info {
          background-color: #f8f8f8;
          border: 4px solid #f8f8f8;
          position: relative;
          height: 230px;
          text-align: center;
          transition: all .3s ease; }
          .mr .collected ul li .pro_wrap .pro_info .pro_img a {
            width: 150px;
            display: block;
            margin: 6px auto 0; }
            .mr .collected ul li .pro_wrap .pro_info .pro_img a img {
              width: 150px;
              height: 150px; }
          .mr .collected ul li .pro_wrap .pro_info .pro_name a:hover {
            color: #e01d20;
            text-decoration: underline; }
          .mr .collected ul li .pro_wrap .pro_info .pro_name a span {
            color: #e01d20; }
          .mr .collected ul li .pro_wrap .pro_info .pro_price {
            color: #e01d20;
            margin-right: 4px;
            font-size: 20px; }
          .mr .collected ul li .pro_wrap .pro_info .pro_tag {
            position: absolute;
            top: -4px;
            left: -4px;
            z-index: 5; }

/*# sourceMappingURL=usercenter_collected.css.map */
