@charset "UTF-8";
@import "../lib/reset";
@import "../lib/commonclass";
@import "../model/head";
@import "../model/foot";
@import "../model/totop";
@import "../model/site_nav";
@import "../model/usercenter";
@import "../model/recommend_shps";
//========修改密码=========
.mr {
  width: 940px;
  overflow: hidden;
  .title {
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #dedede;
    h1 {
      font-size: 24px;
    }
    ul {
      li {
        float: left;
        a {
          display: block;
          color: #888;
          font-size: 14px;
          padding: 0 13px;
        }
      }
      .current {
        a {
          border-bottom: 1px solid #000;
        }
      }
    }
  }
}
.changepw{
  margin-top: 50px;
  padding-left: 50px;
}
.info_list{
  margin-bottom: 20px;
  label{
    width: 100px;
    display: inline-block;
    text-align: right;
    font-size: 14px;
  }
  i{
    color: #ca151e;
    font-size: 12px;
    padding-left: 30px;
    visibility: hidden;
  }
  input{
    width: 250px;
    padding: 8px 10px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #dedede;
    background-color: #fff;
  }
  input[type=radio]{
    vertical-align: middle;
  }
  .sex{
    padding: 0 7px;
  }
  .on_address{
    margin-left: 5px;
    .select_address{
      margin-bottom: 15px;
      select{
        margin-right: 15px;
        width:100px;
        height:34px;
      }
    }
  }
  .detail_address{
    position: relative;
    em{
      position: absolute;
      top:7px;
      left:7px;
      color: #999;
    }
    textarea{
      width: 380px;
      height: 60px;
      resize: none;
      padding: 5px 10px;
      border: 1px solid #dedede;
      background-color: #fff;
    }
  }
}

//确定---
.submit{
  padding: 5px 0 30px 105px;
  a{
    display: inline-block;
    min-width: 78px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #d1d1d1;
    text-align: center;
    padding: 0 20px;
    white-space: nowrap;
    margin-right: 10px;
    &:hover{
      background-color: #fff;
    }
  }
}