@charset "UTF-8";

.order_content{
  .order_code{
    width: 315px;
  }
  .order_count{
    width: 120px;
  }
  .order_price{
    width: 135px;
  }
  .order_status{
    width: 130px;
  }
  .order_operate{
    width: 130px;
  }
}


.order_content .order_title{
  text-align: center;
  line-height:40px;
  padding:0 15px;
  li{
    float: left;
  }
  .order_code{
    font-size: 13px;
    color: #666666;
    text-align: left;
    color: #999999;
    span{
      margin-right: 15px;
    }
    i{
      color: #333;
    }
  }
}
 .order_ele{
   position: relative;
  padding:0 15px 0;
  background: #FFFFFF;
  color: #999;
  >ul{
    padding: 20px 0;
   border-bottom:1px solid #e4e4e4;
 }
  li{
    float: left;
    height: 75px;
    display: table;
    text-align: center;
    >div{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .order_code{
    padding:0 40px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    img{
      float: left;
      width: 75px!important;
      height: 75px!important;
    }
    p{
      float: left;
      font-size: 12px;
      width: 145px;
      height: 40px;
      text-align: left;
      line-height: 20px;
      margin:17px 0 0 10px;
      overflow: hidden;
      a{
        color: #666666;
        height: 20px;
        @include ell(1);
        overflow: hidden;
      }
      span{
        color: #666666;
        display: block;
        height: 20px;
        @include ell(1);
      }
    }
  }
  .order_status{
    a{
      color: #333;
    }
  }
  .order_operate{
    a{
      display: block;
      width: 65px;
      height: 25px;
      font-size:12px;
      line-height: 23px;
      text-align: center;
      color: #333;
      border:1px solid #e4e4e4;
      margin:0 auto;
    }
  }
}