html {
  width: 100%;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font: 12px "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  -webkit-tap-highlight-color: transparent; }

body {
  min-width: 1300px;
  height: 100%;
  margin: 0;
  background-color: #fff;
  -webkit-overflow-scrolling: touch; }

* {
  word-break: break-all; }

pre, html, body, div, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, input, button, textarea, p, span, table, th, td, form, img, div {
  margin: 0;
  padding: 0;
  word-break: break-all; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

.fontsong {
  font-size: 12px;
  font-family: "SimSun",serif; }

img, a, input, button {
  border: none;
  outline: none;
  background: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #333; }

a:hover {
  color: #BC1015; }

h1, h2, h3, h4, h5, h6, b {
  font-weight: normal;
  cursor: hand; }

em, i, b {
  font-style: normal; }

ul, ol {
  list-style: none; }

/*
input{
    -webkit-transition: 0.2s ;
    -moz-transition: 0.2s ;
    -ms-transition: 0.2s ;
    -o-transition: 0.2s ;
    transition: 0.2s ;
}input:-ms-clear{display:none;}
*/
input {
  font-family: "Microsoft YaHei"; }

.fr {
  float: right; }

.fl {
  float: left; }

.ar {
  text-align: right; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.hide {
  display: none; }

.conWidth {
  width: 1200px;
  margin: 0 auto; }

.con_width {
  width: 1200px;
  margin: 0 auto; }

.no_before:before {
  display: none !important; }

.no_after:after {
  display: none !important; }

.no_marginR {
  margin-right: 0 !important; }

.no_marginB {
  margin-bottom: 0 !important; }

.no_marginL {
  margin-left: 0 !important; }

.no_borderB {
  border-bottom: 0 !important; }

.no_borderT {
  border-top: 0 !important; }

.no_borderL {
  border-left: 0 !important; }

.no_borderR {
  border-right: 0 !important; }

body {
  width: 100%;
  height: 100%;
  background: url("../../Images/login/icon_login_bg.jpg?_nosprite") no-repeat; }

.login_head {
  width: 1000px;
  margin: 30px auto 0; }
  .login_head .logo_wrap {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    color: #777777; }
    .login_head .logo_wrap img {
      vertical-align: middle;
      margin-top: -10px; }
    .login_head .logo_wrap strong {
      font-weight: normal; }

.findpw_wrap {
  width: 100%;
  height: 100%;
  position: fixed; }

.findpw {
  width: 1000px;
  margin: 50px auto 80px;
  background-color: #fff;
  font-size: 14px; }
  .findpw .findpw_inner {
    padding: 52px 100px; }
    .findpw .findpw_inner h2 {
      height: 58px;
      border-bottom: 1px solid #dedede;
      padding-left: 218px;
      color: #666; }
      .findpw .findpw_inner h2 i {
        display: inline-block;
        width: 56px;
        height: 36px;
        vertical-align: middle;
        margin-right: 15px;
        background: url("../../login/Images/sprite_findpw.png") no-repeat; }
    .findpw .findpw_inner .bd {
      padding: 50px 0 80px 0; }
      .findpw .findpw_inner .bd .list {
        margin-bottom: 30px; }
        .findpw .findpw_inner .bd .list label {
          display: inline-block;
          font-size: 14px;
          width: 218px;
          color: #838282;
          text-align: right;
          padding-right: 5px; }
        .findpw .findpw_inner .bd .list .tip {
          color: #888; }
        .findpw .findpw_inner .bd .list input {
          border: 1px solid #bcbcbc;
          color: #8B8B8B;
          height: 20px;
          line-height: 20px;
          padding: 6px;
          border-radius: 4px 4px;
          width: 210px; }
          .findpw .findpw_inner .bd .list input:focus {
            background-color: #FFFFE9;
            border-color: #EE9043; }
        .findpw .findpw_inner .bd .list .get_msg {
          width: 110px;
          height: 32px;
          vertical-align: middle;
          border: 1px solid #dedede;
          cursor: pointer;
          margin-left: 10px;
          background-color: #E0E0E0; }
        .findpw .findpw_inner .bd .list img {
          margin-left: 10px;
          vertical-align: middle; }
        .findpw .findpw_inner .bd .list span {
          color: #ca151e;
          display: none; }
          .findpw .findpw_inner .bd .list span em {
            padding: 0 5px;
            vertical-align: middle; }
        .findpw .findpw_inner .bd .list .btn {
          border-radius: 3px;
          padding: 8px 30px;
          width: auto;
          height: 36px;
          font-weight: bold;
          font-size: 14px;
          background-color: #B40707;
          text-align: center;
          color: #fff;
          cursor: pointer; }

.login_foot {
  width: 1000px;
  margin: 50px auto 0;
  border-top: 1px solid #9d9d9d; }
  .login_foot .f1 {
    margin-top: 20px; }
    .login_foot .f1 a {
      color: #999; }
  .login_foot p {
    text-align: center;
    height: 24px;
    line-height: 24px;
    color: #999; }

/*# sourceMappingURL=newpassword.css.map */
