@charset "UTF-8";
@import "../lib/lib";


//产品分类筛选
.choose_wrap {
  position: relative;
  margin: 30px auto;
  padding: 10px 0 20px;
  @include box-sizing();
  span.main_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    @include opacity(10);
  }
  .list1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ccc;
  }
  .list2 dt{
    line-height: 25px;
  }
  .list2 .choose_list_text a {
    width: 60px;
    height: 25px;
    line-height: 25px;
    margin: 0 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
    i{
      font-size: 10px;
    }
  }
  .list2 .choose_list_text .yes{
    font-size: 14px;
    line-height: 25px;
    border:0;
    width: auto;
    i{
      width: 15px;
      height: 15px;
      line-height: 15px;
      border-radius: 3px;
      margin-right: 5px;
      background-color: #e4e4e4;
      border:1px solid #888;
      @include box-sizing();
      font-size: 10px;
      text-align: center;
      &:before{
        @include opacity(0);
      }
    }
  }
  .list2 .choose_list_text .yes.current{
    i:before{
      @include opacity(100);
    }
  }
}
.choose_list {
  overflow: hidden;
  margin: 0 20px;
  position: relative;
  z-index: 1;
  dt {
    line-height: 32px;
    float: left;
    font-size: 16px;
    color: #666;
  }
  dd {
    width: 980px;
    float: left;
    a {
      display: inline-block;
      vertical-align: top;
      width: 16%;
      line-height: 2;
      height: 32px;
      font-size: 16px;
      overflow: hidden;
      position: relative;
      color: #666;
    }
  }
}