@charset "UTF-8";

.refund_pro_box{
  margin-top: 20px;
  border:1px solid #e4e4e4;
  background: #ffffff;
}
.refund_pro{
  float: left;
  width: 300px;
}
.pro_code{
  float: left;
  width: 200px;
}
.pro_price,.real_price{
  float: left;
  width: 150px;
}
.pro_count{
  float: left;
  width: 154px;
}
.refund_pro_title{
  text-align: center;
  line-height: 45px;
  background: #fcfcfc;
  border-bottom: 1px solid #e4e4e4;
}
.refund_ele{
  padding:25px 0 15px;
  background: #ffffff;
  >div{
    text-align: center;
    line-height: 100px;
  }
}
.refund_ele .refund_pro{
  display: block;
  padding:0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  img{
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 70px;
  }
  .pro_detail{
    line-height: 23px;
    height: 46px;
    text-align: left;
    @include ell(2);
    a{
      color: #666;
    }
  }
  .pro_size{
    text-align: left;
    line-height: 24px;
    height: 24px;
    color: #666;
    @include ell(1);
  }
  .buy_time{
    text-align: left;
    line-height: 30px;
    color: #666;
  }
}