@charset "UTF-8";

.fr{
  float: right!important;
}

.m_evaluation{
  position: relative;
  padding:0 20px;
  background: #FFFFFF;
  overflow: hidden;
}
.evaluation_top{
  font-size: 18px;
  height: 49px;
  overflow: hidden;
  border-bottom:1px solid #e4e4e4;
  span{
    float: left;
    height: 20px;
    margin: 17px 0 16px;
    padding:0 20px;
    line-height: 16px;
    border-right:1px solid #e4e4e4;
    cursor: pointer;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.evaluation_score{
  width: 150px;
}
.evaluation_content{
  width:430px;
}
.evaluation_pro{
  width: 340px;
}
.evaluation_handle{
  width: 120px;
}
.evaluation_title{
  >span{
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 45px;
    color: #666;
  }
}
.detail_middle{
  display: table-cell;
  vertical-align: middle;
}
.c_pro_evaluation{
  padding:20px 0;
  height: 100px;
  >div{
    float: left;
    height:100%;
    display: table;
  }
  .evaluation_score{
    text-align: center;
    i{
      font-size: 15px;
      color: #cccccc;
    }
    span{
      font-size: 13px;
    }
  }
  .evaluation_content{
    padding:0 60px;
    font-size: 13px;
    color: #888;
    line-height: 25px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .evaluation_pro{
    img{
      float: left;
      display: block;
      width: 100px;
      height: 100px;
    }
    .evaluation_pro_detail{
      float: left;
      margin:18px 0 18px 20px;
      width: 200px;
      h4{
        font-size: 14px;
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        color: #666;
        @include ell(1);
      }
      p{
        font-size: 12px;
        height: 40px;
        color: #888;
        overflow: hidden;
        @include ell(2);
        span{
          margin-right: 20px;
        }
      }
    }
  }
  .evaluation_handle{
    text-align: center;
    a{
      display: block;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 5px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
.not_evaluation_btn{
  margin:0 10px;
}