@charset "UTF-8";

//没有订单
.no_order{
  position: relative;
  height: 310px;
  background: #ffffff;
}
.no_order_content{
  position: absolute;
  top:50%;
  left: 320px;
  margin-top: -60px;
  height: 120px;
  font-size: 24px;
  color: #333;
  line-height: 120px;
  padding-left: 125px;
  i{
    position: absolute;
    top:0;
    left:0;
    font-size: 100px;
    line-height: 120px;
    color: #ccc;
  }
}
/*
<!--暂无已评价商品-->
<div class="no_order">
<div class="no_order_content"><i class="iconfont">&#xe61f;</i>您目前还没有评论的商品!
</div>
</div>
*/