@charset "UTF-8";
@import "../lib/lib";
//热门推荐
.hot_pro{
  margin-top: 20px;
  h3{
    position: relative;
    font-size: 20px;
    color: #333;
    line-height: 60px;
    padding: 0 10px 0 40px;
    background: #FFFFFF;
    i{
      position: absolute;
      top:0;
      left: 10px;
      font-size: 22px;;
    }
  }
}
.hot_pro .pro_ele{
  float: left;
  width: 255px;
  margin-right: 20px;
  img{
    display: block;
    width: 255px;
    height: 255px;
    @include transition();
    &:hover{
      @include opacity(90);
    }
  }

}
.hot_pro .pro_title{
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  @include ell();
}
.hot_pro .pro_describe{
  font-size: 12px;
  color: #999;
  line-height: 20px;
  height: 20px;
  text-align: center;
  @include ell();
}
.hot_pro .pro_price{
  text-align: center;
  font-size: 23px;
  i{
    font-size: 15px;
  }
}
.hot_pro .add_cart{
  margin:5px auto 0;
  font-size: 12px;
  width: 120px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}