@charset "UTF-8";

//商品详情
.return_title{
  font-size: 24px;
  color: #333;
  line-height: 70px;
  border-bottom: 1px solid #e4e4e4;
}
.m_return_pro{
  padding:0 20px;
  background: #FFFFFF;
}
.return_pro_title{
  >span{
    float: left;
    color: #333;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
  }
}
.return_pro{
  width: 340px;
}
.return_pro_time{
  width: 200px;
}
.return_pro_count{
  width: 190px;
}
.return_pro_price{
  width: 150px;
}
.return_pro_total{
  width: 160px;
}
.return_pro_content{
  padding: 10px 0;
  color: #888;
  >div{
    float: left;
    display: table;
    height: 100px;
    text-align: center;
    >span{
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
    }
  }
  .return_pro{
    img{
      float: left;
      width:100px!important;
      height:100px!important;
    }
    .return_pro_detail{
      float: left;
      margin:18px 30px 18px 20px;
      width: 190px;
      text-align: left;
      h5{
        font-size: 14px;
        color: #333;
        height: 24px;
        line-height: 24px;
        @include ell(1);
      }
      p{
        height: 40px;
        font-size: 12px;
        line-height: 20px;
        @include ell(2);
      }
    }
  }
  .return_pro_total{
    span{
      font-size: 18px;
    }
  }
}
