@charset "UTF-8";
.l_main_bg {
  background: #f8f8f8;
  padding-bottom: 100px; }
  .l_main_bg > h2 {
    font-size: 20px;
    line-height: 40px;
    color: #666; }

.l_main {
  background: #FFFFFF;
  font-size: 14px;
  color: #666; }
  .l_main > div {
    margin: 0 20px; }
    .l_main > div h3 {
      font-size: 18px;
      color: #000;
      line-height: 64px;
      padding-top: 10px; }

.m_buyer {
  border-bottom: 1px solid #e4e4e4; }

.buyer_title {
  position: relative; }
  .buyer_title span {
    position: absolute;
    right: 0;
    top: 45px;
    color: #093;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .buyer_title span:hover {
      color: #f60; }

.buyer_infor .address {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
  margin-top: 0;
  width: 170px;
  line-height: 33px;
  text-align: center;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.buyer_infor .choosed {
  border: 1px solid #093; }

.buyer_infor .choosed:after, .pay_current:after {
  width: 15px;
  height: 15px;
  display: inline-block;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../../cart/Images/sprite_green_sanjiao.png"); }

.buyer_infor {
  position: relative;
  padding: 10px 22px 15px;
  font-size: 14px;
  color: #666666; }
  .buyer_infor > p {
    float: left;
    margin-left: 30px;
    max-width: 900px;
    line-height: 2.5;
    height: 2.5em;
    overflow: hidden; }
    .buyer_infor > p > span {
      margin: 0 5px; }
  .buyer_infor > span {
    margin-right: 5px;
    float: right;
    line-height: 35px;
    color: #093;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .buyer_infor > span:hover {
      color: #f60; }

.address_box.current {
  max-height: 60px;
  overflow: hidden; }

.read_more {
  height: 18px;
  line-height: 18px;
  padding: 5px 20px;
  cursor: pointer; }
  .read_more span {
    color: #666; }
  .read_more b {
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    line-height: 10px;
    width: 9px;
    margin-left: 5px;
    background: url(../../../Images/pc/cart/icon_address.png?_nosprite) no-repeat; }
  .read_more b.current {
    background-position: 0 -10px; }

.pay_way {
  padding: 0 22px 30px;
  border-bottom: 1px solid #e4e4e4; }
  .pay_way > div {
    float: left;
    position: relative;
    width: 150px;
    height: 35px;
    border: 1px solid #e4e4e4;
    line-height: 33px;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.pay_way .pay_current {
  border: 1px solid #093; }

.pro_ele {
  margin-bottom: 10px; }
  .pro_ele h4 {
    font-size: 14px;
    line-height: 37px;
    text-indent: 22px; }

.pro_infor {
  padding-top: 10px;
  padding-bottom: 35px;
  border-top: 1px dashed #e4e4e4; }

.infor_title {
  margin-bottom: 6px;
  line-height: 30px;
  text-align: center;
  color: #000;
  border-bottom: 2px solid #e4e4e4; }
  .infor_title span {
    float: left; }

.infor_title .pro_title, .infor_title .pro_descri {
  width: 750px; }

.pro_title, .pro_descri {
  width: 530px; }

.pro_infor_title, .pro_detail {
  width: 220px; }

.price_ele_title, .price_ele {
  width: 130px; }

.count_title, .count {
  width: 70px; }

.discount_title, .discount {
  width: 215px; }

.all_title, .all {
  width: 95px; }

.pro_content {
  line-height: 20px; }
  .pro_content > div {
    float: left; }

.pro_descri {
  padding: 0 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .pro_descri img {
    float: left;
    width: 64px !important;
    height: 40px !important; }
  .pro_descri p {
    float: left;
    margin-left: 20px;
    height: 40px;
    width: 402px;
    line-height: 20px;
    height: 40pxem;
    overflow: hidden; }

.pro_detail {
  text-align: left;
  color: #888;
  font-size: 12px; }

.price_ele {
  text-align: center;
  color: #000;
  line-height: 40px; }

.count {
  text-align: center;
  line-height: 40px; }

.discount {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 0;
  line-height: 20px; }
  .discount > div {
    text-align: center;
    width: auto; }
  .discount select {
    text-align: center;
    width: 70px;
    height: 20px;
    color: #333; }
  .discount span {
    line-height: 20px;
    height: 20pxem;
    overflow: hidden; }

.all {
  text-align: center;
  color: #000;
  line-height: 40px; }

.remarks {
  padding: 20px 22px 30px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4; }
  .remarks input {
    height: 30px;
    width: 300px;
    margin-left: 20px;
    padding: 0 10px;
    border: 1px solid #e4e4e4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .remarks input:focus {
      border: 1px solid #093; }

.send_price {
  float: right;
  color: #000; }

.m_fapiao {
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e4; }

.fapiao_content {
  padding: 0 22px; }

.fapiao_content .fapiao_btn {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 35px;
  border: 1px solid #e4e4e4;
  line-height: 33px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fapiao_content .fapiao_current {
  border: 1px solid #093; }
  .fapiao_content .fapiao_current:after {
    width: 15px;
    height: 15px;
    display: inline-block;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("../../cart/Images/sprite_green_sanjiao.png"); }

.fapiao_content input {
  height: 30px;
  width: 300px;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }
  .fapiao_content input:focus {
    border: 1px solid #093; }

.change_fapiao {
  height: 18px;
  line-height: 18px;
  padding: 5px 5px 0 30px;
  color: #666; }

.m_total {
  padding: 25px 0;
  border-bottom: 1px solid #e4e4e4; }
  .m_total p {
    float: right;
    text-align: right;
    width: 100%;
    line-height: 35px; }
    .m_total p span {
      float: right;
      width: 100px;
      text-align: right; }

.total_price span {
  color: #f60; }

.pay_define {
  padding: 30px 0;
  line-height: 50px; }
  .pay_define p {
    float: right;
    font-size: 20px;
    color: #000; }
    .pay_define p span {
      font-size: 24px;
      color: #f60; }
  .pay_define input {
    float: right;
    margin-left: 20px;
    width: 245px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    background: #093;
    cursor: pointer;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .pay_define input:hover {
      background-color: #048b31;
      -webkit-box-shadow: 1px 1px 1px #ccc;
      -moz-box-shadow: 1px 1px 1px #ccc;
      box-shadow: 1px 1px 1px #ccc; }

.new_receiver {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 600px;
  z-index: 99999; }
  .new_receiver:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #000;
    filter: alpha(opacity=30);
    /* IE */
    -moz-opacity: 0.3;
    /* 老版Mozilla */
    -khtml-opacity: 0.3;
    /* 老版Safari */
    opacity: 0.3;
    /* 支持opacity的浏览器*/
    z-index: -1; }

.receiver_container {
  position: relative;
  width: 100%;
  height: 100%; }

.m_receiver {
  position: absolute;
  width: 640px;
  height: 400px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #FFFFFF;
  font-size: 14px;
  color: #333333;
  line-height: 25px; }
  .m_receiver h3 {
    line-height: 50px;
    text-indent: 20px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #e4e4e4; }
  .m_receiver input {
    line-height: 23px;
    padding: 0 10px;
    height: 25px;
    width: 180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e4e4e4; }
    .m_receiver input:focus {
      border: 1px solid #093; }
  .m_receiver select {
    width: 90px;
    height: 25px;
    margin-right: 20px;
    border: 1px solid #e4e4e4; }
  .m_receiver > form > div {
    padding: 10px 0; }
    .m_receiver > form > div > span {
      float: left;
      width: 120px;
      text-align: right; }

.new_right {
  float: left; }

.address_detail input {
  width: 360px; }

.m_receiver .remind {
  padding: 0;
  font-size: 12px;
  color: #aaa; }

.m_receiver .submit, .m_receiver .cancel {
  position: absolute;
  left: 120px;
  bottom: 42px;
  width: 120px;
  height: 30px;
  background: #093;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border: 0; }

.m_receiver .cancel {
  padding: 0;
  left: 290px;
  bottom: 42px;
  width: 100px; }
