/*路由*/
.routeInfo {
    color: #093;
    /*font-family: "SimSun",serif;*/
    padding-top: 20px;
    margin-bottom: 20px; }

.routeInfo a {
    color: #333;
    line-height: 30px; }

.routeInfo a:hover {
    color: #f60; }

.classlist_box{
    display: none;
}
.allclass:hover .classlist_box{
    display: block;
}
.shop_top{
    margin: 100px auto 32px;
    font-size: 16px;
    width: 1300px;
}
.l_content_bg{
    background: #f8f8f8;
}
.l_content{
    padding-bottom: 100px;
}
/*店铺街左侧*/
.shop_left{
    background: #FFFFFF;
    border-bottom: 1px solid #e4e4e4;
}

.shop_left h4,.shop_left li{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 250px;
    height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shop_left h4 {
    background: #fcfcfc;
    font-size: 16px;
    border: 1px solid #e4e4e4;
    line-height: 49px;
}
.shop_left li{
    font-size: 14px;
    color: #666;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    line-height: 48px;
    padding-left: 4px;
}
.shop_left li:hover{
    padding: 0;
    border: 1px solid #093;
    border-left: 5px solid #093;
}
.shop_left .left_click{
    padding: 0;
    border: 1px solid #093;
    border-left: 5px solid #093;
}
.shop_left  .left_h_top:hover{
    border-bottom: 0;
    /*margin-bottom: -1px;;*/
}
/*右边*/
.shop_right{
    width: 988px;
}
.right_top{
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #e4e4e4;
}
.right_top li{
    float: left;
    width: 90px;
    border-top: 1px solid #f8f8f8;
    line-height: 49px;
    text-align: center;
    font-size: 12px;
    color: #888888;
    cursor: pointer;
}
.right_top .right_t_click{
    border-top: 1px solid #093;
    color: #333;
    background: #f8f8f8;
}
.right_content{
    margin-top: 52px;
}
.right_content>ul>li{
    float: left;
    position: relative;
    width: 208px;
    height: 200px;
    padding:20px  12px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
}
.shop_logo img{
    display: block;
    margin: 0 auto;
    width: 202px;
    height: 101px;
}
/*.two_img{*/
    /*display: none;*/
    /*position: absolute;*/
    /*left: 25px;*/
    /*top: 50px;*/
    /*overflow: hidden;*/
/*}*/
.shop_fenlei{
    margin-top: 20px;
}
.shop_fenlei p{
    float: left;
    font-size: 13px;
    line-height:20px;
    color: #333;
    width: 38px;
}
.shop_fenlei>ul{
    float: left;
    width: 170px;
    height: 84px;
    overflow: hidden;
}
.shop_fenlei>ul>li{
    float: left;
    line-height: 20px;
    font-size: 12px;
    margin: 0 20px 0 0;
    -ms-word-break: break-all;
    word-break: break-all;
}
.shop_fenlei a{
    color: #666;
}
.shop_fenlei a:hover{
    color: #f60;
}
.shop_bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    line-height: 49px;
    font-size: 16px;
    cursor: pointer;
}
.shop_bottom:hover{
    color: #ffffff;
    background: #093;
}
.right_content .clear_right{
    margin-right: 0;
}