@charset "UTF-8";
.left_side {
  width: 230px;
  padding: 0 20px;
  background-color: #fff;
  overflow: hidden; }

.module_designer_head {
  position: relative;
  margin: 20px auto 25px;
  width: 140px;
  height: 140px;
  border: 2px solid transparent;
  -webkit-border-radius: 70px;
          border-radius: 70px;
  overflow: hidden; }
  .module_designer_head img {
    width: 140px;
    height: 140px;
    -webkit-border-radius: 70px;
            border-radius: 70px; }
  .module_designer_head:before {
    position: absolute;
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    content: ""; }
  .module_designer_head:hover {
    -moz-animation: borderchange 0.8s ease-in-out infinite;
      -o-animation: borderchange 0.8s ease-in-out infinite;
         animation: borderchange 0.8s ease-in-out infinite;
    -webkit-animation: borderchange 0.8s ease-in-out infinite;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
         -o-animation-iteration-count: 1;
            animation-iteration-count: 1; }
  .module_designer_head:hover:before {
    -moz-animation: bgchang 0.8s ease-in-out infinite;
      -o-animation: bgchang 0.8s ease-in-out infinite;
         animation: bgchang 0.8s ease-in-out infinite;
    -webkit-animation: bgchang 0.8s ease-in-out infinite;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
         -o-animation-iteration-count: 1;
            animation-iteration-count: 1; }

@-moz-keyframes borderchange {
  0% {
    border-color: transparent; }
  50% {
    border-color: rgba(0, 0, 0, 0.5); }
  0% {
    border-color: transparent; } }

@-o-keyframes borderchange {
  0% {
    border-color: transparent; }
  50% {
    border-color: rgba(0, 0, 0, 0.5); }
  0% {
    border-color: transparent; } }

@keyframes borderchange {
  0% {
    border-color: transparent; }
  50% {
    border-color: rgba(0, 0, 0, 0.5); }
  0% {
    border-color: transparent; } }

@-webkit-keyframes borderchange {
  0% {
    border-color: transparent; }
  50% {
    border-color: rgba(0, 0, 0, 0.5); }
  0% {
    border-color: transparent; } }

@-moz-keyframes bgchang {
  0% {
    background-color: transparent; }
  50% {
    background-color: rgba(0, 0, 0, 0.3); }
  0% {
    background-color: transparent; } }

@-o-keyframes bgchang {
  0% {
    background-color: transparent; }
  50% {
    background-color: rgba(0, 0, 0, 0.3); }
  0% {
    background-color: transparent; } }

@keyframes bgchang {
  0% {
    background-color: transparent; }
  50% {
    background-color: rgba(0, 0, 0, 0.3); }
  0% {
    background-color: transparent; } }

@-webkit-keyframes bgchang {
  0% {
    background-color: transparent; }
  50% {
    background-color: rgba(0, 0, 0, 0.3); }
  0% {
    background-color: transparent; } }

.renzheng {
  position: absolute;
  display: block;
  top: 2px;
  left: 30px;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  background: #093;
  font-size: 12px;
  line-height: 20px;
  text-align: center; }

.moudle_right {
  width: 1010px;
  overflow: hidden; }
  .moudle_right h2 {
    line-height: 1.4;
    font-size: 20px;
    color: #333;
    padding-bottom: 10px; }

.module_designer_infor p {
  position: relative;
  width: 96%;
  margin: 0 auto;
  color: #888;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }
  .module_designer_infor p a {
    color: #333;
    font-size: 18px; }
    .module_designer_infor p a:hover {
      color: #f60; }

.module_designer_infor .infor a {
  padding-top: 16px;
  display: block;
  width: 50%;
  float: left;
  color: #666; }
  .module_designer_infor .infor a em:hover {
    color: #f60; }

.blog_statis span {
  margin: 20px 0;
  float: left;
  width: 33.33%;
  display: block;
  color: #444;
  text-align: center; }
  .blog_statis span b {
    font-size: 18px;
    display: block; }
  .blog_statis span em {
    font-size: 14px; }

.borderLR {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4; }

.module_designer_btn {
  padding: 0 8px 35px; }
  .module_designer_btn a {
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    background-color: #093;
    color: #fff;
    font-size: 14px;
    text-align: center;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .module_designer_btn a:hover {
      background: #048b31;
      -webkit-box-shadow: 1px 1px 1px #ccc;
      -moz-box-shadow: 1px 1px 1px #ccc;
      box-shadow: 1px 1px 1px #ccc; }

.l_main {
  margin-bottom: 20px; }

.m_case_detail {
  width: 1010px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  background: #FFFFFF; }

.case_title {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4; }
  .case_title h2 {
    font-size: 24px;
    color: #333;
    line-height: 40px; }
  .case_title span {
    float: left;
    font-size: 13px;
    color: #666;
    border-right: 1px solid #e4e4e4;
    margin-right: 20px;
    padding-right: 10px;
    margin-top: 10px; }

.c_case_detail h3 {
  margin: 25px 0 20px;
  font-size: 18px;
  color: #666; }

.c_case_detail p {
  font-size: 13px;
  color: #666;
  text-indent: 20px;
  line-height: 25px; }

.c_case_detail img {
  display: block;
  max-width: 800px;
  margin: 20px auto; }

.clear_border {
  border: 0; }

/*左侧*/
.left_more {
  margin-top: 20px; }

.left_ele img {
  -moz-transition: 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }

.left_ele img:hover {
  filter: alpha(opacity=85);
  /* IE */
  -moz-opacity: 0.85;
  /* 老版Mozilla */
  -khtml-opacity: 0.85;
  /* 老版Safari */
  opacity: 0.85;
  /* 支持opacity的浏览器*/ }

.left_ele h3 {
  font-size: 16px;
  line-height: 50px;
  border-bottom: 1px solid #e4e4e4;
  color: #666666; }

.left_ele h2 {
  font-size: 16px;
  line-height: 50px;
  text-align: center; }
  .left_ele h2 a {
    color: #093;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .left_ele h2 a:hover {
      color: #f60; }

.left_like {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #e4e4e4; }
  .left_like img {
    width: 230px !important;
    height: 142px !important; }

.left_case_title {
  font-size: 14px;
  line-height: 1;
  height: 1em;
  overflow: hidden;
  line-height: 35px;
  height: 30px; }
  .left_case_title a {
    color: #666;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .left_case_title a:hover {
      color: #f60; }

.left_case_detail {
  position: relative;
  color: #666;
  font-size: 12px;
  line-height: 30px; }
  .left_case_detail span {
    position: absolute;
    right: 0; }
