@charset "UTF-8";
#a{
  width: 100px;
  height: 100px;
  background: red;
  .b{
    font-size: 12px;
    color: green;
    a{
      font-size: 34px;
      &:hover{
        color: #0A0B0F;
      }
    }
  }
}