@charset "UTF-8";
.l_nav {
  height: 45px;
  background: #FFFFFF;
  color: #333333;
  font-size: 1rem;
  line-height: 45px; }
  .l_nav div {
    position: relative;
    float: left;
    width: 33.33333%;
    text-align: center; }

.current span.arrow_down {
  position: absolute;
  top: 0;
  margin: 17px 0 13px 5px;
  width: 12px;
  height: 15px;
  background: url("../../../Images/mobile/icon_strategy.png") -15px 0;
  -webkit-background-size: 150px;
  background-size: 150px; }

.nav_ele span.shaixuan_img {
  position: absolute;
  top: 0;
  margin: 17px 0 13px 5px;
  width: 12px;
  height: 15px;
  background: url("../../../Images/mobile/icon_strategy.png") -44px 0;
  -webkit-background-size: 150px;
  background-size: 150px; }

.nav_ele a {
  color: black; }

.l_nav .current a {
  color: #093; }

.nav_ele span {
  position: absolute;
  top: 0;
  margin: 17px 0 13px 5px;
  width: 12px;
  height: 15px;
  background: url("../../../Images/mobile/icon_strategy.png") -30px 0;
  -webkit-background-size: 150px;
  background-size: 150px; }

.current span.arrow_up {
  position: absolute;
  top: 0;
  margin: 17px 0 13px 5px;
  width: 12px;
  height: 15px;
  background: url("../../../Images/mobile/icon_mall.png") -263.5px -4px;
  -webkit-background-size: 300px;
  background-size: 300px; }

.l_top {
  position: relative !important; }

.c_search {
  margin: 0 60px; }

.icon_back {
  margin: 8px 14px 0 19px; }

.l_nav {
  background: #f8f8f8;
  border-bottom: 1px solid #e4e4e4; }
  .l_nav div {
    width: 25%;
    margin-top: 10px;
    height: 25px;
    overflow: visible; }

.l_nav div:nth-child(3) {
  border: 0; }

.l_nav span {
  display: block !important;
  background: none;
  width: 60px;
  position: relative;
  height: 15px;
  margin: -10px auto 0; }

.l_nav .current span {
  position: relative;
  height: 45px;
  background: #f8f8f8;
  color: #009933;
  border-bottom: 1px solid #093; }

/*热门搜索*/
.hot_search {
  background: #FFFFFF;
  border-bottom: 1px solid #e4e4e4; }

.search_title, .history_ele {
  line-height: 45px;
  font-size: 1rem;
  text-indent: 1rem;
  border-bottom: 1px solid #e4e4e4; }

.hot_search_sort {
  padding: 10px; }
  .hot_search_sort li {
    float: left;
    font-size: 0.8rem;
    color: #888;
    line-height: 25px;
    padding: 0 8px;
    margin: 5px;
    background: #fbfbfb; }

/*历史搜索*/
.history_search {
  background: #FFFFFF;
  padding-bottom: 15px; }

.history_ele {
  font-size: 0.9rem;
  color: #666;
  line-height: 40px; }

.del_history {
  margin: 20px auto 0 !important;
  width: 120px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  line-height: 35px;
  border: 1px solid #e4e4e4; }
