.pro_details_title {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }

.pro_details_title h3 {
  padding-left: 10px;
  color: #333;
  font-size: 18px; }

.pro_details_box {
  padding: 0 15px;
  background: #fff;
  margin: 10px 0; }

.pro_details_box li {
  padding: 15px;
  padding-left: 0;
  font-size: 14px;
  border-top: solid 1px #d8d8d8; }

.pro_details_box li.type {
  border-top: 0;
  font-size: 18px;
  color: #333; }

.pro_details_box .item {
  display: -webkit-box;
  font-size: 14px;
  line-height: 18px; }

.pro_details_box .item .key {
  max-width: 20%;
  min-width: 70px;
  text-align: right;
  margin-right: 10px;
  color: #8c8c8c;
  height: 18px;
  overflow: hidden; }

.pro_details_box .item .val {
  width: 80%;
  color: #333; }
