@charset "UTF-8";
@import "../mobile_moudle/moudle/_strategy_top";
@import "../mobile_moudle/moudle/strategy_list_sort";
@import "../mobile_moudle/moudle/shaixuan_top";
@import "../mobile_moudle/moudle/_shaixuan_content";
/*头部分类*/
.l_nav{
  div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #e4e4e4;
    margin-top: 10px;
    height: 25px;
    overflow: visible;
  }
}
.l_nav div:nth-child(3){
  border: 0;
}
.l_nav span{
  position: relative;
  display: block!important;
  width: 60px;
  height: 45px;  
  margin: -10px auto 0;
  border-bottom: 1px solid #FFFFFF;
  background: none;
}
.l_nav .current span{
  position: relative;
  display: block;
  height: 45px;
  background: #FFFFFF;
  border-bottom: 1px solid #093;
}
/*内容列表*/
.l_content{
  margin-top: 15px;
}
.m_brand{
  padding: 5px 0;
  a{
    float: left;
    margin-bottom: 10px;
    display: block;
    width: 50%;
  }
}
.m_brand img:nth-child(1){
  width: 91%;
  margin: 0 3% 0 6%;
}
.m_brand img:nth-child(2){
  width: 91%;
  margin: 0 6% 0 3%;
}