.xgt_nav {
  display: inline-block;
  margin: 7px auto;
  height: 27px;
  line-height: 27px;
  border: 1px solid #fff;
  border-radius: 5px;
  overflow: hidden; }

.xgt_nav li {
  float: left;
  position: relative; }

.xgt_nav li a {
  display: inline-block;
  padding: 0 16px;
  color: #fff;
  font-size: 16px; }

.xgt_nav li:before {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 98%;
  z-index: 1;
  border-bottom: 0 !important;
  background-color: #fff; }

.xgt_nav li.current a {
  color: #093;
  background-color: #fff; }

.xgt_nav li.last_li:before {
  display: none; }

.moudle_top h1 {
  font-size: 18px;
  color: #fff;
  vertical-align: -19px; }

.moudle_text_box {
  background-color: #fff; }

.moudle_text_box h2 {
  width: 96%;
  margin: 10px auto;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.6;
  height: 1.6em; }

.moudle_text_box h2 a {
  color: #666; }

.moudle_text_box > span {
  display: block;
  width: 96%;
  margin: 0 auto;
  text-align: right; }

.moudle_text_box > span.moudle_text_leftborder {
  text-align: left; }

.moudle_text_box > span i {
  display: inline-block;
  width: 30%;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle; }

.moudle_text_box > span em {
  display: inline-block;
  width: 4px;
  height: 3px;
  background-color: #666;
  vertical-align: middle; }

.mall_product_intro {
  padding: 10px; }

.moudle_text_box {
  padding: 10px 0; }

.moudle_text_box p {
  width: 80%;
  margin: 3px auto 0;
  font-size: 14px;
  line-height: 1.6;
  height: auto;
  overflow: hidden;
  color: #666;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: initial;
  -webkit-box-orient: vertical; }

.pro_details > div {
  width: 97%;
  margin: 10px auto; }

.pro_details .pro_details_title {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }

.pro_details_title h3 {
  padding-left: 10px;
  color: #333;
  font-size: 18px; }

.pro_details_img > img {
  display: block;
  width: 100%;
  height: auto; }

.l_content {
  margin-bottom: 100px; }
