/*l_main*/
.l_main {
  padding-bottom: 98px; }

/*zxlc*/
.Tit {
  padding: 50px 0 25px; }

.Tit h3 {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #093; }

.Tit h3 > span {
  position: absolute;
  left: 0;
  padding-right: 10px;
  display: inline-block;
  font-size: 30px;
  color: #093; }

/*c_link*/
.c_link {
  position: absolute;
  right: 0;
  top: 16px;
  color: #f0f0f0; }

.c_link a {
  padding: 0 10px;
  color: #888;
  font-size: 14px; }

.c_link a:hover {
  color: #f60; }

/*l_xcsc*/
.l_xcscCon {
  height: 400px; }

.l_xcscLeft {
  width: 830px;
  height: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.m_LeftBox, .m_RightBox {
  width: 400px;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.c_img {
  position: relative;
  width: 400px;
  height: 250px; }

.c_img img {
  width: 400px;
  height: 250px; }

.c_imgTit {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: left;
  text-indent: 10px;
  color: #fff;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  background: #000;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden; }

.c_imgTit:hover {
  color: #f60;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  background: #fff; }

.m_Left_list {
  padding-top: 5px; }

.m_Left_list a {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #666;
  line-height: 38px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden; }

.m_Left_list a:hover {
  color: #f60; }

/*m_RightBox*/
.m_RightBox {
  width: 240px; }

.m_RightBox .c_img {
  width: 240px;
  height: auto; }

.m_RightBox .c_img img {
  width: 240px;
  height: 150px;
  overflow: hidden; }

.m_RightBox .c_img h4 {
  font-size: 16px;
  color: #333; }

.m_RightBox .c_img p {
  font-size: 14px;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  line-height: 24px; }

/*l_xcscRight*/
.l_xcscRight {
  width: 430px; }

.l_rightitems {
  height: 100px;
  margin-bottom: 42px;
  overflow: hidden;
  width: 100%; }

.l_rightitems a {
  overflow: hidden; }

.l_rightitems img {
  float: left;
  display: block;
  padding-right: 10px;
  width: 160px;
  height: 100px; }

.l_rightitems h4, .l_rightitems p {
  float: left;
  width: 256px;
  font-size: 16px;
  color: #333; }

.l_rightitems h4 {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.l_rightitems h4:hover, .l_rightitems p:hover {
  color: #f60; }

.l_rightitems p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.7;
  color: #888;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

/*zxlc*/
.clear {
  zoom: 1; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.l_zxlc_wrap {
  width: 1300px;
  height: 553px;
  margin: 0 auto;
  margin-top: 20px; }

.m_zxlc_hd {
  width: 1300px;
  height: 40px;
  border-bottom: 1px solid #009933; }

.m_zxlc_hd h2 {
  font-size: 28px;
  line-height: 38px;
  color: #009933;
  font-weight: normal; }

.m_zxlc_con {
  width: 1300px;
  height: 463px;
  padding-top: 52px; }

.left {
  width: 756px;
  height: 464px;
  padding-left: 38px;
  background: url("../../../Images/pc/school/str_btn_1.png?_nosprite") no-repeat 38px 0;
  float: left; }

.left_wrap {
  width: 705px;
  height: 403px;
  padding: 26px 26px 32px 26px; }

.left_1, .left_3, .left_5 {
  width: 688px;
  height: 80px;
  padding-left: 17px; }

.left_2, .left_4 {
  width: 705px;
  height: 80px;
  padding-left: 0; }

.c_zxlcBtn {
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 70px; }

.left_2 .c_zxlcBtn, .left_4 .c_zxlcBtn {
  margin-left: 0; }

.left_2 .c_zx5, .left_4 .c_zx11 {
  margin-right: 545px; }

.left_wrap a:hover {
  background: url("../../../Images/pc/school/str_btn_2.png?_nosprite");
  width: 80px;
  height: 80px;
  float: left; }

.left_wrap .c_zx1:hover {
  display: block;
  background-position: -149px 0; }

.left_wrap .c_zx2:hover {
  display: block;
  background-position: -297px 0; }

.left_wrap .c_zx3:hover {
  display: block;
  background-position: -446px 0; }

.left_wrap .c_zx4:hover {
  display: block;
  background-position: -594px 0; }

.left_wrap .c_zx7:hover {
  display: block;
  background-position: -891px -107px; }

.left_wrap .c_zx8:hover {
  display: block;
  background-position: -1040px -107px; }

.left_wrap .c_zx9:hover {
  display: block;
  background-position: -1040px 0; }

.left_wrap .c_zx10:hover {
  display: block;
  background-position: -891px 0; }

.left_wrap .c_zx11:hover {
  display: block;
  background-position: -743px -107px; }

.left_wrap .c_zx12:hover {
  display: block;
  background-position: 0 -107px; }

.left_wrap .c_zx13:hover {
  display: block;
  background-position: -594px -107px; }

.left_wrap .c_zx14:hover {
  display: block;
  background-position: -446px -107px; }

.left_wrap .c_zx16:hover {
  display: block;
  background-position: -149px -107px; }

.right {
  width: 399px;
  height: 464px;
  float: right;
  padding: 0 36px 0 35px;
  border-left: 1px solid #eeeeee; }

.right_top a {
  width: 400px;
  height: 263px;
  display: block;
  position: relative; }

.right_top img {
  width: 400px;
  height: 252px; }

.right_top p {
  font-size: 14px;
  width: 390px;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  color: white;
  position: absolute;
  top: 212px;
  left: 0;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  background: #000; }

.right_top p:hover {
  color: #f60;
  -webkit-transition: background  0.2s;
  -moz-transition: background  0.2s;
  -o-transition: background  0.2s;
  transition: background  0.2s;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  background: #fff; }

.right_bottom {
  width: 400px;
  height: 200px; }

.right_bottom a {
  color: #666666;
  font-size: 14px;
  line-height: 38px; }

.right_bottom a:hover {
  color: #ff6600;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }
