.module_block {
  margin: 10px 0; }
  .module_block h2 {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: #fff;
    font-size: 16px;
    color: #000;
    position: relative; }
    .module_block h2 a {
      color: #000; }
    .module_block h2 span {
      margin-right: 15px;
      font-size: 12px;
      color: #888; }
  .module_block .icon_gt_link {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px; }
  .module_block .icon_gt_btn {
    width: 10px;
    height: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    display: block; }

.read_more {
  margin: 10px 0;
  line-height: 40px;
  text-align: center;
  background-color: #fff; }
  .read_more a {
    color: #888;
    font-size: 12px; }

.assess_box {
  margin: 10px 0;
  background-color: #fff; }

.assess_user {
  padding: 10px;
  border-bottom: 1px solid #e4e4e4; }

.assess_user_head {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden; }
  .assess_user_head img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: block; }

.assess_user_name {
  margin-left: 40px;
  color: #888;
  line-height: 30px; }
  .assess_user_name a {
    font-size: 14px;
    color: #888; }

.assess_text {
  margin: 10px;
  padding-bottom: 10px; }
  .assess_text p {
    color: #888;
    font-size: 12px; }

.assess_star_box span {
  width: 10px;
  height: 10px;
  display: inline-block; }

.assess_star_box .icon_star1 {
  background: url(../../../Images/mobile/foreman/icon_star1.png) no-repeat;
  background-size: 10px; }

.assess_star_box .icon_star2 {
  background: url(../../../Images/mobile/foreman/icon_star2.png) no-repeat;
  background-size: 10px; }

.assess_star_box .icon_star3 {
  background: url(../../../Images/mobile/foreman/icon_star3.png) no-repeat;
  background-size: 10px; }

.module_block_nav {
  margin: 10px 0;
  line-height: 45px;
  background-color: #fff; }
  .module_block_nav li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 14px;
    position: relative; }
    .module_block_nav li a {
      color: #333; }
  .module_block_nav li:after {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #e4e4e4; }
  .module_block_nav li:last-child:after {
    display: none; }
  .module_block_nav .current a {
    color: #093; }

.moudle_top h1 {
  line-height: 45px;
  font-size: 18px;
  color: #fff; }

.icon_shoucang_link {
  position: absolute;
  right: -2px;
  top: 0;
  padding: 13px; }

.banner {
  padding: 10px 0;
  height: 180px;
  overflow: hidden;
  background: url(../../../Images/mobile/foreman/icon_foreman_banner_bg.png) no-repeat; }

.user_head {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden; }
  .user_head img {
    width: 70px;
    height: 70px;
    border-radius: 100%; }

.user_name {
  font-size: 16px;
  color: #fff;
  text-align: center;
  max-width: 90%;
  margin: 6px auto; }

.user_infor {
  color: #fff;
  font-size: 12px;
  text-align: center; }
  .user_infor span:after {
    margin: 0 3px;
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: -2px;
    background-color: #fff; }
  .user_infor span:last-child:after {
    display: none; }

.user_impression {
  max-width: 90%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 6px auto; }

.user_btn {
  width: 180px;
  margin: 15px auto 0;
  font-size: 14px; }
  .user_btn a {
    float: left;
    width: 80px;
    height: 25px;
    margin: 0 5px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.detail_nav {
  width: 80%;
  margin: 0 auto;
  padding: 0 10%;
  height: 45px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e4e4e4; }
  .detail_nav li {
    float: left;
    width: 33.33%;
    line-height: 45px;
    text-align: center;
    position: relative; }
    .detail_nav li a {
      font-size: 16px;
      color: #000; }
  .detail_nav .current:before {
    position: absolute;
    content: "";
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #093; }
  .detail_nav .current a {
    color: #093; }
