@charset "UTF-8";
@import "../../lib/mixin";

html,body{
  position: relative;
  height:100%;
}
.l_main{
  position: relative;
  margin-top: 10px;
  line-height: 45px;
}
.m_address{
  background: #FFFFFF;
}
.user_left{
  margin-right: 80px;

}
.com{
    padding-left: 15px;
    height: 45px;
    overflow: hidden;
    border-bottom:1px solid #e4e4e4;
    span{
      color: #888888;
      font-size: 1.3rem;;
    }
    input{
      color: #333;
      border:0;
      font-size: 1.3rem;;
      line-height: 45px;
    }
}
.user_right{
  position: absolute;
  top:0;
  right:0;
  width: 80px;
  height: 92px;
  text-align: center;
  border-left:1px solid #e4e4e4;
  border-bottom:1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  i{
    display: block;
    margin-top: 15px;
    font-size: 40px;
  }
  span{
    position: absolute;
    width:100%;
    bottom:0;
    left:0;
    display: block;
    font-size: 0.9rem;
    text-align: center;
    line-height: 35px;
    color: #888;
  }
}
.local{
  margin-right:0;
}
.address_detail{
  position: relative;
  line-height: 45px;
  border-bottom:1px solid #e4e4e4;
  span{
    position: absolute;
    top:0;
    left: 15px;
    font-size: 1.3rem;;
  }
  textarea{
    width:100%;
    padding-top: 9px;
    padding-left:80px;
    padding-right: 10px;
    border:0;
    color: #333;
    font-size: 1.3rem;;
    line-height: 30px;
    resize: none;
    outline-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.defult_address{
  padding:10px 0 10px 15px;
  line-height: 30px;
  color: #888;
  .defult_text{
    width: 60%;
  }
  p:nth-child(1){
    font-size: 1.4rem;
  }
}
.choose{
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  margin-top:16px;
  margin-right: 25px;
  background-color: #efeff4;
  &:after{
    content: "";
    display: inline-block;
    position: absolute;
    top:2px;
    left: 2px;
    width: 23px;
    height: 21px;
    background-color: #fff;
    z-index: 10;
  }
}
.chosen{
  &:after{
    content: "";
    display: inline-block;
    position: absolute;
    top:2px;
    left: 25px;
    width: 23px;
    height: 21px;
    background-color: #fff;
    z-index: 10;
  }
}
.submit{
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin:20px auto 0;
  border:0;
}

//所在区域
.local_detail{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  padding-left:10%;
  background: rgba(0,0,0,0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999990;
}
.local_container{
  height:100%;
  overflow-y: scroll;;
}
.local_title{
  position: relative;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #FFFFFF;
  font-size: 1.6rem;
  span{
    position: absolute;
    top:0;
    left:0;
    width: 40px;
    height: 45px;
    line-height: 45px;
    i{
      font-size: 20px;
    }
  }
}
.local_content{
  margin-top: 10px;
  padding-left: 10px;
  background: #FFFFFF;
  li{
    line-height: 40px;
    text-indent: 5px;
    border-bottom:1px solid #e4e4e4;

  }
}
.show_local{
  height:100%;
  overflow: hidden;
}