@charset "UTF-8";
@import "../../lib/mixin";

html,body{
  height:100%;
}
.l_main{
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 640px;
  min-width: 320px;
  overflow: hidden;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 20px;
  background-color: #fff;
}
.top_margin{
  height: 10px;
  background: #efeff4;
}
.m_content{
  padding: 15px 15px 0;
  input{
    float: left;
    padding-left: 15px;
    width: 100%;
    height: 44px;
    line-height: normal;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background: #fcfcfd;
    font-family: '\5fae\8f6f\96c5\9ed1';
    font-size: 16px;
    color: #252525;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .phone_num{
    width: 71%;
  }
  span{
    float: left;
    width:27%;
    margin-left: 2%;
    height: 44px;
    line-height: 44px;
    color: #333;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
  }
  span.fl{
    font-size: 14px;
  }
}
.phone_button,.confirm_button,.reset_button{
  color: #FFFFFF;
}
.confirm_button,.reset_button{
  margin:30px 15px 0;
  display: block;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  -moz-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  cursor: pointer;
  color: #fff;
}
.tip{
  line-height: 25px;
  font-size: 0.9rem;;
  color: red;
}