a {
  color: #666; }

.usercenter_left {
  float: left;
  width: 210px;
  background: #FFFFFF; }
  .usercenter_left li {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px; }
    .usercenter_left li a {
      display: block;
      width: 100%;
      height: 100%;
      color: #626262;
      border-bottom: 1px solid #e4e4e4; }

.left_top img {
  display: block;
  width: 140px;
  height: 140px;
  padding: 15px 0;
  margin: 0 auto; }

.usercenter_right {
  float: right;
  width: 870px;
  min-height: 570px; }

.usercenter_right > h3 {
  font-size: 17px;
  line-height: 50px;
  text-indent: 15px;
  border-bottom: 1px solid #e4e4e4; }

.pro_card_ele {
  position: relative;
  overflow: hidden;
  width: 260px;
  background: #fff; }
  .pro_card_ele img {
    display: block;
    width: 260px !important;
    height: 260px !important; }
  .pro_card_ele .pro_card_intro {
    font-size: 14px;
    line-height: 25px;
    padding: 10px 10px;
    height: 50px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
    .pro_card_ele .pro_card_intro a {
      color: #666; }
  .pro_card_ele .pro_card_price {
    margin: 0 10px 10px;
    font-size: 24px;
    line-height: 35px; }
    .pro_card_ele .pro_card_price .buy_btn {
      float: right;
      font-size: 12px;
      width: 65px;
      height: 22px;
      margin-top: 8px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }

.recommend {
  height: 438px;
  line-height: 50px;
  margin-top: 30px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px; }
  .recommend h4 {
    padding-left: 15px; }
  .recommend .recommend_slick {
    height: 386px;
    width: 1080px;
    padding: 0 10px; }
  .recommend .pro_card_ele {
    float: left;
    margin: 0 5px 10px !important; }
    .recommend .pro_card_ele a {
      display: block; }
  .recommend .recommend_dots {
    position: absolute;
    top: -35px;
    right: 20px; }
    .recommend .recommend_dots li {
      float: left;
      width: 8px;
      height: 8px;
      background: #f1f1f1;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 7px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .recommend .recommend_dots li button {
        display: none; }

.border_bottom {
  border-bottom: 1px solid #e4e4e4; }

.order_content .order_code {
  width: 315px; }

.order_content .order_count {
  width: 120px; }

.order_content .order_price {
  width: 135px; }

.order_content .order_status {
  width: 130px; }

.order_content .order_operate {
  width: 130px; }

.order_content .order_title {
  text-align: center;
  line-height: 40px;
  padding: 0 15px; }
  .order_content .order_title li {
    float: left; }
  .order_content .order_title .order_code {
    font-size: 13px;
    color: #666666;
    text-align: left;
    color: #999999; }
    .order_content .order_title .order_code span {
      margin-right: 15px; }
    .order_content .order_title .order_code i {
      color: #333; }

.order_ele {
  position: relative;
  padding: 0 15px 0;
  background: #FFFFFF;
  color: #999; }
  .order_ele > ul {
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4; }
  .order_ele li {
    float: left;
    height: 75px;
    display: table;
    text-align: center; }
    .order_ele li > div {
      display: table-cell;
      vertical-align: middle; }
  .order_ele .order_code {
    padding: 0 40px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .order_ele .order_code img {
      float: left;
      width: 75px !important;
      height: 75px !important; }
    .order_ele .order_code p {
      float: left;
      font-size: 12px;
      width: 145px;
      height: 40px;
      text-align: left;
      line-height: 20px;
      margin: 17px 0 0 10px;
      overflow: hidden; }
      .order_ele .order_code p a {
        color: #666666;
        height: 20px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .order_ele .order_code p span {
        color: #666666;
        display: block;
        height: 20px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical; }
  .order_ele .order_status a {
    color: #333; }
  .order_ele .order_operate a {
    display: block;
    width: 65px;
    height: 25px;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    color: #333;
    border: 1px solid #e4e4e4;
    margin: 0 auto; }

.usercenter_right {
  background: #FFFFFF; }

.m_order_detail {
  padding: 0 0 30px;
  margin: 0 20px;
  border-bottom: 1px solid #e4e4e4; }

.c_order_detail {
  padding-top: 15px;
  color: #333; }
  .c_order_detail p {
    font-size: 13px;
    line-height: 30px; }
    .c_order_detail p span {
      margin-right: 20px; }

.m_logistics {
  padding: 20px 0 30px;
  margin: 0 20px; }
  .m_logistics > h2 {
    font-size: 16px;
    color: #333;
    line-height: 50px; }

.logistics_content {
  margin-left: 25px; }
  .logistics_content h4 {
    font-size: 14px;
    color: #333;
    line-height: 30px; }
  .logistics_content p {
    font-size: 12px;
    color: #666;
    line-height: 25px; }

.order_content {
  background: #f8f8f8; }
