.show_img_bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999; }

.show_img_bg:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #000\9;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
  z-index: -1; }

.show_img {
  position: relative;
  margin: 0 auto;
  width: 40%;
  height: 100%;
  min-height: 600px;
  min-width: 600px;
  display: table; }
  .show_img > div {
    display: none;
    vertical-align: middle; }
    .show_img > div img {
      width: 100%;
      max-height: 85%; }
  .show_img p {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 30px; }

.arrow_com {
  display: block;
  position: absolute;
  width: 30px;
  height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }
  .arrow_com span {
    display: block;
    width: 22px;
    height: 44px;
    margin: 3px 4px; }

.arrow_prev {
  top: 49%;
  left: -50px; }
  .arrow_prev span {
    background: url("../../foreman/Images/sprite_foreman_arrowleft.png"); }

.arrow_next {
  top: 49%;
  right: -50px; }
  .arrow_next span {
    background: url("../../foreman/Images/sprite_foreman_arrowright.png"); }

.show_img_close {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 42px;
  height: 40px;
  background: url("../../foreman/Images/sprite_foreman_close.png");
  cursor: pointer; }

.show {
  display: table-cell !important; }

.routeInfo {
  border: 0;
  margin: 0 auto; }

.l_main {
  margin-top: 15px;
  margin-bottom: 100px; }

.title {
  position: relative;
  font-size: 18px;
  line-height: 40px;
  height: 18px;
  overflow: visible;
  padding-left: 10px;
  border-left: 2px solid #093; }
  .title span {
    position: absolute;
    top: -12px;
    left: 0;
    text-indent: 10px;
    width: 100%;
    border-bottom: 1px solid #e4e4e4; }

.about_us_content {
  padding: 40px; }
  .about_us_content img {
    float: left;
    width: 480px !important;
    height: 300px !important; }

.about_text {
  padding: 0 30px;
  margin: 10px 0;
  font-size: 14px;
  color: #666666;
  height: 280px;
  text-indent: 20px;
  overflow: hidden;
  line-height: 28px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical; }

.certificate {
  width: 1220px;
  padding: 40px; }
  .certificate img {
    float: left;
    width: 281px !important;
    height: 199px !important;
    margin-top: 20px;
    margin-right: 31px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.clear_rightM {
  margin-right: 0 !important; }

.connect_content {
  padding: 40px; }

.tel {
  float: left;
  width: 300px; }
  .tel p {
    line-height: 30px;
    font-size: 13px;
    color: #666666; }
    .tel p span {
      float: left; }

.code {
  margin-top: 40px;
  width: 150px;
  height: 150px; }

.connect_com {
  margin-right: 40px; }
  .connect_com h4 {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px; }

.address {
  width: 252px; }

.fenghuang {
  float: left;
  width: 340px; }
  .fenghuang > div {
    width: 340px;
    height: 500px; }

.position {
  float: left;
  width: 500px; }
  .position img {
    display: block;
    width: 500px; }
