@charset "UTF-8";
.fr {
  float: right;
  *display: inline; }

.fl {
  float: left;
  *display: inline; }

.drop_menu {
  float: left;
  margin-right: 5px;
  font-size: 14px;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e4e4e4;
  position: relative;
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .drop_menu .drop_show {
    padding-right: 30px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .drop_menu .active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .drop_menu .drop_arrow, .drop_menu .drop_arrow:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    border: 8px solid transparent;
    border-top-color: #ccc;
    webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -ms-transform-origin: 50% 20%;
    transform-origin: 50% 20%; }
  .drop_menu .drop_arrow:after {
    margin-top: -10px;
    right: -8px;
    border-top-color: #fff; }
  .drop_menu .drop_list {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 9999;
    width: inherit;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4; }
    .drop_menu .drop_list li {
      padding-left: 2px;
      height: inherit;
      line-height: inherit;
      text-align: center;
      border: 1px solid #e4e4e4;
      border-bottom: 0;
      word-break: break-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

.l_main {
  margin-top: 40px; }

.left_content {
  width: 240px;
  margin-right: 15px;
  min-height: 800px;
  overflow: hidden;
  background-color: #fff; }

.user_head {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
  .user_head .user_head_img {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: #f8f8f8;
    overflow: hidden; }
    .user_head .user_head_img img {
      display: block;
      width: 100%;
      height: 120px;
      border-radius: 120px; }
  .user_head .user_name {
    max-width: 60%;
    margin: 5px auto 0;
    font-size: 14px;
    text-align: center; }

.user_nav dt {
  padding-left: 47px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  color: #333;
  background-color: #f7f7f7; }
  .user_nav dt:before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #999;
    vertical-align: middle; }
.user_nav dd a {
  display: block;
  margin-bottom: 1px;
  padding-left: 70px;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  border-left: 2px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.right_content {
  width: 945px;
  min-height: 800px; }

.right_title {
  padding: 25px 35px 0;
  background-color: #fff; }
  .right_title h3 {
    padding-bottom: 8px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e4e4e4; }

.empty_box {
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  text-align: center;
  background-color: #fff; }
  .empty_box span {
    width: 100%;
    text-align: center;
    -webkit-align-self: center;
    align-self: center;
    -ms-flex-item-align: center;
    font-size: 18px;
    color: #333; }

.select_nav {
  padding: 25px 70px;
  background-color: #fff;
  height: 35px; }
  .select_nav .drop_menu {
    width: 180px; }

.select_items {
  background-color: #fff;
  padding: 0 70px; }
  .select_items .page_list {
    text-align: right; }

.col {
  display: table-cell;
  *display: inline-block;
  vertical-align: middle; }

.recommend_box {
  padding: 30px;
  margin-top: 20px;
  background-color: #fff;
  position: relative; }
  .recommend_box h4 {
    margin-bottom: 25px;
    font-size: 18px;
    color: #333; }
  .recommend_box .recommend_btn {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    font-family: sans-serif;
    color: #e4e4e4;
    text-shadow: 2px 0px 2px #e4e4e4; }
  .recommend_box .recommend_next {
    right: 30px; }

.recommend_content {
  width: 780px;
  height: 240px;
  overflow: hidden;
  margin: 0 auto; }

.recommend_items {
  margin-right: -20px; }
  .recommend_items .recommend_li {
    float: left;
    margin-right: 20px;
    width: 180px; }
  .recommend_items .recommend_pro_img {
    display: block;
    width: 180px;
    height: 180px;
    overflow: hidden; }
    .recommend_items .recommend_pro_img > img {
      display: block;
      width: 100%;
      height: 180px; }
  .recommend_items .recommend_text, .recommend_items .recommend_price {
    text-align: center;
    font-size: 14px; }
  .recommend_items .recommend_text {
    margin: 18px 20px 0;
    color: #333;
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    /* 1 */
    text-overflow: ellipsis; }

.address_box {
  padding: 20px 70px;
  background-color: #fff; }

.address_items {
  padding: 30px;
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  font-size: 14px;
  line-height: 1.8; }

.address_li1 {
  font-size: 16px;
  color: #333; }

.address_li2 {
  display: none;
  width: 70px;
  line-height: 22px;
  text-align: center;
  margin-left: 38px;
  margin-right: 10px;
  cursor: pointer; }

.address_li3 {
  display: none;
  line-height: 22px;
  padding: 0 5px;
  cursor: pointer; }

.address_phone {
  margin: 0 25px; }

.address_items:hover .address_li2, .address_items:hover .address_li3 {
  display: inline-block; }

.check {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  vertical-align: -3px;
  cursor: pointer;
  margin-right: 10px; }

.address_new {
  margin-top: 35px;
  padding-left: 15px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #666; }

.address_edit {
  padding-left: 25px;
  padding-top: 30px; }
  .address_edit label {
    float: left;
    width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-align: left; }

.edit_list {
  margin-bottom: 15px; }

.edit_input {
  float: left;
  width: 600px;
  /*错误提示信息*/ }
  .edit_input input {
    width: 590px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    padding-left: 10px;
    border: 1px solid #e4e4e4;
    font-family: '\5fae\8f6f\96c5\9ed1';
    -moz-transition: border-color 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: border-color 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease; }
  .edit_input ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999; }
  .edit_input :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999; }
  .edit_input ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999; }
  .edit_input :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999; }
  .edit_input p {
    font-size: 12px;
    line-height: 24px;
    padding-left: 12px;
    visibility: hidden; }

.drop_menu {
  width: 190px;
  margin-right: 15px;
  color: #666; }

.address_mark {
  float: none; }

.address_save {
  margin: 10px 0; }
  .address_save input {
    width: 180px;
    text-align: center;
    border: 0;
    cursor: pointer; }

/*# sourceMappingURL=address.css.map */
