@charset "UTF-8";
html{
  height: 100%;
}
body{
  position: relative;
  height: 100%;
}
.headbar{
  position: fixed;
  width:100%;
  top: 0;
}
.pro_list_box {
  height: 100%;
}

//左侧导航
.side_nav {
  position: fixed;
  top:0;
  padding-top: 48px;
  min-width: 90px;
  width: 90px;
  height:100%;
  overflow-y: auto;
  background-color: #f8f8f8;
  transform: translateY(0px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  ul {
    width: 90px;
    li {
      height: 49px;
      line-height: 49px;
      text-align: center;
      a {
        display: block;
        margin:0 15px;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom: 1px solid #e0e0e0;
      }
    }
    li.current {
      border-right: 1px solid #fff;
      background-color: #fff;
      a {
        border-bottom: 1px solid #fff;
        color: #093;
      }
    }
  }
}
//右侧内容
.pro_content{
  padding-top: 48px;
  height: 100%;
  width: 100%;
  font-size: 12px;
  color: #252525;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pro_content_inner{
  margin-left: 90px;
}
//广告
.pro_ad{
  margin: 10px 12px;
  img {
    width: 100%;
    height: auto;
    max-height: 85px;
    overflow: hidden;
  }
}
.pro_items{
  margin: 0 11px 0 13px;
  h3 {
    font-size: 12px;
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 1em;
    color: #888;
    font-weight: bold;
  }
}
.items_list{
  margin-top:10px;
  li {
    //width: 50%;
    width: 132px;
    height: 130px;
    overflow: hidden;
    float: left;
    a{
      display: block;
      margin: 0 10px;
      overflow: hidden;
      text-align: center;
    }
    img {
      width: 112px;
      height: 70px;
    }
    p{
      margin: 5px 0;
      font-size: 12px;
      color: #333;
      text-align: left;
      max-height: 16px;
      overflow: hidden;
    }
    span {
      font-size:14px;
      display: block;
      text-align: left;
    }
  }
}
@media screen and (max-width: 320px){
  .items_list {
    li{
      width: 103px;
      height: 111px;
    }
    img {
      width: 83px!important;
      height: 51px!important;
    }
  }
}
@media screen and (min-width: 321px) and(max-width: 375px){
  .items_list {
    li{
      width: 120px;
      height: 112px;
    }
    img {
      width: 100px!important;
      height: 62px!important;
    }
  }
}
@media screen and (min-width: 376px) and(max-width: 480px){
  .items_list {
    li{
      width: 150px;
      height: 141px;
    }
    img {
      width: 130px!important;
      height: 81px!important;
    }
  }
}
@media screen and (min-width: 481px) {
  .items_list {
    li{   
      width: 163px;
      height: 149px;
    }
    img {
      width: 143px!important;
      height: 89px!important;
    }
  }
}