@charset "UTF-8";
/*c_gotop*/
#totop {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 65px;
  border-radius: 65px;
  background-color: #ddd;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 1000; }
  #totop:hover {
    background-color: #5272e4; }
  #totop a {
    display: block;
    width: 23px;
    height: 13px;
    margin: 26px auto 0;
    background: url(../../Images/sprite_totop.png) no-repeat; }

@keyframes side1_turn {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes side1_turn /* Firefox */ {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes side1_turn /* Safari 和 Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes side1_turn /* Opera */ {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes side2_turn {
  from {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  to {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg); } }
@-moz-keyframes side2_turn /* Firefox */ {
  from {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  to {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg); } }
@-webkit-keyframes side2_turn /* Safari 和 Chrome */ {
  from {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  to {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg); } }
@-o-keyframes side2_turn /* Opera */ {
  from {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  to {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg); } }
.sixside_title {
  position: relative;
  width: 151px;
  height: 151px;
  margin: 0 auto; }
  .sixside_title h3 {
    font-size: 22px;
    color: #fff;
    line-height: 151px;
    text-align: center; }

.small_six {
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  height: 132px; }

.sixside1_turn {
  -webkit-animation: side1_turn 15s linear infinite;
  -o-animation: side1_turn 15s linear  infinite;
  animation: side1_turn 15s linear infinite; }

.sixside2_turn {
  -webkit-animation: side2_turn 15s linear infinite;
  -o-animation: side2_turn 15s linear infinite;
  animation: side2_turn 15s linear infinite; }

.header, .top_about_content {
  background-color: rgba(255, 255, 255, 0.3);
  -pie-background: rgba(255, 255, 255, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000); }

.header {
  position: absolute; }

.header_logo {
  background: url("../../Images/sprite_header_logo2.png"); }

.header_nav ul a {
  color: #fff; }

.top_arrow {
  border-color: #fff transparent transparent transparent; }

.header.header_active {
  background-color: #424fab; }

@keyframes animateBorder1 {
  0% {
    opacity: 1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@keyframes animateBorder2 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
@keyframes animateBorder3 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
@keyframes animateBorder4 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
@-moz-keyframes animateBorder1 {
  0% {
    opacity: 1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@-moz-keyframes animateBorder2 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
@-moz-keyframes animateBorder3 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
@-moz-keyframes animateBorder4 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
@-o-keyframes animateBorder1 {
  0% {
    opacity: 1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@-o-keyframes animateBorder2 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
@-o-keyframes animateBorder3 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
@-o-keyframes animateBorder4 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
@-ms-keyframes animateBorder1 {
  0% {
    opacity: 1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@-ms-keyframes animateBorder2 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
@-ms-keyframes animateBorder3 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
@-ms-keyframes animateBorder4 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
@-webkit-keyframes animateBorder1 {
  0% {
    opacity: 1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@-webkit-keyframes animateBorder2 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
@-webkit-keyframes animateBorder3 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
@-webkit-keyframes animateBorder4 {
  0% {
    opacity: 0.1; }
  15% {
    opacity: 0.1; }
  30% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 0.1; }
  85% {
    opacity: 0.1; }
  100% {
    opacity: 0.1; } }
.contact_top {
  height: 700px;
  background: url(../../Images/contact/icon_contact_bg.png) #3a4f9f center no-repeat;
  overflow: hidden; }

.contact_btn {
  width: 521px;
  height: 252px;
  margin: 153px auto 70px;
  text-align: center;
  position: relative; }
  .contact_btn .contact_btn_img {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 400px;
    height: 110px;
    background: url(../../Images/contact/sprite_contact_btn.png) #fff center no-repeat;
    background-size: 320px; }
  .contact_btn .border {
    display: inline-block;
    width: 465px;
    height: 174px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
    position: absolute; }
  .contact_btn .border4 {
    top: 56px;
    left: 56px;
    -webkit-animation: animateBorder4 4s forwards infinite  ease;
    -o-animation: animateBorder4 4s forwards infinite  ease;
    animation: animateBorder4 4s forwards infinite  ease;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s; }
  .contact_btn .border3 {
    top: 38px;
    left: 38px;
    -webkit-animation: animateBorder3 4s forwards infinite  ease;
    -o-animation: animateBorder3 4s forwards infinite  ease;
    animation: animateBorder3 4s forwards infinite  ease;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s; }
  .contact_btn .border2 {
    top: 18px;
    left: 18px;
    -webkit-animation: animateBorder2 4s forwards infinite  ease;
    -o-animation: animateBorder2 4s forwards infinite  ease;
    animation: animateBorder2 4s forwards infinite  ease;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s; }
  .contact_btn .border1 {
    top: 0;
    left: 0;
    -webkit-animation: animateBorder1 4s forwards infinite  ease;
    -o-animation: animateBorder1 4s forwards infinite  ease;
    animation: animateBorder1 4s forwards infinite  ease;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s; }

.contact_title {
  color: #fff;
  font-size: 48px;
  text-align: center; }

.contact_detail {
  padding-top: 50px;
  height: 470px;
  background-color: #3f51b5; }
  .contact_detail p {
    margin-top: 30px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 5px; }

.map {
  width: 100%;
  height: 636px; }

td input {
  border: 1px solid #e4e4e4; }

/*# sourceMappingURL=contact.css.map */
