@charset "UTF-8";
.page {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 30px\9; }

.page a, .c_page_text, .c_page_btn {
  display: inline-block;
  font-size: 12px;
  padding: 0 12px;
  line-height: 30px;
  color: #888;
  background-color: #f7f7f7;
  margin-right: 5px;
  cursor: pointer;
  font-family: "SimSun";
  -moz-transition: 0.1s ease-out;
  /* Firefox 4 */
  -webkit-transition: 0.1s ease-out;
  /* Safari 和 Chrome */
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out; }

.page a.now_page:hover {
  cursor: default;
  color: #999; }

.page a:hover {
  color: #5272e4;
  background-color: #fff;
  border-color: #5272e4; }

.page a.active {
  background: #fff;
  color: #e1e1e1; }

.page a.current {
  background: #5272e4;
  color: #fff;
  border-color: #5272e4;
  cursor: default; }

.page span {
  padding-left: 25px; }

.c_page_text {
  width: 16px;
  background: #f7f7f7; }

.c_page_btn {
  font-family: "Microsoft YaHei", serif; }

/*c_gotop*/
#totop {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 65px;
  border-radius: 65px;
  background-color: #ddd;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 1000; }
  #totop:hover {
    background-color: #5272e4; }
  #totop a {
    display: block;
    width: 23px;
    height: 13px;
    margin: 26px auto 0;
    background: url(../../Images/sprite_totop.png) no-repeat; }

.l_main {
  padding-top: 54px;
  padding-bottom: 100px; }

.header {
  position: absolute; }

.content_title {
  padding-top: 33px;
  line-height: 30px;
  text-align: right;
  font-size: 14px;
  color: #666; }
  .content_title h3 {
    float: left;
    margin-right: 1px;
    width: 100px;
    text-align: center;
    cursor: pointer; }
    .content_title h3:after {
      background: transparent;
      content: "";
      display: block;
      margin: 2px auto 0;
      width: 0;
      height: 2px;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out; }
    .content_title h3:hover {
      color: #5272e4; }
      .content_title h3:hover:after {
        background: #5272e4;
        width: 100%; }
  .content_title h3.current {
    color: #5272e4; }
    .content_title h3.current:after {
      background: #5272e4;
      width: 100%; }
  .content_title span {
    color: #888;
    cursor: pointer; }
  .content_title .line {
    margin: 0 15px; }
  .content_title span.current {
    color: #5272e4; }
    .content_title span.current .icon_down {
      background: url(../../Images/sprite_down_btn_current.png) no-repeat; }

.icon_down {
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  vertical-align: middle;
  background: url(../../Images/sprite_down_btn.png) no-repeat; }

.model_list {
  margin: 40px -10px 30px; }
  .model_list li {
    float: left;
    width: 310px;
    margin: 0 10px 20px;
    overflow: hidden;
    background-color: #fff;
    -moz-transition: 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .model_list li:hover {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
      .model_list li:hover h3 a {
        color: #5272e4; }
  .model_list .model_img {
    display: block;
    width: 100%;
    height: 100%; }
    .model_list .model_img img {
      display: block;
      width: 100%;
      height: 100%; }
  .model_list .model_info {
    margin: 15px 30px;
    text-align: center; }
    .model_list .model_info h3 a {
      display: block;
      width: 100%;
      margin-bottom: 6px; }
      .model_list .model_info h3 a:hover {
        color: #5272e4; }
    .model_list .model_info h3 + p {
      margin-bottom: 10px;
      font-size: 12px;
      color: #666;
      line-height: 1.4;
      height: 1.4em;
      overflow: hidden; }
  .model_list .price_attente {
    padding-right: 20px;
    text-align: right; }
    .model_list .price_attente .price {
      margin-left: 20px;
      float: left;
      color: #ef353d; }
    .model_list .price_attente .attente {
      color: #aaa; }
    .model_list .price_attente .icon_attente {
      display: inline-block;
      width: 18px;
      height: 13px;
      margin-right: 5px;
      vertical-align: -1px;
      background: url(../../Images/sprite_icon_look.png) no-repeat; }

/*# sourceMappingURL=modellist.css.map */
