@charset "UTF-8";
.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.fr {
  float: right; }

.fl {
  float: left; }

/**
 * 文本对齐方式，左中右两端
 */
.tl {
  text-align: left !important; }

.tc {
  text-align: center !important; }

.tr {
  text-align: right !important; }

/**
 * 文本强制不换行
 */
.text_nowrap {
  white-space: nowrap;
  word-wrap: normal; }

/**
 * 文本强制换行
 */
.text_break {
  white-space: normal;
  word-wrap: break-word; }

/**
 * 文字溢出显示省略号
 * 1. Opera 9-10.6
 * 2. Chrome 21+ bug https://bugs.webkit.org/show_bug.cgi?id=121902
 */
.text_ellipsis {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  /* 1 */
  text-overflow: ellipsis;
  text-align: left;
  /* 2 */ }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hide {
  display: none; }

.con_width {
  width: 1100px;
  margin: 0 auto; }

.no_before:before {
  display: none !important; }

.no_after:after {
  display: none !important; }

.no_mt {
  margin-top: 0 !important; }

.no_mr {
  margin-right: 0 !important; }

.no_mb {
  margin-bottom: 0 !important; }

.no_ml {
  margin-left: 0 !important; }

.no_bt {
  border-top: 0 !important; }

.no_br {
  border-right: 0 !important; }

.no_bb {
  border-bottom: 0 !important; }

.no_bl {
  border-left: 0 !important; }

a, abbr, acronym, div, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%; }

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body, dl, dd,
ul, ol,
h1, h2, h3, h4, h5, h6, pre,
form, fieldset, legend, input, textarea, optgroup,
p, blockquote, figure, hr, menu, dir,
thead, tbody, tfoot, th, td, button {
  margin: 0;
  padding: 0; }

input, select, button, textarea {
  font: 12px/1.5 tahoma,arial,\5b8b\4f53;
  outline: none; }

input, select, textarea {
  font-size: 100%; }

a:active {
  background-color: transparent;
  /*2*/ }

ul, ol {
  list-style-type: none;
  list-style-image: none; }

fieldset {
  border: 0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0 none;
  white-space: normal;
  *margin-left: -7px; }

address, cite, dfn, em, var, i {
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

i, b {
  font-style: normal; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  word-break: break-all; }

dl, dt, dd, h1, h2, h3, h4, h5, h6, input, button, textarea, p, table, th, td, form {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input {
  outline: none; }

input, select, textarea {
  font-size: 100%; }

body {
  background-color: #f8f8f8;
  color: #666;
  width: 100%;
  margin: 0 auto;
  min-width: 1100px; }

body {
  font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; }

.top_bar {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: right; }
  .top_bar span {
    margin: 0 0.4em;
    font-family: sans-serif;
    color: #666; }
  .top_bar a:hover {
    color: #fff; }
  .top_bar .icon_cart {
    margin-left: 10px;
    display: inline-block;
    width: 60px;
    height: 35px;
    position: relative;
    vertical-align: top;
    -moz-transition: all 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: all 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center; }
    .top_bar .icon_cart .iconfont {
      font-size: 18px;
      vertical-align: -2px;
      line-height: 1; }
  .top_bar .icon_cart:hover {
    background-color: #525252; }

.nav {
  width: 100%;
  height: 90px; }

.icon_logo {
  width: 70px;
  height: 58px;
  margin-top: 16px; }
  .icon_logo > img {
    display: block;
    width: 100%;
    height: 100%; }

.nav_text {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  margin-left: 55px; }
  .nav_text li {
    float: left;
    margin-left: 48px; }
    .nav_text li a {
      font-size: 18px; }
  .nav_text li.current a {
    color: #ff6700; }

.search {
  width: 300px;
  height: 39px;
  margin-top: 25px;
  text-align: left;
  position: relative;
  z-index: 12; }

.search_form {
  height: 39px;
  padding: 0;
  margin: 0;
  line-height: 39px;
  overflow: hidden; }

.search_input {
  display: inline-block;
  width: 224px;
  height: 25px;
  line-height: 1;
  padding: 6px 7px;
  color: #333;
  outline: none;
  vertical-align: top;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #e4e4e4;
  -moz-transition: border 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: border 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: border 0.2s ease;
  transition: border 0.2s ease; }

.search_btn {
  display: inline-block;
  width: 59px;
  height: 37px;
  border-width: 1px;
  border-style: solid;
  border-color: #e4e4e4;
  border-left: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -moz-transition: border 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: border 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: border 0.2s ease;
  transition: border 0.2s ease;
  text-align: center; }
  .search_btn .iconfont {
    font-size: 24px;
    line-height: 1;
    color: #ccc;
    vertical-align: -3px; }

.search_suggest {
  width: 300px;
  display: none;
  position: absolute;
  top: 64px;
  z-index: 12;
  background: #fff;
  border: 1px solid #d6d6d6;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .search_suggest a {
    display: block;
    padding: 0 11px; }
    .search_suggest a:hover {
      background-color: #ffe1cc; }

.search_suggest.current {
  display: block; }

.search:hover .search_input, .search:hover .search_btn {
  border-color: #cbcbcb; }

.footer {
  margin-top: 40px;
  padding: 50px 0 35px;
  height: 105px;
  border-bottom: 1px solid #e4e4e4; }

.footer_nav {
  float: left;
  width: 147px;
  height: 112px; }
  .footer_nav dt {
    margin: -1px 0 18px;
    font-size: 16px;
    line-height: 1.25; }
  .footer_nav dd {
    margin: 10px 0 0;
    font-size: 12px; }

.erweima {
  margin: 0 60px; }
  .erweima dt {
    width: 84px;
    height: 84px; }
    .erweima dt img {
      display: block;
      width: 100%;
      height: 100%; }
  .erweima dd {
    text-align: center;
    color: #999; }

.footer_contact {
  margin-right: 72px;
  text-align: right; }
  .footer_contact p {
    font-size: 16px;
    line-height: 1.6; }
  .footer_contact .kefu_btn {
    margin-top: 13px;
    font-size: 16px;
    position: relative; }
    .footer_contact .kefu_btn .iconfont {
      font-size: 24px;
      line-height: 1;
      padding-right: 8px; }

.copy {
  padding: 30px 0;
  text-align: center; }
  .copy p {
    line-height: 2.4; }

@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.eot");
  /* IE9*/
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-guanbi:before {
  content: "\e612"; }

.icon-weibo:before {
  content: "\e600"; }

.icon-sousuo:before {
  content: "\e607"; }

.icon-601:before {
  content: "\e613"; }

.icon-star:before {
  content: "\e601"; }

.icon-gouwuche:before {
  content: "\e614"; }

.icon-kefu:before {
  content: "\e616"; }

.icon-delet:before {
  content: "\e608"; }

.icon-shoucangweishoucang:before {
  content: "\e615"; }

.icon-issue:before {
  content: "\e603"; }

.icon-cart:before {
  content: "\e609"; }

.icon-qq:before {
  content: "\e602"; }

.icon-weixin:before {
  content: "\e604"; }

.icon-laba:before {
  content: "\e617"; }

.icon-arrow_up:before {
  content: "\e60a"; }

.icon-arrow_right:before {
  content: "\e60b"; }

.icon-arrow_down:before {
  content: "\e611"; }

.icon-arrow_left:before {
  content: "\e60c"; }

.icon-bold_arrow_up:before {
  content: "\e60d"; }

.icon-bold_arrow_down:before {
  content: "\e60e"; }

.icon-duihao:before {
  content: "\e60f"; }

.icon-bianji:before {
  content: "\e605"; }

.icon-tanhao:before {
  content: "\e610"; }

.icon-plus:before {
  content: "\e606"; }

/*c_gotop*/
#totop {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 1000; }

.login_popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.login_box {
  width: 650px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  margin-left: -325px;
  margin-top: -300px;
  background-color: #fff; }
  .login_box .login_title {
    width: 590px;
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
    background-color: #e4e4e4;
    font-size: 20px;
    color: #666;
    position: relative; }
    .login_box .login_title .offbtn {
      position: absolute;
      right: 32px;
      top: 20px;
      display: block;
      width: 25px;
      height: 25px;
      line-height: 1;
      font-size: 24px;
      text-align: center;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      -moz-transition: background 0.3s ease;
      /* Firefox 4 */
      -webkit-transition: background 0.3s ease;
      /* Safari 和 Chrome */
      -o-transition: background 0.3s ease;
      transition: background 0.3s ease;
      cursor: pointer; }
      .login_box .login_title .offbtn .iconfont {
        vertical-align: 2px;
        line-height: 1; }

.login_area {
  width: 380px;
  margin: 60px auto 0; }
  .login_area input {
    width: 368px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #e4e4e4;
    padding: 3px 5px;
    font-size: 14px;
    -moz-transition: border 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: border 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease; }
  .login_area .fill_account {
    margin-bottom: 30px; }
  .login_area .error_tips {
    height: 40px;
    line-height: 40px; }
    .login_area .error_tips i {
      font-size: 15px;
      margin: 0 5px 0 15px; }
  .login_area .define_btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 0;
    padding: 0; }

.other_way {
  margin-top: 60px;
  width: 380px;
  height: 1px;
  background-color: #e4e4e4;
  position: relative;
  text-align: center; }
  .other_way span {
    width: 120px;
    height: 20px;
    line-height: 20px;
    color: #666;
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -60px;
    background-color: #fff;
    display: inline-block; }

.other_way_icon {
  margin-top: 15px;
  text-align: center; }
  .other_way_icon a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px; }
  .other_way_icon .icon1 {
    background: url("../../Images/sprite/sprite_login_icon1.png") no-repeat; }
  .other_way_icon .icon2 {
    background: url("../../Images/sprite/sprite_login_icon2.png") no-repeat; }
  .other_way_icon .icon3 {
    background: url("../../Images/sprite/sprite_login_icon3.png") no-repeat; }

.register {
  margin-top: 35px;
  text-align: center; }
  .register a {
    font-size: 14px; }
  .register em {
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #e4e4e4;
    margin: 0 15px; }

.popup_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.register_box {
  width: 650px;
  height: 680px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -325px;
  margin-top: -300px;
  background-color: #fff; }
  .register_box .register_title {
    width: 590px;
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
    background-color: #e4e4e4;
    font-size: 20px;
    color: #666;
    position: relative; }
    .register_box .register_title .offbtn {
      position: absolute;
      right: 32px;
      top: 20px;
      display: block;
      width: 25px;
      height: 25px;
      line-height: 1;
      font-size: 24px;
      text-align: center;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      -moz-transition: background 0.3s ease;
      /* Firefox 4 */
      -webkit-transition: background 0.3s ease;
      /* Safari 和 Chrome */
      -o-transition: background 0.3s ease;
      transition: background 0.3s ease;
      cursor: pointer; }
      .register_box .register_title .offbtn .iconfont {
        vertical-align: 2px;
        line-height: 1; }

.register_area {
  width: 380px;
  margin: 60px auto 0; }
  .register_area input {
    width: 368px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #e4e4e4;
    padding: 3px 5px;
    font-size: 14px;
    -moz-transition: border 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: border 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease; }

.distance {
  margin-bottom: 30px; }

.password_tips {
  margin: 5px -5px 20px; }
  .password_tips li {
    float: left;
    width: 120px;
    height: 16px;
    margin: 0 5px;
    text-align: center;
    font-size: 12px;
    color: #fff; }
  .password_tips .length1 {
    opacity: 0.4;
    filter: alpha(opacity=40); }
  .password_tips .length2 {
    opacity: 0.6;
    filter: alpha(opacity=70); }
  .password_tips .length3 {
    opacity: 1;
    filter: alpha(opacity=100); }

.fill_yzm .yzm {
  width: 158px; }

.fill_yzm img {
  width: 100px;
  height: 40px;
  margin-left: 30px; }

.fill_yzm a {
  display: block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px; }

.fill_msg .msg {
  width: 198px;
  vertical-align: top; }

.fill_msg .masg_btn {
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #999;
  margin-left: 15px;
  padding: 0 !important; }

.define_btn {
  width: 380px !important;
  border: 0 !important;
  height: 40px !important;
  line-height: 40px !important;
  padding: 0px !important; }

.error_tips {
  height: 40px;
  line-height: 40px; }
  .error_tips i {
    font-size: 15px;
    margin: 0 5px 0 15px; }

.you_konw {
  margin-top: 15px;
  padding: 0 5px; }

.find_wrap {
  background-color: #fff;
  margin-top: 40px; }

.find_title {
  height: 70px;
  line-height: 70px;
  margin: 0 20px;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #e4e4e4; }

.handle_step {
  width: 600px;
  padding-left: 80px;
  margin: 90px auto 0; }
  .handle_step li {
    float: left;
    width: 150px;
    height: 2px;
    background-color: #e4e4e4;
    position: relative; }
    .handle_step li .circle {
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      text-align: center;
      background-color: #e4e4e4;
      color: #fff; }
    .handle_step li p {
      text-align: center;
      font-size: 14px;
      color: #333;
      padding-top: 20px; }

.find_wrap .fill_account {
  width: 400px;
  margin: 128px auto 0;
  padding-bottom: 650px; }
  .find_wrap .fill_account p, .find_wrap .fill_account input, .find_wrap .fill_account a {
    height: 42px;
    line-height: 42px;
    font-size: 14px; }
  .find_wrap .fill_account input {
    width: 388px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #e4e4e4;
    padding: 3px 5px;
    font-size: 14px;
    -moz-transition: border 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: border 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease; }
  .find_wrap .fill_account .error_tips {
    visibility: hidden; }

.find_wrap .find_tips {
  text-align: left;
  font-size: 14px;
  color: #333; }

.find_wrap .setp2 .yzm_dx {
  width: 230px; }

.find_wrap .setp2 .yzm_btn {
  width: 135px;
  height: 40px;
  margin-left: 15px;
  padding: 0;
  color: #999;
  background-color: #fff;
  border: 1px solid #e4e4e4; }

.find_wrap .setp3 p {
  font-size: 14px;
  color: #333; }

.find_wrap .setp4 p {
  font-size: 16px;
  text-align: center; }

.find_wrap .setp4 a {
  font-size: 20px;
  padding: 0 3px; }
  .find_wrap .setp4 a:hover {
    text-decoration: underline; }

.deepbg {
  background-color: #333;
  /*背景颜色加深*/ }

.bgfff {
  background-color: #fff; }

.bge4 {
  background-color: #e4e4e4; }

a {
  color: #666;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #ff6700; }

.deep {
  color: #333 !important;
  /*字体颜色加深*/ }
  .deep a {
    color: #333; }
    .deep a:hover {
      color: #ff6700; }

.main {
  color: #ff6700 !important; }

.main_bg {
  background-color: #ff6700 !important;
  color: #fff !important; }
  .main_bg:before, .main_bg:after {
    background-color: #ff6700 !important; }

.main_border {
  border-color: #ff6700 !important; }

.main_hover:hover {
  color: #ff6700 !important; }

.mainbg_hover:hover {
  background-color: #ff6700 !important;
  color: #FFFFFF !important; }

.main_border_hover:hover {
  border-color: #ff6700 !important; }

.main_focus:focus {
  border-color: #ff6700 !important; }

.overflow {
  overflow: hidden; }

.btn, .small_btn, .define_btn {
  display: block;
  border: 1px solid #ff6700;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background-color 0.3s ease;
  /* Firefox 4 */
  -webkit-transition: background-color 0.3s ease;
  /* Safari 和 Chrome */
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }
  .btn:hover, .small_btn:hover, .define_btn:hover {
    color: #fff;
    background-color: #f56300 !important; }

.btn {
  width: 150px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  font-size: 15px; }

.small_btn {
  width: 45px;
  height: 23px;
  line-height: 23px;
  font-size: 12px; }

.sanjiao {
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: #ff6700 transparent transparent;
  -moz-transition: all 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: all 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.sanjiao.current {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.share {
  width: 194px; }
  .share > span {
    display: inline-block;
    float: left; }
