.top {
  position: relative;
  height: 45px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #009933;
  z-index: 9999; }
  .top span {
    display: block; }

.top a:nth-child(1) {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 44px;
  height: 100%; }

.top a:nth-child(3) {
  position: absolute;
  display: block;
  top: 0;
  right: 0px;
  width: 44px;
  height: 100%; }

.top_left, .top_search {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 12px 0 11px 15px;
  width: 13px;
  height: 22px;
  background: url("../../../Images/mobile/icon_strategy.png") -60px 0;
  -webkit-background-size: 150px;
  background-size: 150px; }

.top_title {
  padding: 0 44px;
  line-height: 45px;
  font-size: 1rem;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center; }

.top_search {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 10px 11px 0;
  width: 23px;
  background: url("../../../Images/mobile/icon_strategy.png") -85px 0;
  -webkit-background-size: 150px;
  background-size: 150px; }

.l_main {
  padding-bottom: 64px; }

.payway {
  background: #FFFFFF;
  padding: 10px 3%; }
  .payway h4 {
    font-size: 1rem;
    line-height: 1.5rem; }

.m_pro {
  padding: 10px 0;
  width: 100%; }

.pro_ele {
  float: left;
  width: 25%; }
  .pro_ele img {
    display: block;
    margin: 0 auto;
    max-width: 95%; }

.choice_ele {
  float: left;
  position: relative;
  margin-right: 10px;
  width: 110px;
  height: 30px;
  line-height: 28px;
  font-size: 0.8rem;
  color: #888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  text-align: center; }

.clicked {
  border: 1px solid #009933;
  color: #009933; }
  .clicked span {
    display: block;
    position: absolute;
    top: 8px;
    left: 5px;
    width: 18px;
    height: 14px;
    background: url("../../../Images/mobile/cart/icon_cart.png") 0 -94px;
    -webkit-background-size: 200px;
    background-size: 200px; }

.no_click {
  border: 0 !important;
  line-height: 30px !important;
  background: #f8f8f8 !important; }
  .no_click span {
    background: none !important; }

.time p:nth-child(1) {
  font-size: 0.9rem;
  line-height: 2rem; }

.time p:nth-child(2) {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #888; }

.confirm {
  margin: 20px auto 0;
  width: 110px;
  height: 35px;
  line-height: 35px;
  font-size: 1rem;
  text-align: center;
  color: #FFFFFF;
  background: #009933; }
