@charset "UTF-8";
.top {
  position: relative;
  height: 45px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #009933;
  z-index: 9999; }
  .top span {
    display: block; }

.top a:nth-child(1) {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 44px;
  height: 100%; }

.top a:nth-child(3) {
  position: absolute;
  display: block;
  top: 0;
  right: 0px;
  width: 44px;
  height: 100%; }

.top_left, .top_search {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 12px 0 11px 15px;
  width: 13px;
  height: 22px;
  background: url("../../../Images/mobile/icon_strategy.png") -60px 0;
  -webkit-background-size: 150px;
  background-size: 150px; }

.top_title {
  padding: 0 44px;
  line-height: 45px;
  font-size: 1rem;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center; }

.top_search {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 10px 11px 0;
  width: 23px;
  background: url("../../../Images/mobile/icon_strategy.png") -85px 0;
  -webkit-background-size: 150px;
  background-size: 150px; }

.message_confirm_bg {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 640px;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6); }

.message_confirm {
  width: 260px;
  height: 120px;
  font-size: 1rem;
  color: #333;
  text-align: center;
  background: #f8f8f8;
  margin: 48% auto 0;
  padding: 0 5%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .message_confirm h4 {
    width: 100%;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    border-bottom: 1px solid #e4e4e4; }

.message_button {
  padding-top: 20px;
  font-size: 0.8rem; }

.message_del, .message_sure {
  float: left;
  width: 70px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #e4e4e4;
  background: #FFFFFF; }

.message_sure {
  float: right;
  background: #009933;
  color: #FFFFFF; }

/* 筛选*/
.shaixuan_bg {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  max-width: 640px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3); }

.shaixuan {
  position: relative;
  display: block;
  margin-left: 10%;
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  background: #fff; }

.shaixuan_top {
  height: 45px;
  width: 100%;
  background: #FFFFFF;
  margin-bottom: 10px; }
  .shaixuan_top span {
    float: left; }

.cancel, .queding {
  width: 20%;
  font-size: 1rem;
  text-align: center;
  line-height: 45px;
  color: #888; }

.top_text {
  line-height: 45px;
  font-size: 1rem;
  width: 60%;
  text-align: center; }

.top em {
  float: right;
  color: white;
  font-size: 13px;
  line-height: 45px;
  margin-right: 10px;
  cursor: pointer; }

.content {
  margin: 0 auto 0;
  width: 100%;
  background: #f8f8f8; }

.name_tel_pic .name_tel {
  width: 77.5%;
  background: white; }
  .name_tel_pic .name_tel p {
    border-bottom: 1px solid #e4e4e4;
    text-indent: 1em;
    height: 40px; }
    .name_tel_pic .name_tel p span {
      font-size: 14px;
      color: #888;
      line-height: 40px;
      float: left; }
    .name_tel_pic .name_tel p input {
      margin-top: 9px;
      float: left;
      border: none;
      font-size: 14px;
      color: black;
      line-height: 20px;
      width: 60%; }

.name_tel_pic .head_pic {
  width: 22.1%;
  height: 81px;
  background: white;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  text-align: center; }
  .name_tel_pic .head_pic i, .name_tel_pic .head_pic .default_addr .default_btn .active, .default_addr .default_btn .name_tel_pic .head_pic .active {
    display: inline-block;
    margin-top: 18px;
    width: 35px;
    height: 35px;
    margin-bottom: -5px;
    background: url("../../../Images/mobile/cart/sprite_new_addr.png") no-repeat;
    -webkit-background-size: 40px;
    background-size: 40px; }

.area {
  border-bottom: 1px solid #e4e4e4;
  text-indent: 1em;
  height: 39px;
  background: white; }
  .area span {
    font-size: 14px;
    color: #888;
    line-height: 40px; }
  .area input {
    margin-top: 9px;
    border: none;
    font-size: 14px;
    color: black;
    line-height: 20px; }

.detail_addr {
  border-bottom: 1px solid #e4e4e4;
  text-indent: 1em;
  background: white;
  padding: 13px 0; }
  .detail_addr span {
    float: left;
    font-size: 14px;
    color: #888; }
  .detail_addr textarea {
    float: left;
    border: none;
    resize: none;
    outline: none;
    width: 70%;
    font-size: 14px;
    color: black;
    line-height: 20px;
    margin-top: -2px; }

.default_addr {
  background: white;
  padding: 13px 0; }
  .default_addr .txt {
    text-indent: 1em; }
    .default_addr .txt p {
      font-size: 14px;
      color: #888;
      line-height: 20px; }
    .default_addr .txt span {
      display: block;
      font-size: 10px;
      color: #888;
      line-height: 20px; }
  .default_addr .default_btn {
    margin-right: 8%; }
    .default_addr .default_btn i, .default_addr .default_btn .active {
      display: block;
      margin-top: 5px;
      width: 46px;
      height: 35px;
      margin-bottom: -5px;
      background: url("../../../Images/mobile/cart/sprite_new_addr.png") no-repeat 0 -55px;
      -webkit-background-size: 45px;
      background-size: 45px; }
    .default_addr .default_btn .active {
      background: url("../../../Images/mobile/cart/sprite_new_addr.png") no-repeat 0 -100px;
      -webkit-background-size: 45px;
      background-size: 45px; }

.keep_btn {
  margin: 20px auto;
  width: 200px;
  height: 40px; }
  .keep_btn a {
    display: inline-block;
    text-align: center;
    background: #093;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 200px;
    height: 40px; }

.shaixuan_detail {
  display: none;
  margin-left: 10%;
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  background: #f8f8f8; }

.m_sort {
  background: #FFFFFF; }

.m_sort_topleft {
  width: 20%; }

.detail_hide {
  margin: 15px 15px 15px 10px;
  width: 10px;
  height: 15px;
  background: url("../../../Images/mobile/icon_mall.png") 0 0;
  -webkit-background-size: 300px;
  background-size: 300px; }

.m_sort li {
  text-indent: 5px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 0.9rem;
  color: #666;
  line-height: 35px;
  border-bottom: 1px solid #e4e4e4; }

.arrow_clicked {
  display: none;
  float: right;
  margin: 10px 15px 7px 10px;
  width: 15px;
  height: 10px;
  background: url("../../../Images/mobile/icon_mall.png")-14px 0;
  -webkit-background-size: 250px;
  background-size: 250px; }

.m_sort .m_sort_clicked {
  color: #093; }

.m_sort_clicked .arrow_clicked {
  display: block; }

.no_borderB {
  border-bottom: 0 !important; }
