.site {
  position: relative;
  height: 40px;
  line-height: 40px; }
  .site li {
    float: left;
    color: #666; }
  .site .arrow {
    line-height: 38px;
    font-family: \5b8b\4f53,'Microsoft YaHei';
    margin: 2px  5px 0; }
