@charset "UTF-8";
/*choose_list*/
.choose_list {
  position: relative;
  padding-top: 20px;
  margin-bottom: 20px; }

.choose_list_items > li {
  float: left;
  padding: 0 35px;
  border-right: 1px solid #e5e5e5; }

.choose_list_items > li a {
  color: #666;
  font-size: 14px;
  line-height: 14px;
  position: relative; }

.choose_list_items > li a span {
  display: inline-block;
  width: 8px;
  height: 11px;
  margin-left: 5px;
  vertical-align: middle;
  background: url(../../mall/Images/sprite_mall_list_btn.png) no-repeat center; }

.icon_sj_up {
  position: absolute;
  top: 3px;
  right: -15px;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 5px;
  cursor: pointer;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #666 transparent;
  border-top: none; }

.icon_sj_down {
  position: absolute;
  bottom: 3px;
  right: -15px;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 5px;
  cursor: pointer;
  border-style: solid dashed dashed dashed;
  border-color: #666 transparent transparent transparent;
  border-bottom: none; }

.choose_list_items > li.current a {
  color: #093; }

.choose_list_items > li.current a span {
  background: url(../../mall/Images/sprite_mall_list_currentbtn.png) no-repeat center; }

.choose_list_items > li.currentUp a .icon_sj_up {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 5px;
  cursor: pointer;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #093 transparent;
  border-top: none; }

.choose_list_items > li.currentDown a .icon_sj_down {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 5px;
  cursor: pointer;
  border-style: solid dashed dashed dashed;
  border-color: #093 transparent transparent transparent;
  border-bottom: none; }

.choose_list_items .clear_border {
  border: 0; }

.count {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #333; }
  .count span {
    color: #093; }

.choose a {
  float: left;
  margin: 0 5px;
  line-height: 20px !important; }

.choose_title {
  color: #888;
  font-size: 14px;
  width: 118px;
  text-align: center; }

.choose span {
  float: left;
  margin: 0 2px;
  line-height: 20px !important; }

.choose > .lis_clicked span {
  line-height: 20px !important; }

.choose {
  padding: 9px 0 9px 0;
  border-bottom: 1px solid #e4e4e4 !important; }
  .choose a {
    float: left;
    color: #333;
    margin: 0 5px;
    line-height: 22px !important; }
  .choose span {
    float: left;
    margin: 0 2px;
    line-height: 20px !important; }

.lis_cancel {
  margin: 5px 2px 4px 4px !important;
  width: 9px;
  height: 9px;
  background: url("../../Images/sprite_xgt_zhengzhuang2.png"); }

.lis_clicked {
  float: left;
  padding: 0 2px;
  margin: 20px 2px 0;
  border: 1px solid #e4e4e4;
  -moz-transition: 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }

.choose .lis_clicked:hover {
  border: 1px solid #093;
  color: #333; }

.lis_clicked:hover .lis_cancel {
  background: url("../../Images/sprite_xgt_zhengzhuang3.png"); }

/*列表*/
.list {
  position: relative;
  width: 1300px;
  border: 1px solid #e4e4e4;
  border-bottom: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.m_list {
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  border-bottom: 1px solid #e4e4e4;
  z-index: 1; }

.lis_title {
  width: 118px;
  font-size: 15px;
  text-align: center;
  color: #888888;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.lis_choice .total {
  width: 75px;
  text-align: center; }

.lis_choice {
  width: 1050px;
  color: #333; }

.lis_choice li {
  float: left;
  width: 75px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.lis_choice li:hover {
  color: #ff6600; }

.lis_arrow {
  float: right;
  width: 80px;
  cursor: pointer; }
  .lis_arrow span {
    float: right; }

.lis_arrow_color {
  color: #093; }

.lis_arrow_border {
  margin: 11px 14px;
  border: 1px solid #e4e4e4; }

.lis_arrow_com {
  display: block;
  margin: 4px 3px;
  width: 12px;
  height: 8px; }

.lis_arrow_img1 {
  background: url("../../_pass_decoration/Images/sprite_xgt_zhengzhuang5.png"); }

.lis_arrow_img2 {
  background: url("../../_pass_decoration/Images/sprite_xgt_zhengzhuang7.png"); }

.shouqi {
  position: relative;
  margin: -1px auto 0;
  width: 200px;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-top: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
  color: #666;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.shouqi_img_com {
  float: right;
  margin: 11px 60px 11px 10px;
  width: 12px;
  height: 8px; }

.shouqi_img {
  background: url("../../_pass_decoration/Images/sprite_xgt_zhengzhuang5.png"); }

.lis_long li {
  width: 95px; }

.lis_choice .chosen {
  color: #093; }
  .lis_choice .chosen:hover {
    color: #093; }

.ele:hover {
  -webkit-box-shadow: 0 10px 20px rgba(100, 100, 100, 0.1);
  box-shadow: 0 10px 20px rgba(100, 100, 100, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
       transform: translate3d(0, -2px, 0); }

.case_ele {
  position: relative;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  width: 310px;
  -moz-transition: 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }
  .case_ele > div {
    position: relative; }
  .case_ele img {
    display: block;
    width: 310px !important;
    height: 194px !important;
    z-index: 1; }

.case_img {
  height: 194px;
  overflow: hidden; }

.case_ele .arrow_com {
  display: none; }

.arrow_com {
  position: absolute;
  top: 72px;
  width: 20px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none; }
  .arrow_com span {
    display: block;
    margin: 17px 4px;
    width: 12px;
    height: 15px; }
  .arrow_com:after {
    z-index: -1;
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #000000;
    filter: alpha(opacity=50);
    /* IE */
    -moz-opacity: 0.5;
    /* 老版Mozilla */
    -khtml-opacity: 0.5;
    /* 老版Safari */
    opacity: 0.5;
    /* 支持opacity的浏览器*/ }

.arrow_prev {
  left: 0; }
  .arrow_prev span {
    background: url("../../foreman/Images/sprite_foreman_caselist1.png"); }

.arrow_next {
  right: 0; }
  .arrow_next span {
    background: url("../../foreman/Images/sprite_foreman_caselist2.png"); }

.slick-slider {
  margin-bottom: 0; }

.clear_right {
  margin-right: 0; }

.l_main {
  margin-bottom: 100px; }

.case_ele_content {
  padding: 0 10px;
  height: 60px;
  background: #f8f8f8; }

.case_title {
  font-size: 14px;
  color: #333;
  line-height: 30px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.case_detail {
  font-size: 12px;
  line-height: 20px;
  color: #666; }

.case_detail span:nth-child(2) {
  float: right; }
  .case_detail span:nth-child(2) > span {
    color: #f60; }
