@charset "UTF-8";
@import "../fh/reset";
@import "../fh/base";
@import "../fh/moudle/totop";
@import "../fh/commonclass";
@import "../fh/moudle/footer";
@import "../fh/moudle/page";
@import "../fh/moudle/routenav";
@import "../fh/moudle/module_top";
@import "../fh/moudle/module_nav";
@import "../fh/moudle/new_top/search";
$border1:1px solid #e4e4e4;
.no_marginR{
  margin-right: 0 !important;
}
.no_borderB{
  border-bottom: 0!important;
}

//路由
.routeInfo{
  margin: 0 auto;
  border: 0;
}
//main开始
.foreman_main{
  padding-bottom: 100px;
}
//右侧内容
.moudle_right{
  width: 1010px;
  overflow: hidden;
  h2{
    font-size: 18px;
    color: #093;
    padding-bottom: 17px;
    border-bottom: $border1;
  }
}