@charset "UTF-8";
@import "../lib/lib";




//公共类
.no_borderR{
  &:before{
    width: 0!important;
  }
}
input {
  outline: none;
}
//顶部
.module_top{
  width: 100%;
  height: 36px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  line-height: 36px;
  color: #666;
  font-family: SimSun, serif;
}
.goback_index {
  position: relative;
  padding-right:15px;
  padding-left: 38px;
  color: #666;
  &:before{
    position: absolute;
    width: 1px;
    height: 16px;
    top: 10px;
    right: 0;
    content: '';
    background: #e4e4e4;
  }
  //&:hover{
  //  color: #f60;
  //}
}
%top_logo_com{
  position: absolute;
  top:6px;
  left: 10px;
  display: block;
  width: 21px;
  height: 21px;
  @include border-radius(10px);
}
.home_logo{
  @extend %top_logo_com;
  background: url("../../Images/header/icon_home.png") #3f3f3f;
}
.top_left{
  float: left;
  li{
    float: left;
    position: relative;
  }
}
.top_more_ele{
  @extend .goback_index;
  padding-right: 30px;
  cursor: pointer;
}
.weixin_logo{
  @extend %top_logo_com;
  background: url("../../Images/header/icon_weixin.png") #3f3f3f;
}
.phone_logo{
  @extend %top_logo_com;
  @include border-radius(0);
  width: 17px;
  left: 13px;
  background: url("../../Images/header/icon_shouji.png") no-repeat;
}
.link_arrow{
  position: absolute;
  display: block;
  top:16px;
  right: 12px;
  height:5px;
  width: 10px;
  overflow: hidden;
  font: 400 18px/12px Consolas,arial;
  color: #6A6A6A;
  //-webkit-transform: rotate(180deg);
  //-moz-transform: rotate(180deg);
  //-ms-transform: rotate(180deg);
  //-o-transform: rotate(180deg);
  //transform: rotate(180deg);
  transition: transform .1s ease-in 0s;
  -webkit-transition: -webkit-transform .1s ease-in 0s;
  background: url(../../Images/header/sprite_link_arrow.png) no-repeat;
}
//top的hover事件
.top_more{
  &:hover{
    background: #FFFFFF;
    span{
      z-index: 222;
    }
    .top_more_ele{
      z-index: 222;
      &:before{
        width: 0;
      }
    }
    .link_arrow{
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .weixin_content{
      display: block;
    }
  }
}
//下拉内容
.content_com{
  display: none;
  position: absolute;
  top:0px;
  left: 0px;
  padding-top: 36px;
  background: #fff;
  -webkit-box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
  box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
  z-index: 123;
  img{
    display: block;
    width: 140px !important;
    height: 140px !important;
  }
  //span{
  //  display: block;
  //  line-height: 20px;
  //  color: #333;
  //  text-align: center;
  //  padding-bottom: 5px;
  //}
}
.top_right{
  float: right;
  li{
    position: relative;
    float: left;
    padding: 0 10px;
    &:before{
      position: absolute;
      width: 1px;
      height: 16px;
      top: 10px;
      right: 0;
      content: '';
      background: #e4e4e4;
    }
  }

}
.login{
  display: inline-block;
  margin-right: 10px;
}
.welcome{
  i{
    margin: 0 3px;
    color: #093;
  }
}
//顶部广告
.advertisement{
  height: 80px;
  min-width: 1300px;
  a{
    display: block;
    height: 80px;
  }
}
//头部
.l_head{
  padding: 20px 0;
  height: 80px;

}
.shop_logo{
  float: left;
  img{
    height: 80px;
  }
}
.head_right{
  float: right;
  >div{
    float: left;
  }
}
.search{
  float: left;
  margin-top: 22px;
  margin-left: 200px;
  margin-right: 70px;
  input{
    float: left;
    height: 31px;
    width: 400px;
    padding: 0 10px;
    font-size: 13px;
    color: #333;
    line-height: 31px;
  }
}
.search_button{
  position: relative;
  float: left;
  width: 51px;
  height: 35px;
  cursor: pointer;
  i{
    position: absolute;
    top: 2px;
    left: 10px;
    width: 31px;
    height: 31px;
    background: url("../../Images/header/sprite_search.png");
  }
}
//购物车
.top_cart{
  position: relative;
  float: left;
  margin-top: 22px;
  width: 160px;
  height: 35px;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 35px;
  >span{
    display: block;
    padding:0 35px;
    text-align: center;
    cursor: pointer;
    i{
      color: #f60;
      font-size: 15px;
      margin: 0 3px;
    }
  }
  &:hover{
    .cart_detail{
      display: block;
    }
    .cart_arrow{
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}
.top_cart_logo{
  position: absolute;
  top: 8px;
  left: 7px;
  width: 21px;
  height: 19px;
  background: url("../../Images/header/sprite_cart.png");
}
.cart_arrow{
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  @include transition(0.1s);
  background: url("../../Images/header/sprite_upArrow.png");
}
.cart_detail{
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 222;
  color: #666;
  padding-bottom: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
  box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
  h4{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    text-indent: 10px;
    background: #F8F8F8;
  }
}
.cart_list{
  max-height: 284px;
  overflow-y: scroll;
  overflow-x: hidden;
  li{
    width: 300px;
    padding: 10px;
    border-bottom: 1px dashed #e4e4e4;
  }
  img{
    width: 50px!important;
    height: 50px!important;
  }
}
.pro_detail{
  position: relative;
  width: 130px;
  height: 40px;
  padding: 8px 0 0 10px;
  overflow: hidden;
  @include ell(2);
  font-size: 12px;
  line-height: 20px;
}
.pro_price{
  padding-top: 8px;
  text-align: right;
  >p{
    line-height: 20px;
    font-size: 12px;
    color: #ff0000;
  }
}
.pro_del{
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}
.total_price{
  padding: 10px 10px 10px 0;
  text-align: right;
  font-size: 13px;
  span{
    color: #ff0000;
    font-size: 14px;
  }
}
.cart_jiesuan{
  span{
    float: right;
    padding: 0 20px;
    margin-right: 10px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
  }
}
//导航
.l_nav{
  ul{
    overflow: hidden;
  }
  li{
    float: left;
    font-size: 16px;
    line-height: 40px;
    width: 144px;
    height: 40px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @include transition(0.2s);
    a{
      display: block;
      padding: 0 40px;
      width: 64px;
      color: #FFFFFF;
    }
  }
}
