@charset "utf-8";
/*模块头部*/
//.mall_module_header{
//  margin-top:40px;
//  margin-bottom: 20px;
//}
//.mall_module_header h3{
//  font-size: 30px;
//  color: #000;
//}

/*模块底部*/
.mall_module_list li{
  float: left;
  width: 202px;
  height: 288px;
  padding:20px 20px 40px;
  border: 1px solid #f8f8f8;
  margin-right: 20px;
  background-color: #f8f8f8;
  text-align: center;
  font-size: 14px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.mall_module_list li:hover{
  -webkit-box-shadow: 0 10px 20px rgba(100, 100, 100, 0.1);
  box-shadow: 0 10px 20px rgba(100, 100, 100, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0)
}
.mall_module_list .mall_list_img{
  width: 205px;
  height: 128px;
  overflow: hidden;
  margin: 0 auto;
}
.mall_list_img a,.mall_list_img img{
  display: block;
  width: 100%;
  height: 100%;
}
.mall_module_list h4{
  height: 20px;
  margin: 23px 0;
  overflow: hidden;
}
.mall_module_list h4 a{
  color: #333;
}
.mall_module_list p{
  height: 40px;
  margin-bottom: 23px;
  line-height: 20px;
  overflow: hidden;
}
.mall_module_list p a{
  color: #888;
}
.mall_module_list em{
  font-size: 18px;
  color: #f60;
}
.mall_module_list em i{
  font-size: 14px;
}
.mall_module_list a:hover{
  color: #f60;
}
.pro_add_btn{
  display: block;
  margin:10px auto 0;
  width: 100px;
  height:30px;
  line-height: 30px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #888;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  &:hover{
    background-color: #eee;
  }
}
.oldprice{
  font-size: 12px;
  color: #666;
  text-decoration: line-through;
  margin-left: 4px;
}

//<!--特卖推荐 begin-->
//<div class="mall_sale conWidth">
//<div class="mall_module_header">
//<h3>特卖推荐</h3>
//</div>
//<ul class="mall_module_list clearfix">
//<li>
//<div class="mall_list_img">
//<a href="">
//<img src="Images/test_mall_img1.png" alt=""/>
//</a>
//</div>
//<h4><a href="">凯撒豪庭</a></h4>
//
//<p><a href="">美式田园 至简臻品 上等白杨实木框架 1.8米天然樱桃木床</a></p>
//<em><i>¥</i>3899.00</em><span class="oldprice">¥3899.00</span>
//</li>
//<li>
//<div class="mall_list_img">
//<a href="">
//<img src="Images/test_zxxgt_focusimg1.png" alt=""/>
//</a>
//</div>
//<h4><a href="">凯撒豪庭</a></h4>
//
//<p><a href="">美式田园 至简臻品 上等白杨实木框架 1.8米天然樱桃木床</a></p>
//<em><i>¥</i>3899.00</em><span class="oldprice">¥3899.00</span>
//</li>
//<li>
//<div class="mall_list_img">
//<a href="">
//<img src="Images/test_zxgl_img1.png" alt=""/>
//</a>
//</div>
//<h4><a href="">凯撒豪庭</a></h4>
//
//<p><a href="">美式田园 至简臻品 上等白杨实木框架 1.8米天然樱桃木床</a></p>
//<em><i>¥</i>3899.00</em>
//</li>
//<li>
//<div class="mall_list_img">
//<a href="">
//<img src="Images/test_kbb_zxgs_img2.png" alt=""/>
//</a>
//</div>
//<h4><a href="">凯撒豪庭</a></h4>
//
//<p><a href="">美式田园 至简臻品 上等白杨实木框架 1.8米天然樱桃木床</a></p>
//<em><i>¥</i>3899.00</em>
//</li>
//<li class="no_marginR">
//<div class="mall_list_img">
//<a href="">
//<img src="Images/test_mall_today_img1.png" alt=""/>
//</a>
//</div>
//<h4><a href="">凯撒豪庭</a></h4>
//
//<p><a href="">美式田园 至简臻品 上等白杨实木框架 1.8米天然樱桃木床</a></p>
//<em><i>¥</i>3899.00</em>
//</li>
//</ul>
//</div>
//<!--特卖推荐 end-->
