body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, optgroup, p, blockquote, figure, hr, menu, dir, thead, tbody, tfoot, th, td {
  margin: 0;
  padding: 0; }

a, abbr, acronym, div, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  font-size: 62.5%; }

body {
  background-color: #fff;
  font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
  color: #333;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  overflow-x: hidden; }

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

img {
  border: 0; }

i, b {
  font-style: normal; }

ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, input, button, textarea, p, table, th, td {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input {
  outline: none; }

input, select, button, textarea {
  font: 12px/1.5 heiqi, tahoma, arial, \5b8b\4f53; }

input, select, textarea {
  font-size: 100%; }

.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

html, body, .swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.first_page {
  position: relative;
  background: url("../img/first_page_bg.jpg") no-repeat;
  background-size: 100% 100%; }
  .first_page .header {
    margin-top: 30px;
    text-align: center; }
    .first_page .header img {
      width: 80%; }
    .first_page .header p {
      font-size: 1.6rem;
      color: #fff; }
  .first_page .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center; }
    .first_page .footer a {
      display: block;
      width: 20px;
      margin: -10px auto 0; }
    .first_page .footer span:first-child {
      margin-bottom: -7px; }
    .first_page .footer .scroll_btn {
      display: block;
      width: 14px;
      height: 14px;
      opacity: 0.6;
      box-sizing: border-box;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: scrollDown 1.5s infinite;
      -moz-animation: scrollDown 1.5s infinite;
      -ms-animation: scrollDown 1.5s infinite;
      -o-animation: scrollDown 1.5s infinite;
      animation: scrollDown 1.5s infinite; }
@keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    -moz-transform: rotate(-45deg) translate(0, 0);
    -ms-transform: rotate(-45deg) translate(0, 0);
    -o-transform: rotate(-45deg) translate(0, 0);
    -transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    -moz-transform: rotate(-45deg) translate(-10px, 10px);
    -ms-transform: rotate(-45deg) translate(-10px, 10px);
    -o-transform: rotate(-45deg) translate(-10px, 10px);
    -transform: rotate(-45deg) translate(-10px, 10px);
    opacity: 0; } }
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    -moz-transform: rotate(-45deg) translate(0, 0);
    -ms-transform: rotate(-45deg) translate(0, 0);
    -o-transform: rotate(-45deg) translate(0, 0);
    -transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    -moz-transform: rotate(-45deg) translate(-10px, 10px);
    -ms-transform: rotate(-45deg) translate(-10px, 10px);
    -o-transform: rotate(-45deg) translate(-10px, 10px);
    -transform: rotate(-45deg) translate(-10px, 10px);
    opacity: 0; } }
.second_page {
  position: relative; }
  .second_page .header {
    text-align: center; }
    .second_page .header img.date {
      margin-top: 20px;
      width: 23%; }
  .second_page .header_title {
    background-color: #d5d5d5; }
  .second_page .body {
    position: relative;
    width: 90%;
    height: 58%;
    margin: 20px auto 0;
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: #0e0c15;
    text-align: left; }
    @media screen and (max-height: 480px) {
      .second_page .body {
        height: 55%; } }
    @media screen and (min-height: 481px) and (max-height: 568px) {
      .second_page .body {
        height: 64%; } }
    @media screen and (min-height: 569px) {
      .second_page .body {
        height: 70%; } }
    .second_page .body .body_inner {
      height: 80%;
      line-height: 2rem;
      padding: 0 10px;
      overflow-y: scroll; }
    .second_page .body p {
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 1.2rem;
      color: #e2388e; }
  .second_page .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    background: url("../img/tobaoming.png") no-repeat;
    background-size: 100% 100%; }
    .second_page .footer a {
      display: inline-block;
      width: 10rem;
      height: 5rem;
      margin-top: 14%; }

.third_page {
  background: url("../img/third_bg.jpg") no-repeat;
  background-size: 100% 100%;
  overflow: hidden; }
  .third_page .header {
    height: 16%;
    text-align: center; }
    .third_page .header img.third_header {
      margin-top: 20px;
      width: 70%; }
  .third_page .body {
    width: 90%;
    margin: 40px auto 0; }
    .third_page .body .form_list {
      width: 100%;
      margin: 0 auto 1.2rem; }
      @media screen and (max-height: 480px) {
        .third_page .body .form_list {
          margin: 0 auto 0.6rem; } }
      .third_page .body .form_list p {
        font-size: 1.6rem;
        color: #fff;
        text-align: left;
        text-indent: 3px; }
      .third_page .body .form_list input[type=text] {
        width: 100%;
        height: 40px;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.6);
        border: 0;
        box-sizing: border-box;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 1.6rem;
        color: #333; }
        .third_page .body .form_list input[type=text]:focus {
          background-color: white; }
      .third_page .body .form_list .submit {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #e2388e;
        border: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 1.6rem;
        color: #fff;
        text-align: center; }
    @media screen and (max-height: 480px) {
      .third_page .body {
        margin: 40px auto 0; } }
    @media screen and (min-height: 667px) and (max-height: 735px) {
      .third_page .body {
        margin: 80px auto 0; } }
    @media screen and (min-height: 736px) {
      .third_page .body {
        margin: 100px auto 0; } }
  .third_page .footer {
    position: absolute;
    bottom: 10px;
    left: 4%;
    width: 92%;
    text-align: center;
    font-size: 1.2rem;
    color: #E4E4E4; }

.fourth_page {
  background: url("../img/fourth_bg.jpg") no-repeat;
  background-size: 100% 100%; }
  .fourth_page .body {
    position: absolute;
    left: 5%;
    top: 48%;
    width: 90%;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #fff;
    letter-spacing: 1px;
    text-align: justify; }
    @media screen and (max-height: 480px) {
      .fourth_page .body {
        top: 45%; } }
    @media screen and (min-height: 481px) and (max-height: 568px) {
      .fourth_page .body {
        height: 50%; } }
    .fourth_page .body p {
      margin-bottom: 15px; }

.fifth_page {
  background: url("../img/fifth_bg.png") no-repeat;
  background-size: 100% 100%; }

.header_title {
  position: relative;
  width: 60%;
  height: 1px;
  margin: 10px auto 0;
  background-color: #d5d5d5; }
  .header_title img {
    display: block;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    background-color: #8f8fcd;
    font-size: 2rem;
    font-weight: 700;
    color: #fff; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInUp {
  -webkit-animation: fadeInUp 1.2s ease-in-out;
  -o-animation: fadeInUp 1.2s ease-in-out;
  animation: fadeInUp 1.2s ease-in-out; }

/*# sourceMappingURL=style.css.map */
