@charset "UTF-8";
@import "../../lib/lib";

body {
  background-color: #F8F8F8;
}

.header {
  height: auto;
  line-height: normal;
}

.header_logo {
  display: block;
  width: 400px;
  height: 70px;
  line-height: 70px;
  padding: 15px 20px;
  float: left;
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
  }
  span {
    margin-left: 30px;
    font-size: 24px;
    color: #333;
  }
}

.header ul {
  line-height: 100px;
  float: right;
  li {
    float: left;
    margin: 0 25px;
    a {
      font-size: 12px;
      color: #000;
    }
    .line {
      display: inline-block;
      width: 1px;
      height: 12px;
      background-color: #000;
      vertical-align: -1px;
      margin: 0 10px;
    }
  }
}

//内容
.content {

}

.form_wrap {
  width: 500px;
  margin: 80px auto 0;
  background-color: #fff;
}

.form_title {
  font-size: 0;
  margin-bottom: 20px;
  a {
    display: inline-block;
    width: 250px;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid #E4E4E4;
  }
  .active {
    border-bottom: 2px solid transparent;
  }
}

.form_list, .form_submit {
  position: relative;
  width: 350px;
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  input {
    width: 350px;
    height: 40px;
    padding: 5px 10px;
    border: 0;
    @include box-sizing();
  }
  input[type=text], input[type=password] {
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
  }
  input[type=submit] {
    font-size: 18px;
  }
  i {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 16px;
    color: #ccc;
  }
}

.form_operate, .form_agree {
  position: relative;
  width: 350px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 0;
  span {
    font-size: 12px;
    color: #333;
    cursor: pointer;

  }
  em {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #f8f8f8;
    border: 1px solid #e4e4e4;
    vertical-align: -3px;
    margin-right: 10px;
    cursor: pointer;
    i {
      position: absolute;
      top:0;
      left: 0;
      display: inline-block;
      width: 12px;
      height: 12px;
      font-size: 12px;
      color: #333;
      vertical-align: 3px;
    }
  }
  a {
    font-size: 12px;
    color: #333;
  }
}

.form_submit {
  padding: 0 0 50px 0;
 input{
   cursor: pointer;
 }
}

//图片验证码
.form_img_yzm {
  input {
    float: left;
    width: 200px;
  }
  a {
    float: right;
    img {
      width: 140px;
      height: 40px;
    }
  }
}

.form_msg_yzm {
  input[type=text] {
    float: left;
    width: 200px;
  }
  input[type=button] {
    float: right;
    width: 140px;
    background-color: #f8f8f8;
    font-size: 12px;
    color: #333;
    cursor: pointer;
  }
}

.form_agree {

}