@charset "UTF-8";
@import "../mobile_moudle/lib";
@import "../mobile_moudle/moudle/jiazhuang_top";

//分类
.l_nav{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
  background: #FFFFFF;
  ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
  }
  li{
    float: left;
    display: block;
    text-align: center;
    width: 1/6*100%;
    overflow: hidden;
    height: 40px;    
    font-size: 12px;
    line-height: 39px;
    @include ell(1);
    span{
      display: block;
      margin: 0 10%;
      color: #000;
      border-bottom: 1px solid #FFFFFF;
      @include box-sizing();
    }
  }   
}
.l_nav .nav_current span{
  border-bottom: 2px solid #093;
}
//banner
.m_container{
  position: relative;
  overflow: hidden;
}
.banner{
  position: relative;
  width: 100%;
  margin:0 0 15px ;
}
.swiper-slide img{
  width: 100%!important;
  text-align: center;
}
.swiper-pagination-bullet-active{
  background: #093;
}
//.banner_dots{
//  position: absolute;
//  bottom: 10px;
//  left: 0;
//  width: 100%;
//  text-align: center;
//  z-index: 99;
//  span{
//    display: inline-block;
//    width: 8px;
//    height: 8px;
//    margin: 0 5px;
//    @include border-radius(4px);
//    background: rgba(0, 0, 0, 0.2);
//  }
//}
//.banner_dots .banner_current{
//  background: rgba(0,153,51,1);
//}
//商品详情

.pro{
  margin: 10px 5px 0;
  padding: 8px;
  background: #FFFFFF;
  img{
    width: 100% !important;
  }
  h3{
    font-size: 12px;
    color: #000;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    @include ell();
  }
  span{
    float: left;
    font-size: 10px;
    position: relative;
    padding: 0 10px ;
  &:before{
    position: absolute;
    top: 10%;
    right: 0;
    width: 100%;
    height: 80%;
    content: '';
    color: #888888;
    border-right: 1px solid #888888;
  }
  }
}
.no_paddingL{
  padding-left: 0 !important;
}
.no_borderR{
  &:before{
    border-right: 0!important;
  }
}