@charset "UTF-8";
@import "../../lib/lib";

@import "../../module/site";
@import "../../module/pagelist";

@import "../../module/pro_card";

body{
  background: #F8F8F8;
}   
.list{
  background: #FFFFFF;
}
.m_list{
  padding:12px 0 0;
  margin:0 20px;
  font-size: 14px;
  line-height: 25px;
  border-bottom:1px dashed #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list_intro{
  width: 85px;
  height: 25px;
  @include ell(1);
}
.list_choice{
  width: 1015px;
  span{
    float: left;
    padding:0 20px;
    margin:0 5px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.m_list_price{
  .list_choice{
    width:auto;
    max-width: 800px;
  }
  .list_price{
    margin-left: 20px;
    input{
      float: left;
      width: 60px;
      height: 25px;
      text-align: center;
      border:1px solid #e4e4e4;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    span{
      float: left;
    }
  }
}
.list_price_btn{
  margin-left: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pro_list{
  margin-top: 25px;
}
.pro_card{6
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 285px;
  height: 370px;
  background: #FFFFFF;
  img{
    display: block;
    width: 285px!important;
    height: 285px!important;
  }
}
.pro_card_intro{
  margin-top:15px;
}