@charset "UTF-8";
html {
  width: 100%;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

body {
  min-width: 1200px;
  height: 100%;
  margin: 0;
  background-color: #f8f8f8;
  -webkit-overflow-scrolling: touch;
  font: 12px/1.5 "Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif; }

* {
  word-break: break-all; }

pre, html, body, div, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, input, button, textarea, p, span, table, th, td, form, img, div {
  margin: 0;
  padding: 0;
  word-break: break-all; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

.fontsong {
  font-size: 12px;
  font-family: "SimSun",serif; }

img, a, input, button {
  border: none;
  outline: none;
  background: none; }

a {
  text-decoration: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, b {
  font-weight: normal;
  cursor: hand; }

em, i, b {
  font-style: normal; }

ul, ol {
  list-style: none; }

.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/**
 * 文本对齐方式，左中右两端
 */
.fr {
  float: right; }

.fl {
  float: left; }

.tl {
  text-align: left !important; }

.tc {
  text-align: center !important; }

.tr {
  text-align: right !important; }

/**
 * 文本强制不换行
 */
.text_nowrap {
  white-space: nowrap;
  word-wrap: normal; }

/**
 * 文本强制换行
 */
.text_break {
  white-space: normal;
  word-wrap: break-word; }

/**
 * 文字溢出显示省略号
 * 1. Opera 9-10.6
 * 2. Chrome 21+ bug https://bugs.webkit.org/show_bug.cgi?id=121902
 */
.text_ellipsis {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  /* 1 */
  text-overflow: ellipsis;
  text-align: left;
  /* 2 */ }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hide {
  display: none; }

.conwidth {
  width: 1200px;
  margin: 0 auto; }

.no_before:before {
  display: none !important; }

.no_after:after {
  display: none !important; }

.no_mt {
  margin-top: 0 !important; }

.no_mr {
  margin-right: 0 !important; }

.no_mb {
  margin-bottom: 0 !important; }

.no_ml {
  margin-left: 0 !important; }

.no_bt {
  border-top: 0 !important; }

.no_br {
  border-right: 0 !important; }

.no_bb {
  border-bottom: 0 !important; }

.no_bl {
  border-left: 0 !important; }

@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.eot");
  /* IE9*/
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  font-family: "iconfont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-fangdajing:before {
  content: "\e60c"; }

.icon-xingxing:before {
  content: "\e609"; }

.icon-youhuiquan:before {
  content: "\e60a"; }

.icon-duihao:before {
  content: "\e60b"; }

.icon-tanhao:before {
  content: "\e613"; }

.icon-bangzhuzhongxin:before {
  content: "\e611"; }

.icon-gouwuche:before {
  content: "\e600"; }

.icon-jinpaifuwu:before {
  content: "\e612"; }

.icon-jinkoushipin:before {
  content: "\e601"; }

.icon-kefu:before {
  content: "\e602"; }

.icon-liangyoufushi:before {
  content: "\e603"; }

.icon-quanweirongyu:before {
  content: "\e604"; }

.icon-wudingdan:before {
  content: "\e605"; }

.icon-wushoucang:before {
  content: "\e606"; }

.icon-wuxiaoxi:before {
  content: "\e607"; }

.icon-zhengpincaigou:before {
  content: "\e608"; }

.icon-fenxiang:before {
  content: "\e60f"; }

.icon-xiangshangjiantou:before {
  content: "\e610"; }

.icon-xiangxiajiantou:before {
  content: "\e60d"; }

.icon-guanbi:before {
  content: "\e60e"; }

/*c_gotop*/
#totop {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 1000; }

body {
  background-color: #f8f8f8;
  color: #666; }

.main {
  color: #093 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_hover:hover {
  color: #093 !important; }
.main_hover > a:hover {
  color: #093 !important; }

.mainbg_hover:hover {
  background-color: #093 !important;
  color: #FFFFFF !important; }

.mainbd_hover:hover {
  border-color: #093 !important; }

.main_focus:focus {
  border-color: #093 !important; }

.activebg_hover:hover {
  background: #00892c !important; }

.active_border {
  border-color: #00892c !important; }

a {
  color: #666; }

body {
  color: #666; }

.top {
  width: 100%;
  height: 36px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  line-height: 36px;
  color: #666;
  font-family: SimSun, serif; }

.top_left {
  float: left; }

.top_right {
  float: right; }
  .top_right li {
    position: relative;
    float: left;
    margin-top: 12px;
    padding: 0 10px;
    line-height: 12px;
    border-right: 1px solid #666666; }

.login {
  display: inline-block;
  margin-right: 10px; }

.header {
  background: #FFFFFF; }

.l_head {
  padding: 20px 0;
  height: 80px; }

.shop_logo {
  float: left; }
  .shop_logo img {
    height: 80px; }

.head_right {
  float: right; }
  .head_right > div {
    float: left; }

.search {
  float: left;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 70px; }
  .search input {
    float: left;
    height: 40px;
    width: 400px;
    padding: 9px 10px;
    font-size: 13px;
    color: #333;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.search_button {
  position: relative;
  float: left;
  width: 78px;
  height: 40px;
  cursor: pointer;
  text-align: center; }
  .search_button i {
    font-size: 25px;
    color: #FFFFFF;
    line-height: 40px; }

.top_cart {
  position: relative;
  float: left;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 40px;
  background: #e4e4e4;
  text-align: center;
  color: #333; }
  .top_cart > a > span {
    display: inline-block;
    text-align: center;
    cursor: pointer; }
  .top_cart > a > i {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    vertical-align: -1px;
    margin-right: 5px; }
  .top_cart:hover .cart_detail {
    display: block; }

.top_cart .cart_detail {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 222;
  color: #666;
  padding-bottom: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
  box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3); }
  .top_cart .cart_detail h4 {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    text-indent: 10px;
    background: #F8F8F8; }

.top_cart .cart_list {
  max-height: 284px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .top_cart .cart_list li {
    width: 300px;
    padding: 10px;
    border-bottom: 1px dashed #e4e4e4; }
  .top_cart .cart_list img {
    width: 50px !important;
    height: 50px !important; }

.top_cart .pro_detail {
  position: relative;
  width: 130px;
  height: 40px;
  padding: 8px 0 0 10px;
  overflow: hidden;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  line-height: 20px; }

.top_cart .pro_price {
  padding-top: 8px;
  text-align: right; }
  .top_cart .pro_price > p {
    line-height: 20px;
    font-size: 12px; }

.top_cart .pro_del {
  font-size: 12px;
  line-height: 20px;
  cursor: pointer; }

.top_cart .total_price {
  padding: 8px 10px 8px 0;
  text-align: right;
  line-height: 30px;
  font-size: 13px; }
  .top_cart .total_price span {
    font-size: 14px; }

.top_cart .cart_jiesuan a {
  float: right;
  padding: 0 20px;
  margin-right: 10px;
  line-height: 30px;
  color: #FFFFFF;
  cursor: pointer; }

.l_nav .all_sort {
  position: relative;
  width: 200px;
  height: 35px;
  border-bottom: 2px solid transparent;
  z-index: 99; }
  .l_nav .all_sort:hover .sort_list {
    display: block; }
  .l_nav .all_sort > span {
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .l_nav .all_sort > span i {
      display: block;
      position: absolute;
      top: 16px;
      right: 25px;
      width: 0;
      height: 0;
      line-height: 0;
      font-size: 0;
      overflow: hidden;
      border-width: 6px;
      cursor: pointer;
      border-style: solid dashed dashed dashed;
      border-color: #fff transparent transparent transparent;
      border-bottom: none; }
.l_nav > ul {
  position: relative;
  width: 1000px;
  overflow: hidden; }
  .l_nav > ul li {
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 35px; }
    .l_nav > ul li a {
      display: block;
      color: #333;
      margin: 0 8px;
      padding: 0 25px;
      border-bottom: 2px solid transparent; }

.sort_list {
  display: none;
  position: absolute;
  top: 37px;
  left: 0;
  width: 200px;
  height: 500px;
  color: #666;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.sort_ele {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .sort_ele:hover .sort_detail {
    display: block; }
  .sort_ele .sort_container {
    padding: 10px 15px;
    border-bottom: 1px solid transparent; }
    .sort_ele .sort_container h4 {
      font-size: 16px;
      line-height: 34px; }
    .sort_ele .sort_container p {
      font-size: 14px;
      line-height: 25px; }
      .sort_ele .sort_container p a {
        color: #FFFFFF;
        margin-right: 10px; }

.sort_detail {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
  height: 500px;
  padding: 0 20px;
  width: 440px;
  overflow: hidden;
  z-index: 999;
  -moz-transition: 1s 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: 1s 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: 1s 0.2s ease;
  transition: 1s 0.2s ease; }
  .sort_detail:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #FFFFFF;
    filter: alpha(opacity=95);
    /* IE */
    -moz-opacity: 0.95;
    /* 老版Mozilla */
    -khtml-opacity: 0.95;
    /* 老版Safari */
    opacity: 0.95;
    /* 支持opacity的浏览器*/
    z-index: -1; }

.c_sort_detail {
  padding: 23px 0 22px;
  width: 440px;
  line-height: 34px;
  border-bottom: 1px dashed #e4e4e4; }
  .c_sort_detail > div {
    width: 390px; }
  .c_sort_detail a {
    position: relative;
    padding: 0 10px; }
    .c_sort_detail a:before {
      position: absolute;
      top: 10%;
      left: 0;
      content: '';
      width: 100%;
      height: 80%;
      border-right: 1px solid #aaa; }

.sort_intro {
  width: 50px;
  max-height: 79px;
  text-align: right;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.footer {
  margin-top: 150px;
  background: #FFFFFF;
  overflow: hidden; }

.footer_top {
  font-size: 16px;
  line-height: 129px;
  height: 129px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #e4e4e4; }
  .footer_top span {
    display: inline-block;
    margin-right: 75px; }
    .footer_top span i {
      float: left;
      font-size: 80px;
      line-height: 129px;
      margin-right: 5px; }
    .footer_top span em {
      float: left;
      display: inline-block;
      line-height: 129px; }

.footer_top .quanwei, .footer_top .bangzhu, .footer_top .jinpai {
  font-size: 60px; }

.footer_content {
  margin-top: 50px; }

.weixin_code {
  margin-left: 100px;
  margin-right: 25px;
  text-align: center; }
  .weixin_code img {
    display: block;
    width: 125px;
    height: 125px; }
  .weixin_code span {
    line-height: 30px; }

.footer_list {
  height: 155px;
  width: 120px;
  text-align: center;
  border-left: 1px dashed #e4e4e4;
  border-right: 1px dashed #e4e4e4; }
  .footer_list h3 {
    font-size: 16px;
    color: #333;
    line-height: 35px; }
  .footer_list li {
    font-size: 14px;
    line-height: 30px; }

.footer_consult {
  margin-left: 30px;
  width: 210px; }
  .footer_consult span {
    display: block;
    width: 150px;
    height: 40px;
    margin: 10px auto 20px;
    font-size: 18px;
    line-height: 40px;
    text-align: center; }
    .footer_consult span i {
      font-size: 24px;
      color: #FFFFFF;
      margin-right: 5px; }
  .footer_consult p {
    font-size: 16px;
    line-height: 30px;
    color: #333;
    width: 100%;
    height: 30px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }

.footer_bottom {
  margin: 40px auto 40px;
  line-height: 25px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
