@charset "UTF-8";
@import "../../lib/lib";
@import "../../module/cart_style";
@import "../../module/recommend";
/*购物车*/
.cart_wrap {
  margin-top: 42px;
}

.cart_box {
  padding: 0 25px;
  background-color: #fff;
  h1 {
    padding-top: 10px;
    padding-left: 25px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e4e4e4;
  }
}

.cart_title {
  margin: 35px 25px 0;
  padding: 0 25px;
  font-size: 14px;
  color: #333;
  background-color: #F8F8F8;
  .fl {
    height: 50px;
    line-height: 50px;
  }
}

.pro_check {
  width: 100px;
}

.pro_name {
  width: 310px;
}

.pro_num, .pro_price, .pro_total, .pro_operate {
  width: 160px;
  text-align: center;
}

.pro_check {
  span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    vertical-align: -3px;
    cursor: pointer;
    margin-right: 10px;
  }
}

//商品列表
.cart_list {
  margin: 0 50px;
  padding: 30px 0;
  border-bottom: 1px dashed #e4e4e4;
  .pro_check {
    height: 92px;
    line-height: 92px;
  }
  .pro_name {
    .describe {
      margin-left: 10px;
      padding-top: 30px;
      font-size: 14px;
      a {
        display: inline-block;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #333;
      }
    }
  }
  .pro_num {
    .num_box {
      width: 100px;
      color: #666;
      margin: 32px auto 0;
      border: 1px solid #e4e4e4;
      a {
        display: inline-block;
        width: 24px;
        height: 24px;
        line-height: 24px;
        background-color: #e4e4e4;
      }
      input {
        width: 50px;
        height: 24px;
        line-height: 24px;
        font-size: 18px;
        color: #333;
        text-align: center;
      }
    }
  }
  .pro_price,.pro_total{
    height: 92px;
    line-height: 92px;
    font-size: 18px;
    color: #666;
  }
  .pro_operate{
    p{
      margin-top: 26px;
    }
    a{
      display: block;
      color: #666;
    }
  }
}
//列表操作
.cart_empty{
  margin: 0 50px;
  padding: 30px 0;
}
.pro_delet{
    a{
      font-size: 14px;
      color: #333;
    }
  span{
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #333;
    margin: 0 10px;
    vertical-align: middle;
  }
}
//去结算
.cart_pay{
  margin-top:20px;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
  text-align: right;
  font-size: 14px;
  color: #333;
  padding-right: 120px;
  a{
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
  span{
    padding-right: 40px;
  }
}