@charset "UTF-8";
@import "../../lib/lib";

.l_main{
  margin-top: 50px;
  margin-bottom: 160px;
  background: #FFFFFF;
  padding:0 25px;
  >h3{
    font-size: 16px;
    height: 70px;
    line-height: 70px;
    color: #333;
    border-bottom:1px solid #e4e4e4;
  }
}
.m_content{
  margin-top: 30px;
  height: 350px;
}
.find_ele{
  position: relative;
  margin-bottom: 20px;
  .find_intro{
    float: left;
    width: 225px;
    text-align: right;
    font-size: 16px;
    line-height: 40px;
  }
  input{
    float: left;
    width: 300px;
    height: 40px;
    border:1px solid #e4e4e4;
    padding:4px 10px;
    line-height: 30px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.confirm{
  input{
    width: 125px;
  }
  img{
    float: left;
    margin-left: 15px;
    margin-top: 1px;
    width: 100px !important;
    height: 38px !important;
  }
  .flash_btn{
    float: left;
    line-height: 40px;
    margin-left: 20px;
    color: #666;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.phone_confirm{
  input{
    width: 170px;
  }
  .send_msg{
    float: left;
    margin-left: 15px;
    width: 115px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.submit_btn{
  margin-top: 10px;
  margin-left: 225px;
  width: 125px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: '\5fae\8f6f\96c5\9ed1';
  border:1px solid #e4e4e4;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.find_tip{
  position: absolute;
  top: 40px;
  left: 225px;
  font-size: 12px;
  line-height: 20px;
  i{
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    text-align: center;
    line-height: 16px;
  }
}
.find_success{
  i{
    display: block;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
  }
  p{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
  }
  a{
    display: block;
    margin: 20px auto 0;
    width: 125px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #666;
    border:1px solid #e4e4e4;
  }
}