@charset "UTF-8";

@import "pro_card";

.recommend {
  height: 438px;
  line-height: 50px;
  margin-top: 30px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  h4{
    padding-left: 15px;
  }
  .recommend_slick {
    height: 386px;
    padding: 0 15px;
    margin: 0 -5px;
  }
  .pro_card_ele{
    float: left;
    margin:0 5px 10px!important;
    a{
      display: block;
    }
  }
  .recommend_dots {
    position: absolute;
    top: -35px;
    right: 20px;
    li {
      float: left;
      width: 8px;
      height: 8px;
      background: #f1f1f1;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 7px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      button {
        display: none;
      }
    }
  }
}

.border_bottom {
  border-bottom: 1px solid #e4e4e4;
}
