@charset "UTF-8";
@import "../lib/lib";

@import "../module/usercenter/user_style";

.l_info{
  padding:0 3%;
  background: #ffffff;
}
.m_info{
  font-size: 1.4rem;
  line-height: 40px;
  border-bottom:1px solid #e4e4e4;
  .info_intro{
    float: left;
    width:35%;
    color: #666;
    text-align: right;
  }
  .user_detail{
    float: left;
    padding-left: 10px;
    width: 65%;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}