@charset "UTF-8";
@import "../lib/lib";

.l_process {
  position: relative;
  overflow: hidden;
  padding-top: 45px;

}

.case_title {
  h3 {
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    color: #333;
    border-bottom: 1px solid #e4e4e4;
  }
  p {
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #666;
  }
  div {
    margin: 20px 0 40px 0;
    padding: 20px 30px;
    line-height: 32px;
    font-size: 16px;
    color: #666;
    background-color: #fafafa;
  }
}

.process_inner {
  overflow: hidden;
  background: #fff;
  padding-bottom: 60px;
  table, th, td {
    border-collapse: collapse;
    border: 1px solid #ddd;
  }

  th {
    width: 400px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #999999;
    font-size: 24px;
    color: #fff;
  }

  td {
    width: 150px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    color: #333;
    i {
      font-size: 24px !important;
      color: #0a7fd4;
    }
    .icon-wrong {
      color: #999;
    }
  }
}

.last_state {
  padding: 20px 30px!important;
  line-height: 32px!important;
  text-align: left!important;
  font-size: 18px!important;
  color: #333!important;
}

//建站流程
.bulid_site {
  position: relative;
  overflow: hidden;
  background-color: #fafafa;
}

.site_step {
  margin-top: 40px;
}

.process_box {
  //margin-right: -30px;
  margin-top: 10px;

}

.process_ele {
  position: relative;
  overflow: hidden;
  float: left;
  width: 380px;
  height: 600px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  .process_logo {
    display: block;
    margin: 50px 0;
    text-align: center;
    font-size: 140px;
    color: $main;

  }
  h3 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: #333;
  }
  p {
    margin: 0 30px 0;
    font-size: 18px;
    line-height: 30px;
    color: #333;
  }
}

.process_serve {
  p {
    i {
      display: inline-block;
      width: 6px;
      height: 6px;
      vertical-align: 2px;
      margin-right: 7px;
      background: $main;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

//客户服务
.service {
  .case_title {
    h4 {
      line-height: 50px;
      font-size: 24px;
      color: #666;
      padding-bottom: 10px;
    }
  }
  table, th, td {
    border-collapse: collapse;
    border: 1px solid #ddd;
  }

  th {
    width: 150px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #999999;
    font-size: 24px;
    color: #fff;
  }
  .width300 {
    width: 300px;
  }

  td {
    width: 150px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    color: #333;
    i {
      font-size: 24px !important;
      color: #0a7fd4;
    }
    .icon-wrong {
      color: #999;
    }
  }
}