.fr {
  float: right;
  *display: inline; }

.fl {
  float: left;
  *display: inline; }

.cart_empty_box {
  padding-top: 33px;
  padding-bottom: 20px;
  background-color: #fff; }
  .cart_empty_box .cart_empty_pic {
    height: 110px;
    background: url(../../../Images/icon/cart_empty_icon.png?_nosprite) center center no-repeat !important;
    -o-background-size: 93px 77px !important;
       background-size: 93px 77px !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
  .cart_empty_box .cart_empty_text {
    text-align: center;
    font-size: 14px;
    color: #999;
    line-height: 18px;
    min-height: 50px; }
