@charset "UTF-8";
@import "../../lib/mixin";

.buy_list {
  margin-top: 10px;
  padding: 3%;
  padding-right: 45px;
  position: relative;
  background-color: #fff;
  font-size: 14px;
  color: #333;
}

.arrow_right {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 0;
  color: #888;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  i {
    font-size: 20px;
  }
}

//用户名称
.user_info {
  line-height: 1.3;
  .user_name {
    width: 46%;
    margin-right: 10px;
  }
  .user_phone {
    width: 46%;
  }
  i.maincolor {
    margin-right: 5px;
  }
  .user_address {
    padding-top: 10px;
    padding-left: 20px;
    text-indent: -20px;
    @include strictEll(1.3, 2);
  }
}

.money {
  background-color: #fff;
  line-height: 1.2;
  font-size: 14px;
  padding-left: 3%;
  padding-bottom: 3%;
  color: #333;
}

//付款方式
.pay_way {
  margin-top: 10px;
  background-color: #fff;
  ul {
    li {
      height: 58px;
      line-height: 58px;
      padding: 10px 10px;
      border-bottom: 1px solid #e4e4e4;
      position: relative;
      a {
        display: inline-block;
        width: 100%;
      }
      .pay_logo {
        width: 58px;
        height: 58px;
        display: inline-block;
        float: left;
        img{
          display: block;
          width: 58px;
          height: 58px;
        }
      }
      .pay_name {
        float: left;
        display: inline-block;
        margin-left: 10px;
        h3 {
          font-size: 14px;
          height: 30px;
          line-height: 30px;
          color: #333;
        }
        p {
          font-size: 12px;
          height: 28px;
          line-height: 28px;
          color: #888;
        }
      }
    }
  }
}



