@charset "UTF-8";

//公司介绍头部
.module_title{
  margin:10px 0;
  padding-left: 20px;
  font-size: 1.6rem;
  text-align: left;
  color: #333;
  background: #ffffff;
  i{
    font-size: 1.6rem;
    color: #666;
  }
  span{
    display: inline-block;
    line-height: 40px;
    margin:0 13px;
  }
}