@charset "UTF-8";
@import "../../lib/lib";
@import "../../module/_login_register";

.container {
  > div {
    > input {
      padding-left: 10px;
    }
    >i{
      position: absolute;
      top:0;
      left: 10px;
      font-size: 20px;
      line-height: 50px;
      color: #333;
    }
  }
}
.identify{
  input{
    float: left;
    width: 180px;
  }
  img{
    float: left;
    width: 110px;
    height: 45px;
    margin: 0 10px;
  }
  span{
    float: left;
    font-size: 13px;
    color: #666;
    line-height: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.msg{
  input{
    width: 180px;
  }
  .get_msg{
    width: 155px;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    padding: 0;
  }
}
.container  .submit{
  >input{
    padding:0;
  }
}
.default_login{
  position: relative;
  padding-left: 30px;
  input{
    display: none;
  }
  a{
    position: absolute;
    right:0;
  }
}
.submit{
  margin-bottom: 30px;
}

//设置新密码
.new_password{
  padding-top: 50px;
  .message_ele input{
    height: 45px;
  }
  .submit input{
    height: 45px;
    line-height: 45px;
  }
}
.message_ele input{
  height: 45px;
  line-height: 45px;

}