@charset "UTF-8";
@import "../../lib/lib";
/*找回密码*/
.content {
  margin-top: 40px;
  padding: 10px 25px 240px;
  background-color: #fff;
  h1 {
    height: 50px;
    line-height: 50px;
    padding-left: 40px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e4e4e4;
    text-align: left;
  }
}

/*步骤提示*/
.step_wrap {
  width: 560px;
  padding-left: 180px;
  margin: 95px auto 0;
  li {
    width: 100px;
    height: 1px;
    float: left;
    position: relative;
    border-bottom: 1px dashed #e4e4e4;
    margin-right: 40px;
    .step {
      width: 26px;
      height: 26px;
      position: absolute;
      top: -13px;
      left: -35px;
      line-height: 26px;
      background-color: #e4e4e4;
      text-align: center;
      border-radius: 13px;
      font-size: 14px;
      color: #fff;
    }
    p {
      margin: 35px 0 0 -55px;
      font-size: 14px;
      color: #333;
    }
  }
  .last_setp {
    border-bottom: 0;
  }
}

/*步骤操作 第一步*/
.step_operate {
  width: 450px;
  margin: 130px auto 0;
  input {
    width: 450px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;
    @include box-sizing();
    font-size: 14px;
    color: #333;
  }
}

.yzm_wrap {
  input {
    float: left;
    width: 240px;
    margin-bottom: 0;
  }
  a {
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    float: right;
    img {
      width: 120px;
      height: 40px;
      vertical-align: middle;
    }
  }
}
.error_tips{
  visibility: hidden;
  height: 40px;
  line-height: 40px;
}
.step_operate .next_step {
  padding-left: 0;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  color: #fff;
}

/*第二步*/
.step_two {
  p {
    height: 40px;
    line-height: 40px;
    font-size: 14px;

  }
  .step_two_tips {
    text-align: left;
    font-size: 14px;
    color: #333;
  }
  .get_yzm {
    input {
      height: 40px;
      line-height: 40px;
      border: 1px solid #e4e4e4;
      padding-left: 10px;
      font-size: 14px;
      -moz-transition: border 0.2s ease;
      -webkit-transition: border 0.2s ease;
      -o-transition: border 0.2s ease;
      transition: border 0.2s ease;
      margin-bottom: 0;
    }
    .yzm_dx{
      width: 280px;
    }
    .yzm_btn{
      width: 150px;
      background-color: #e4e4e4;
      border: 0;
      color: #333;
    }
  }
}

//第三步
.step_three{
width: 550px;
  .error_tips{
    padding-left: 80px;
    margin-top: -20px;
  }
  input{
    width: 415px;
  }
}
.step_three_list{
  em{
    display: inline-block;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    float: left;
    font-size: 14px;
    color: #333;
  }
}

//第四步
.four_icon{
  text-align: center;
  i{
    font-size: 110px;
  }
}
.step_four .four_tips{
  font-size: 14px;
  color: #333;
  text-align: center;
  padding: 30px 0 20px 0;
}
.step_four .four_go{
  text-align: center;
  a{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}