@charset "UTF-8";
@import "../../mobile_moudle/lib";
.module_way{
  padding:0 5%;
  margin:10px 0;
  background-color: #fff;
  p{
    padding:5px 0;
    font-size: 14px;
    @include staticEll(1.4,1);
    color: #093;
    em{
      float: left;
      text-align: right;
    }
    a{
      float: left;
      padding-left:5px;
      color: #666;
      width:80%;
      font-size: 14px;
      //line-height: 20px;
      //height: 20px;
      @include staticEll(1.4,1);
      overflow: hidden;
    }
  }
}

//<!--上下篇-->
//<div class="module_way">
//<p class="prev"><em>上一篇:</em><a href="">木有了</a></p>
//<p class="next"><em>下一篇:</em><a href="">正在更新中</a></p>
//</div>