@charset "UTF-8";
.l_top {
  width: 100%;
  position: fixed;
  top:0;
  //left:0;
  //right: 0;
  z-index: 2;
  height:45px;
  box-sizing: border-box;
  background: #093;
}
.top_container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.icon_logo{
  float: left;
  width: 35px;
  height: 35px;
  margin:6px 0 0 15px;
  background: url(../../Images/mobile/moudle/sprite_icon_logo.png) no-repeat;
  background-size: 35px;
}
.c_search{
  //position: absolute;
  padding-left: 32px;
  height:32px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  margin: 0 60px 0 66px;
  top: 6px;
}
.c_search:before{
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width:16px;
  height: 17px;
  background: url(../../Images/mobile/moudle/sprite_icon_search.png) no-repeat;
}
.c_search input{
  padding: 0;
  width: 95%;
  height: 32px;
  font-size: 14px;
  border: none;
  background-color: rgba(255,255,255,0);
}
//搜索
.icon_search_link{
  position: absolute;
  right: 0;
  top: 0;
  //padding: 9px 21px 0;
}
.icon_search_btn{
  display: block;
  width: 23px;
  height: 22px;
  margin: 12px 10px 11px 0;
  background: url(../../Images/mobile/moudle/sprite_icon_list.png) no-repeat;
  background-size: 21px;
}
.m_topnav{
  float: right;
  width: 23px;
  height:22px;
  margin: -21px 18px 0 0;
  background:url(../../Images/mobile/moudle/sprite_icon_list.png) no-repeat;
  background-size: 21px;
  //position: absolute;
  //top: 0;
  //right: 6px;
}