@charset "UTF-8";
@import "../../style";
.m_content{
  margin-top: 40px;
  background: #FFFFFF;
}
.content_title{
  text-indent: 20px;
  line-height: 80px;
  border-bottom: 1px solid #e4e4e4;
  h2{
    font-size: 16px;
    color: $normalColor;
  }
}
.m_step{
  width: 634px;
  margin: 102px auto 155px ;
  >div{
    float: left;
    span{
      float: left;
    }
    span:nth-child(1){
      font-size: 24px;
      width: 144px;
      height: 144px;
      line-height: 144px;
      text-align: center;
      @include border-radius(72px);
      border: 2px solid #FFFFFF;
      color: #333;
    }
  }
}
.arrow_com{
  width: 55px;
  height: 38px;
  margin: 55px 20px 0;
}
.arrow_next{
  background: url("../../usercenter/Images/sprite_usercenter_findpassword2.png");
}
.m_step{
  .current{
    span:nth-child(1){
      color: $normalColor;;
      border-color: $normalColor;
    }
    .arrow_next{
      background: url("../../usercenter/Images/sprite_usercenter_findpassword1.png");
    }
  }
}