@charset "UTF-8";
@import "../../lib/lib";
@import "../../module/drop";
@import "../../module/cart_style";

.order_wrap {
  margin-top: 42px;
}

/*收货地址*/
.receive_address, .ticket, .order_info, .submit_order {
  padding: 10px 25px;
  background-color: #fff;
  h1 {
    height: 50px;
    line-height: 50px;
    padding-left: 40px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e4e4e4;
    text-align: left;
  }
  .check {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    vertical-align: -3px;
    cursor: pointer;
    margin-right: 10px;
  }
}

.address_box {
  padding: 0 70px;
  ul.address_list {
    padding: 25px 0;
    li {
      line-height: 40px;
      font-size: 14px;
      color: #666;
      .fr {
        a {
          padding-right: 30px;
          color: #666;
        }
      }
    }
  }
}

.address_new {
  font-size: 14px;
  color: #666;
  padding-bottom: 20px;
}

//编辑地址
.address_edit {
  padding-left: 100px;
  padding-top: 30px;
  label {
    float: left;
    width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-align: left;
  }

}

.edit_list {
  margin-bottom: 15px;
}

.edit_input {
  float: left;
  width: 600px;
  input {
    width: 590px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    padding-left: 10px;
    border: 1px solid #e4e4e4;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
  }
  /*错误提示信息*/
  p {
    font-size: 12px;
    line-height: 24px;
    padding-left: 12px;
    visibility: hidden;
  }
}

.drop_menu {
  width: 180px;
  margin-right: 20px;
  color: #666;
}

.address_mark {
  float: none;
}

.address_save {
  margin: 10px 0;
  input {
    width: 180px;
    text-align: center;
    border: 0;
    cursor: pointer;
  }
}

/*设置发票信息*/
.ticket {
  margin-top: 20px;
}

.ticket_box {
  padding: 42px 0 42px 110px;
  ul {
    li {
      float: left;
      font-size: 16px;
      color: #666;
    }
  }
}

.ticket_title {
  padding-left: 50px;
}

.ticket_personal, .ticket_unit {
  padding-left: 20px;
}

.ticket_unit_name {
  margin-left: 10px;
  input {
    width: 250px;
    height: 30px;
    border: 1px solid #e4e4e4;
    padding-left: 10px;
    font-size: 14px;
    color: #666;
  }
  p {
    padding: 10px 0 0 10px;
    font-size: 14px;
  }
}

//商品清单
.order_info {
  margin-top: 20px;
  h1 {
    a {
      float: right;
      font-size: 14px;
      color: #333;
    }
  }
}

.order_list {
  margin: 0 70px;
  padding: 0 0 40px 10px;
  border-bottom: 1px dashed #e4e4e4;
}

.item_title {
  padding: 25px 0;
  font-size: 16px;
  color: #333;
}

.pro_name {
  width: 520px;
}

.pro_unit,
.pro_price,
.pro_total {
  width: 160px;
  font-size: 16px;
  text-align: center;
}

.unit_box,
.price_box,
.total_box {
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #666;
}

.pro_img {
  width: 90px;
  height: 90px;
  img {
    width: 100%;
    height: 100%;
  }
}

.pro_describe {
  margin-left: 10px;
  padding-top: 30px;
  font-size: 14px;
  a {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
  }
}

//提交订单
.submit_order {
  margin-top: 20px;
}

.submit_box {
  padding: 0 70px;
  ul.submit_info {
    border-bottom: 1px dashed #e4e4e4;
    li {
      float: left;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #333;
      padding-left: 35px;
    }
  }
}

.use_ticket {
  padding: 30px 0 0 35px;
  position: relative;
}

.go_pay {
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: right;
  a {
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
  }
}

.coupon_info_box {
  width: 500px;
  position: absolute;
  top: 60px;
  left: 67px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
  .offbtn {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    line-height: 1;
    font-size: 24px;
    text-align: center;
    border-radius: 25px;
    -moz-transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    cursor: pointer;
    i {
      font-size: 14px;
      vertical-align: 3px;
    }
  }
}

.coupon_info_tab {
  overflow: hidden;
  _zoom: 1;
  li {
    float: left;
    width: 250px;
    height: 60px;
    line-height: 60px;
    margin-left: -2px;
    border-left: 1px solid #e4e4e4;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
  }
  .active {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e4e4e4;
  }

}

.tab_container {
  padding: 0 50px 50px;
  //优惠券列表
  .list_content {
    padding-top: 20px;
  }
  .coupon_lsit {
    max-height: 147px;
    overflow: auto;
    padding-right: 10px;
    > div {
      cursor: pointer;
      margin-bottom: 15px;
      *zoom: 1; /*IE/7/6*/
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
      span.price {
        display: inline-block;
        margin-top: 2px;
        width: 70px;
        height: 35px;
        line-height: 35px;
        text-align: center;
      }
      .coupon_text {
        width: 200px;
        margin: 0 10px;
        @include strictEll(1.4, 2);
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        p, span {
          @include ell(1);
        }
        span {
          color: #999;
        }
      }
      .coupon_btn {
        width: 70px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid transparent;
      }
    }
    > div.clicked {
      span.price {
        background-color: #e4e4e4 !important;
        color: #fff;
      }
      .coupon_btn {
        color: #ccc;
        border: 1px solid #e4e4e4;
      }
    }
  }
  //输入优惠券
  .code_content {
    height: 150px;
    overflow: hidden;
    _zoom: 1;
    text-align: center;
    .form_section {
      margin-top: 30px;
      margin-bottom: 20px;
      .input_text {
        width: 88%;
        line-height: 40px;
        height: 40px;
        font-size: 16px;
        padding-left: 20px;
        border: 1px solid #e4e4e4;
      }
    }
  }
  .coupon_action {
    text-align: center;
    a {
      width: 150px;
      height: 40px;
      line-height: 40px;
      float: left;
      margin-right: 32px;
    }
  }
}

.btn_gray {
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin-left: 15px;
  font-size: 15px;
  color: #333;
  border-color: #999;
  background-color: #e4e4e4;
  vertical-align: top;

}