@charset "UTF-8";
@import "../../lib/lib";
@import "../../module/recommend";
@import "../../module/site";
@import "../../module/_cart_head";
@import "../../module/address_ele";
@import "../../module/drop";

.title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 18px;
  color: #333;
}

//设置默认地址
.address{
  width: 1200px;
  overflow: hidden;
}
.address_defalut {
  margin-right: -12px;
  .addr_ele {
    margin-top: 20px;
  }
}

.address_new {
  padding: 20px 0;
  .btn {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
}

//修改新增收货地址
.address_fill {
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  display: none;

  .drop_menu {
    width: 100px;
    height: 30px;
    line-height: 30px;
  }
  .drop_list {
    li {
      &:hover {
        background-color: #e4e4e4;
      }
    }
  }
}

.address_fill form {
  padding: 0 20px;
  color: #666;
  .edit_list {
    margin-bottom: 15px;
    label {
      width: 100px;
      height: 30px;
      line-height: 30px;
      display: block;
      float: left;
      text-align: right;
      em {
        margin-right: 5px;
        color: #ca141c;
      }
    }
    input {
      float: left;
      padding: 4px 6px;
      width: 310px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #e4e4e4;
      background-color: #fff;
      outline: none;
      @include box-sizing();
    }

  }
  .set_default {
    padding-left: 100px;
    p {
      line-height: 30px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      span {
        float: left;
        margin-top: 8px;
        margin-right: 5px;
        width: 12px;
        height: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      i {
        display: none;
        margin: 3px;
        width: 6px;;
        height: 6px;
        background: #aaa;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
    .addr_checked {
      i {
        display: block;
      }
    }
  }
  .fixed_line {
    b {
      padding: 0 7px;
    }
  }
  .error_tips {
    line-height: 30px;
    padding-left: 20px;
    visibility: hidden;
  }
}

.submit_not {
  padding: 10px 0 0 100px;
  text-align: left;
  a {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
    margin-right: 20px;
    &:hover {
      opacity: 0.8;
      filter: alpha(opacify=80);
    }
  }
  .close {
    background-color: #888;
    color: #fff;
  }
}

//送货时间
.order .choose {
  padding-bottom: 20px;
  .item {
    width: 170px;
    display: inline-block;
    font-size: 12px;
    color: #666;
    padding: 20px 0;
    text-align: left;
    input {
      vertical-align: middle;
    }
    label {
      font-size: 14px;
      padding-left: 10px;
    }
  }
}

//发票信息
.set_note .note, .dis_ticket .note {
  /* width: 335px;*/
  margin-top: 15px;
  position: relative;
  label {
    font-size: 13px;
    color: #666;
    width: 80px;
    display: inline-block;
    text-align: right;
  }
  input {
    width: 240px;
    border: 1px solid #e4e4e4;
    padding: 3px 3px 3px 5px;
    height: 24px;
    line-height: 24px;
    color: #666;
  }

  .arrow {
    position: absolute;
    top: 2px;
    left: 280px;
    width: 50px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-left: 1px solid #e4e4e4;
    i {
      font-size: 12px;
      color: #777;
    }
  }
  .down {
    display: none;
    width: 248px;
    position: absolute;
    left: 83px;
    z-index: 888;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    background-color: #fff;
    p {
      color: #666;
      padding-left: 36px;
      height: 32px;
      line-height: 32px;
      cursor: pointer;
      border-bottom: 1px solid #e4e4e4;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        background-color: #fff4e5;
      }
      i {
        padding-right: 10px;
      }
    }
    .no_coupon {
      padding-left: 10px;
    }
  }
}

.fill_note {
  display: none;
}

//优惠券

.ticket_num {
  em {
    padding: 0 10px;
  }
  .fill_num {
    display: none;
  }
}

//商品
.cart_goods_list {
  font-size: 14px;
}

.cart_goods_list .list_head {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  > div {
    font-size: 16px;
    color: #333;
  }
}

.list_name {
  width: 360px;
  text-align: center;
  color: #333;
}

.list_sale,
.list_promotion,
.list_num,
.list_total,
.list_action {
  width: 200px;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.list_action a {
  color: #666;
}

//购物车商品列表
.list_content .list_items {
  padding: 15px 0 15px 20px;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #e4e4e4;
}

.list_name {
  .list_good_img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    _zoom: 1;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .list_good_text {
    width: 240px;
    padding-left: 10px;
    line-height: normal;
    .title {
      display: inline-block;
      width: 240px;
      font-size: 18px;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      font-size: 12px;
      color: #9b9b9b;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

//结算

.total_money {
  position: relative;
  margin: 20px 0 30px 0;
  .main_bg_before:before {
    opacity: 0.1;
    filter: opacity(10);
  }
  .delete {
    margin-top: 10px;
    margin-left: 18px;
    display: inline-block;
    i {
      padding-right: 10px;
      display: inline-block;

    }
  }
}

.account_list {
  padding-bottom: 50px;
  .list {
    line-height: 40px;
    color: #888;
    font-size: 16px;
    margin-right: 40px;
    label {
      width: 250px;
      text-align: right;
      display: inline-block;
    }
    .total {
      font-size: 24px;
    }
    a {
      font-size: 16px;
      color: #fff;
      width: 130px;
      height: 35px;
      line-height: 35px;
      margin-top: 10px;
      display: inline-block;
      text-align: center;
      i {
        font-family: \5b8b\4f53;
        font-weight: 600;
      }
    }
  }
}

.address {
  margin-top: 50px;
}