body{
	
	width:100%;
	overflow:hidden;
	font-size: 10px;
}
input, img { vertical-align: middle;}
input,button,select,textarea{outline:none}
textarea{resize:none}
input[type="text"],input[type="button"], input[type="submit"], input[type="reset"], input[type="reset"], input[type="reset"]{
	-webkit-appearance: none;}
textarea,select,input {-webkit-appearance: none;}

.hide{ display:none;}

.page{
	width:100%;
	height:100%;
	position:absolute;
	font-size:100px;
	text-align:center;
}

.page .wrap{
	height:500px;
}

.page-1-1{ background:url(../img/o-bg.jpg) center center no-repeat ;width:100%;height:100%; background-size:cover;}
.page-2-1{ background: url(../img/t-bg.jpg) center center no-repeat ;width:100%;height:100%; background-size:cover;}
.page-3-1{ background: url(../img/s-bg.jpg) center center no-repeat ;width:100%;height:100%; background-size:cover; }
.page-4-1{ background: url(../img/f-bg2.jpg) center center no-repeat ;width:100%;height:100%; background-size:cover; }
.page-5-1{ background: url(../img/f-bg1.jpg) center center no-repeat ;width:100%;height:100%; background-size:cover; }
.page-current{
	z-index:1;
}

.page-1-1 .img_1 {
	height:auto;width:336px;
	position:absolute;
	left:49%;
	top:39%;
	margin-left:-160px;
	z-index:999;
	margin-top:-198.75px
}
.page-1-1 .img_2 {
	height:auto;width:96.5px;
	position:absolute;
	left:52%;
	bottom:9%;
	margin-left:-54.5px
}

@media screen and (max-height:568px){
	.page-1-1 .img_1 {
		height:auto;width:286px;
		position:absolute;
		left:56%;
		top:43%;
		margin-left:-160px;
		z-index:999;
		margin-top:-198.75px
	}
	.page-1-1 .img_2 {
		height:auto;width:95.5px;
		position:absolute;
		left:53%;
		bottom:10%;
		margin-top:-54.5px
	}
	
}


@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
	.page-1-1 .img_1 {
		height:auto;width:336px;
		position:absolute;
		left:49%;
		top:39%;
		margin-left:-160px;
		z-index:999;
		margin-top:-198.75px
	}
	.page-1-1 .img_2 {
		height:auto;width:110.5px;
		position:absolute;
		left:50%;
		bottom:10%;
		margin-top:-54.5px
	}
	
}
.page-1-1 .img_3 {
	height:auto;width:17px;
	position:absolute;
	left:50%;
	bottom:5%;
	margin-left:-12px;
}





.page-2-1 .img_1 {
	height:auto;width:313.5px;
	position:absolute;
	left:19%;
	top:50px;
	margin-left:-38.75px;
}
.page-2-1 .img_2 {
	height:auto;width:313px;
	position:absolute;
	left:40%;
	top:39%;
	margin-left:-120px;
}
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){
	.page-2-1 .img_1 {
		height:auto;width:272.5px;
		position:absolute;
		left:19%;
		top:4%;
		margin-left:-38.75px;
	}
	.page-2-1 .img_2 {
		height:auto;width:274px;
		position:absolute;
		left:44%;
		top:41%;
		margin-left:-120px;
	}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
	.page-2-1 .img_1 {
		height:auto;width:272.5px;
		position:absolute;
		left:19%;
		top:73px;
		margin-left:-38.75px;
	}
	.page-2-1 .img_2 {
		height:auto;width:274px;
		position:absolute;
		left:44%;
		top:47%;
		margin-left:-120px;
	}
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
	.page-2-1 .img_1 {
	height:auto;width:348.5px;
	position:absolute;
	left:16%;
	top:9%;
	margin-left:-38.75px;
}
.page-2-1 .img_2 {
	height:auto;width:354px;
	position:absolute;
	left:35%;
	top:47%;
	margin-left:-120px;
}
}
.page-2-1 .img_6 {
	height:auto;width:17px;
	position:absolute;
	left:50%;
	bottom:5%;
	margin-left:-12px;
}








.page-3-1 .img_1 {
	height:auto;width:181px;
	position:absolute;
	right:8%;
	top:1%;
	margin-left:-66px;
	z-index:2;
}
.page-3-1 .img_2 {
	height:auto;width:238px;
	position:absolute;
	left:35%; 
	margin-left:-107px;
	top:3%;
}
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){
	.page-3-1 .img_1 {
		height:auto;width:118px;
		position:absolute;
		right:1%;
		top:1%;
		margin-left:-66px;
		z-index:2;
	}
	.page-3-1 .img_2 {
		height:auto;width:215px;
		position:absolute;
		left:40%;
		margin-left:-107px;
		top:1%;
	}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
	.page-3-1 .img_1 {
	height:auto;width:148px;
	position:absolute;
	right:7%;
	top:1%;
	margin-left:-66px;
	z-index:2;
}
	.page-3-1 .img_2 {
	height:auto;width:215px;
	position:absolute;
	left:40%; 
	margin-left:-107px;
	top:3%;
}
	
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
	.page-3-1 .img_1 {
	height:auto;width:204px;
	position:absolute;
	right:7%;
	top:2%;
	margin-left:-66px;
	z-index:2;
}
	.page-3-1 .img_2 {
	height:auto;width:275px;
	position:absolute;
	left:32%; 
	margin-left:-107px;
	top:4%;
}
	
}
.page-3-1 .img_6 {
	height:auto;width:17px;
	position:absolute;
	left:50%;
	bottom:3%;
	margin-left:-12px;
}





.page-4-1 .img_1 {
	height:auto;width:218px;
	position:absolute;
	right:4%;
	top:3%;
	margin-left:-134px;
	z-index:2;
}

.page-4-1 .img_2 {
	height:auto;width:305.5px;
	position:absolute;
	left:44%;
	top:18%;
	margin-left:-133.25px;
}

@media screen and (max-height:568px){
	.page-4-1 .img_1 {
	height:auto;width:193px;
	position:absolute;
	right:4%;
	top:4%;
	margin-left:-134px;
	z-index:2;
}

.page-4-1 .img_2 {
	height:auto;width:276.5px;
	position:absolute;
	left:48%;
	top:19%;
	margin-left:-133.25px;
}
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
	.page-4-1 .img_1 {
	height:auto;width:238px;
	position:absolute;
	right:4%;
	top:3%;
	margin-left:-134px;
	z-index:2;
}

.page-4-1 .img_2 {
	height:auto;width:360.5px;
	position:absolute;
	left:39%;
	top:19%;
	margin-left:-133.25px;
}
}
.page-4-1 .img_6 {
	height:auto;width:17px;
	position:absolute;
	left:50%;
	bottom:4%;
	margin-left:-12px;
}
.page-5-1 .control-input{ position:absolute; left:10%; top:26%; font-size:10px; width:79%; overflow: hidden;}
.page-5-1 .input-group-bo{ padding:0 0 10px 0;}
.page-5-1 .input-group-bo input{ border-radius:200px; -webkit-appearance: none; zoom: 1; background:#fff; border:none; padding:12px 10%; width:78%; font-size:1.6em;}
.page-5-1 .input-title{ padding-top:2px; font-size:1.4em; color:#8a898c; text-align:left;}
.page-5-1 .input-check{ padding-top:10px; text-align:left; width:110%}
.page-5-1 .input-check span{ margin-right:5px; display:inline-block; color:#5d5d5d; font-size:1.6em; margin-bottom:18px;}
.page-5-1 .input-check span i{ background:url(../img/check.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px; margin-right:6px;}
.page-5-1 .input-check span.hover i{ background:url(../img/checked.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px;}
.page-5-1 .input-bottom{ padding-top:10px;}
.page-5-1 .input-btn{ width:100%; background:#f9d02e; border-radius:200px; padding:12px 0; font-weight:700; text-align:center; font-size:1.6em; color:#fff; display:inline-block;}
.decoration_type{ text-align: left;}
.decoration_type label{ font-size: 1.4em; margin-right:13px;}
.decoration_type span{ cursor: pointer; margin-right: 8px; font-size: 1.6em; -webkit-tap-highlight-color:transparent; color: #5d5d5d;}
.decoration_type span i{ position: relative; border:1px solid #c9c9c9; border-radius:16px; width: 16px; height: 16px; display: inline-block; vertical-align:-3px; margin-right: 8px;}
.decoration_type span i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: none; width: 10px; height: 10px; display: inline-block;}
.decoration_type span.hover i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: #37afdf; width: 10px; height: 10px; display: inline-block;}
@media screen and (max-height: 480px) { /*å½“å±å¹•é«˜åº¦å°äºŽ470pxæ—¶ï¼Œåº”ç”¨ä¸‹é¢çš„CSSæ ·å¼*/
	.page-5-1 .control-input{ position:absolute; left:10%; top:20%; font-size:10px; width:79%;}
	.page-5-1 .input-group-bo{ padding:0 0 10px 0;}
	.page-5-1 .input-group-bo input{ border-radius:200px; -webkit-appearance: none; background:#fff; border:1px solid #fff; padding:5px 10%; width:78%; font-size:1.6em;}
	.page-5-1 .input-title{ padding-top:8px; font-size:1.4em; color:#8a898c; text-align:left;}
	.page-5-1 .input-check{ padding-top:10px; text-align:left; width:110%}
	.page-5-1 .input-check span{ margin-right:5px; display:inline-block; color:#5d5d5d; font-size:1.6em; margin-bottom:14px;}
	.page-5-1 .input-check span i{ background:url(../img/check.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px; margin-right:6px;}
	.page-5-1 .input-check span.hover i{ background:url(../img/checked.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px;}
	.page-5-1 .input-bottom{ padding-top:0px;}
	.page-5-1 .input-btn{ width:100%; background:#f9d02e; border-radius:200px; padding:12px 0; font-weight:700; text-align:center; font-size:1.6em; color:#fff; display:inline-block;}
	.decoration_type{ text-align: left; margin-bottom: 8px;}
	.decoration_type label{ font-size: 1.4em;}
	.decoration_type span{ cursor: pointer; margin-right: 6px; font-size: 1.6em;}
	.decoration_type span i{ position: relative; border:1px solid #c9c9c9; border-radius:16px; width: 16px; height: 16px; display: inline-block; vertical-align:-3px; margin-right: 6px;}
	.decoration_type span i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: none; width: 10px; height: 10px; display: inline-block;}
	.decoration_type span.hover i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: #37afdf; width: 10px; height: 10px; display: inline-block;}
}
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){
	.page-5-1 .control-input{ position:absolute; left:10%; top:20%; font-size:10px; width:79%;}
	.page-5-1 .input-group-bo{ padding:0 0 10px 0;}
	.page-5-1 .input-group-bo input{ border-radius:200px; -webkit-appearance: none; background:#fff; border:1px solid #fff; padding:7px 10%; width:78%; font-size:1.6em;}
	.page-5-1 .input-title{ padding-top:8px; font-size:1.4em; color:#8a898c; text-align:left;}
	.page-5-1 .input-check{ padding-top:10px; text-align:left; width:110%}
	.page-5-1 .input-check span{ margin-right:5px; display:inline-block; color:#5d5d5d; font-size:1.6em; margin-bottom:13px;}
	.page-5-1 .input-check span i{ background:url(../img/check.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px; margin-right:6px;}
	.page-5-1 .input-check span.hover i{ background:url(../img/checked.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px;}
	.page-5-1 .input-bottom{ padding-top:0px;}
	.page-5-1 .input-btn{ width:100%; background:#f9d02e; border-radius:200px; padding:12px 0; font-weight:700; text-align:center; font-size:1.6em; color:#fff; display:inline-block;}
	.decoration_type{ text-align: left;  margin-bottom: 8px;}
	.decoration_type label{ font-size: 1.4em;}
	.decoration_type span{ cursor: pointer; margin-right: 6px; font-size: 1.6em;}
	.decoration_type span i{ position: relative; border:1px solid #c9c9c9; border-radius:16px; width: 16px; height: 16px; display: inline-block; vertical-align:-3px; margin-right: 6px;}
	.decoration_type span i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: none; width: 10px; height: 10px; display: inline-block;}
	.decoration_type span.hover i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: #37afdf; width: 10px; height: 10px; display: inline-block;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){


	.page-5-1 .control-input{ position:absolute; left:10%; top:25%; font-size:10px; width:79%;}
.page-5-1 .input-group-bo{ padding:0 0 12px 0;}
.page-5-1 .input-group-bo input{ border-radius:200px; background:#fff; border:1px solid #fff; padding:8px 10%; width:78%; font-size:1.6em;}
.page-5-1 .input-title{ padding-top:0px; font-size:1.4em; color:#8a898c; text-align:left;}
.page-5-1 .input-check{ padding-top:8px; text-align:left; width:110%}
.page-5-1 .input-check span{ margin-right:5px; display:inline-block; color:#5d5d5d; font-size:1.6em; margin-bottom:14px;}
.page-5-1 .input-check span i{ background:url(../img/check.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px; margin-right:6px;}
.page-5-1 .input-check span.hover i{ background:url(../img/checked.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px;}
.page-5-1 .input-bottom{ padding-top:0px;}
.page-5-1 .input-btn{ width:100%; background:#f9d02e; border-radius:200px; padding:12px 0; font-weight:700; text-align:center; font-size:1.6em; color:#fff; display:inline-block;}
	.decoration_type{ text-align: left;  margin-bottom: 8px;}
	.decoration_type label{ font-size: 1.4em;}
	.decoration_type span{ cursor: pointer; margin-right: 6px; font-size: 1.6em;}
	.decoration_type span i{ position: relative; border:1px solid #c9c9c9; border-radius:16px; width: 16px; height: 16px; display: inline-block; vertical-align:-3px; margin-right: 6px;}
	.decoration_type span i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: none; width: 10px; height: 10px; display: inline-block;}
	.decoration_type span.hover i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: #37afdf; width: 10px; height: 10px; display: inline-block;}
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
.page-5-1 .control-input{ position:absolute; left:10%; top:25%; font-size:10px; width:79%;}
.page-5-1 .input-group-bo{ padding:0 0 10px 0;}
.page-5-1 .input-group-bo input{ border-radius:200px; background:#fff; border:1px solid #fff; padding:12px 10%; width:78%; font-size:1.6em;}
.page-5-1 .input-title{ padding-top:8px; font-size:1.4em; color:#8a898c; text-align:left;}
.page-5-1 .input-check{ padding-top:10px; text-align:left; width:110%}
.page-5-1 .input-check span{ margin-right:9px; display:inline-block; color:#5d5d5d; font-size:1.6em; margin-bottom:18px;}
.page-5-1 .input-check span i{ background:url(../img/check.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px; margin-right:6px;}
.page-5-1 .input-check span.hover i{ background:url(../img/checked.png) no-repeat; background-size:100%; width:20px; height:20px; display:inline-block; vertical-align:-4px;}
.page-5-1 .input-bottom{ padding-top:15px;}
.page-5-1 .input-btn{ width:100%; background:#f9d02e; border-radius:200px; padding:12px 0; font-weight:700; text-align:center; font-size:1.6em; color:#fff; display:inline-block;}
	.decoration_type{ text-align: left;}
	.decoration_type label{ font-size: 1.4em; margin-right:13px;}
	.decoration_type span{ cursor: pointer; margin-right: 8px; font-size: 1.6em; background: none;}
	.decoration_type span i{ position: relative; border:1px solid #c9c9c9; border-radius:16px; width: 16px; height: 16px; display: inline-block; vertical-align:-3px; margin-right: 8px;}
	.decoration_type span i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: none; width: 10px; height: 10px; display: inline-block;}
	.decoration_type span.hover i storng{ position: absolute; top:1px; left: 1px; margin: 2px; border-radius: 10px; background: #37afdf; width: 10px; height: 10px; display: inline-block;}
}
/* å¼¹å±‚ */
.mask-layer{opacity: 0.7; position: fixed; left: 0px; top: 0px; width: 100%;  height: 100%; overflow: hidden; -webkit-user-select: none; z-index: 1023; background: rgb(0, 0, 0); display:none; }
.baoming-layer{ position: absolute; outline: 0px; left: 20px; top: 12px; z-index: 1024; display:none; }
.baoming-layer .layer-bg{ background:url(../img/wx_share.png) no-repeat; width: 720px; height: 854px; background-size: 47%;}
@media screen and (max-height: 470px) {/*å½“å±å¹•é«˜åº¦å°äºŽ470pxæ—¶ï¼Œåº”ç”¨ä¸‹é¢çš„CSSæ ·å¼*/
	.mask-layer{opacity: 0.7; position: fixed; left: 0px; top: 0px; width: 100%;  height: 100%; overflow: hidden; -webkit-user-select: none; z-index: 1023; background: rgb(0, 0, 0); display:none; }
	.baoming-layer{ position: absolute; outline: 0px; left: 35px; top: 12px; z-index: 1024; display:none; }
	.baoming-layer .layer-bg{ background:url(../img/wx_share.png) no-repeat; width: 720px; height: 854px; background-size: 35%;}
}
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){
	.mask-layer{opacity: 0.7; position: fixed; left: 0px; top: 0px; width: 100%;  height: 100%; overflow: hidden; -webkit-user-select: none; z-index: 1023; background: rgb(0, 0, 0); display:none; }
.baoming-layer{ position: absolute; outline: 0px; left: 15px; top: 9px; z-index: 1024; display:none; }
.baoming-layer .layer-bg{ background:url(../img/wx_share.png) no-repeat; width: 720px; height: 854px; background-size: 38%;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
	.mask-layer{opacity: 0.7; position: fixed; left: 0px; top: 0px; width: 100%;  height: 100%; overflow: hidden; -webkit-user-select: none; z-index: 1023; background: rgb(0, 0, 0);  display:none;}
.baoming-layer{ position: absolute; outline: 0px; left: 20px; top: 12px; z-index: 1024; display:none; }
.baoming-layer .layer-bg{ background:url(../img/wx_share.png) no-repeat; width: 720px; height: 854px; background-size: 39%;}
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
	.mask-layer{opacity: 0.7; position: fixed; left: 0px; top: 0px; width: 100%;  height: 100%; overflow: hidden; -webkit-user-select: none; z-index: 1023; background: rgb(0, 0, 0);  display:none;}
.baoming-layer{ position: absolute; outline: 0px; left: 20px; top: 12px; z-index: 1024; display:none; }
.baoming-layer .layer-bg{ background:url(../img/wx_share.png) no-repeat; width: 720px; height: 854px; background-size: 51%;}
}









