@charset "utf-8";
@import "../../../fh/lib";
.module_nav{
  background: #009933;
  height: 40px;
}
.module_nav>ul{
  >li{
    float: left;
    position: relative;
    &:hover{
      .icon_arrow{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      >a{
        background-color: #018a2e;
      }
      .subnav{
        display: block;
      }
    }
    >a{
      display: block;
      padding:0 24px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      color: #fff;
    }
  }
  .current{
    background-color: #018a2e;
  }
}
.icon_arrow{
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: 3px;
  margin-left: 10px;
  border-left:5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
  border-top: 5px solid #fff;
  @include transition($time:0.2s,$speed:ease);
  animation-iteration-count: 1;
}
.module_nav>ul>li .subnav{
  position: absolute;
  top:40px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #093;
  font-size: 13px;
  text-align: center;
  li{
    margin:10px 0;
  }
  li>a{
    display: block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #018a2e;
  }
}