@charset "UTF-8";
@import "../lib/lib";
@import "../module/mall/_adarea";
body{
  background-color: #fff;
}
.module_ad_img {
  background-size: 100% 100% !important;
}

//新闻列表
.new_box {
  margin: 0 10px;
  border-bottom: 1px solid #e4e4e4;
  .new_title {
    margin: 10px 0 0;
    a {
      position: relative;
      display: block;
      font-size: 16px;
      color: #333;
    }
    span{
      position: absolute;
      top:0;
      right: 0;
      font-size: 12px;
    }
  }
  .new_item {
    width: 100%;
    padding: 3% 0;
    height: 68px;
    margin: 0 auto;
    overflow: hidden;
    > a {
      position: relative;
      display: block;
      height: 68px;
      overflow: hidden;
    }
    .new_img {
      position: absolute;
      left: 0;
      height: 68px;
      width: 110px;
      overflow: hidden;
      .new_table {
        display: table-cell;
        height: 68px;
        width: 110px;
        text-align: center;
        img {
          height: 68px;
          width: 110px;
        }
      }
    }
  }
  .new_text, .writer_info {
    margin-left: 125px;
    font-size: 14px;
  }
  .new_text {
    margin-top: 3px;
    color: #333;
    @include strictEll(1.4, 2);
  }
  .writer_info {
    position: absolute;
    bottom: 0;
    color: #999;
    font-size: 12px;
    .writer {
      margin-right: 6px;
    }
  }
  .look {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #999;
    font-size: 12px;
  }
}

//无图片
.new_box .no_img {
  height: 70px;
  a {
    height: 70px;
  }
  .new_text, .writer_info {
    margin-left: 0;
  }
}

//课程安排
.class_list {
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4;
  .new_title {
    margin: 10px;
    a {
      position: relative;
      display: block;
      font-size: 16px;
      color: #333;
    }
    span{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
    }
  }
  .class_list_box {
    margin: 0 10px;
    overflow: hidden;
  }
  .new_item {
    float: left;
    width: 49%;
    overflow: hidden;
    margin-bottom: 10px;
    > a {
      display: block;
      overflow: hidden;
    }
    .new_img {
      height: 110px;
      width: 100%;
      margin-bottom: 6px;
      .new_table {
        height: 110px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        img {
          max-height: 110px;
          width: 100%;
          vertical-align: middle;
        }
      }
    }
    .list_title{
      margin: 5px 0;
      font-size: 16px;
      color: #333;
      height: 20px;
      overflow: hidden;
    }
    .new_text{
      font-size: 14px;
      color: #888;
      @include strictEll(1.4,2);
      overflow: hidden;
    }
  }
  .new_item:nth-of-type(2n) {
    float: right;
  }
}
@media only screen and (min-width: 640px){
  .class_list .new_item .new_img {
    height: 189px;
    .new_table {
      height: 189px;
      img {
        max-height: 189px;
        width: 100%;
        vertical-align: middle;
      }
    }
  }
}


